Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Update step input for FormScale component to use integer values
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
Due: eslint --fix, prettier --write

feat: Add kids primary variant
  assets/core/scss/themes/_kids.scss
Due: none

Edit and delete option added to learning area reviews
  assets/src/js/frontend/components/reviews.ts
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
  templates/learning-area/subpages/reviews.php
  templates/learning-area/subpages/reviews/review-card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Sidebar design fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

Missing pending reviews added to profile reviews
  templates/dashboard/account/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(buttons): update border shadow tokens
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_kids.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_borders.scss
Due: none

Confirmation modal icon updated
  assets/images/delete-reviews.svg
  templates/dashboard/account/reviews.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update button icon color
  assets/core/scss/mixins/_buttons.scss
Due: none

Refactor codebase
  classes/Course.php
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused button text tokens
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_buttons.scss
  assets/core/scss/tokens/_text-colors.scss
Due: none

chore: Remove unused token
  assets/core/scss/themes/_kids.scss
Due: none

refactor(buttons): use base token vars
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/tokens/_buttons.scss
Due: none

feat(storybook): add icon-only control
  stories/core/Button.stories.tsx
Due: eslint --fix, prettier --write

refactor: Update button token
  assets/core/scss/tokens/_buttons.scss
Due: none

feat(mixins): add kids mode helper
  assets/core/scss/mixins/_utilities.scss
Due: none

feat(cards): add kids mode border and radius
  assets/core/scss/mixins/_cards.scss
  assets/core/scss/tokens/_borders.scss
Due: none

feat(badges): round kids badges
  assets/core/scss/mixins/_badges.scss
Due: none

refactor(profile): reuse card and badge mixins
  assets/src/scss/frontend/dashboard/_profile.scss
Due: none

feat: Enhance quiz attempt details with improved scale question UI and styling
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  templates/shared/components/quiz/attempt-details/questions/scale.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Added default upload type for assignment
  assets/react/front/course/_spotlight.js
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Retake course functionalities added
  assets/src/js/frontend/learning-area/pages/course-info.ts
  classes/Course.php
  templates/learning-area/subpages/course-info.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

tutor kids mood initiated
  assets/src/scss/frontend/kids/_courses.scss
  assets/src/scss/frontend/kids/_mixins.scss
  assets/src/scss/frontend/kids/_sidebar.scss
  assets/src/scss/frontend/kids/index.scss
  assets/src/scss/frontend/main/dashboard.scss
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add support for scale question type in quiz reveal mode and enhance UI interactions
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  templates/learning-area/quiz/questions/scale.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Implement scale context decoding for quiz reveal mode and update related templates
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/questions/scale.php
  templates/single/quiz/body.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

change theme mood name to data-tutor-ui
  assets/src/scss/frontend/kids/_button.scss
  assets/src/scss/frontend/kids/_courses.scss
  assets/src/scss/frontend/kids/_mixins.scss
  assets/src/scss/frontend/kids/_sidebar.scss
  assets/src/scss/frontend/kids/index.scss
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

kids dashbaord, button, mixin, common scss added
  assets/core/scss/mixins/_badges.scss
  assets/core/scss/mixins/_cards.scss
  assets/core/scss/themes/_index.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/kids/_common.scss
  assets/src/scss/frontend/kids/_courses.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/kids/_mixins.scss
  assets/src/scss/frontend/kids/index.scss
  assets/src/scss/frontend/main/learning-area.scss
  templates/dashboard/account/billing.php
  templates/dashboard/account/settings/social-accounts.php
  templates/dashboard/discussions/comment-list.php
  templates/dashboard/discussions/qna-list.php
  templates/ecommerce/billing.php
  templates/learning-area/subpages/qna.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

review card edit mood border radius added
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

resolved: discussion edit mood goes outside of card
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(scss): remove redundant button tokens
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/tokens/_buttons.scss
Due: none

Emoji support added to star rating input component.
  assets/core/scss/components/_index.scss
  assets/core/scss/components/_star-rating.scss
  assets/core/ts/components/star-rating.ts
  assets/images/emojis/amazing.png
  assets/images/emojis/fair.png
  assets/images/emojis/good.png
  assets/images/emojis/okay.png
  assets/images/emojis/poor.png
  components/StarRatingInput.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Review modal implemented
  assets/src/js/frontend/components/reviews.ts
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/_star-rating.scss
  assets/src/scss/frontend/learning-area/_index.scss
  assets/src/scss/frontend/learning-area/_reviews.scss
  templates/learning-area/subpages/reviews.php
  templates/learning-area/subpages/reviews/create-review-modal.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Complete course modal design fixed
  classes/Course.php
  classes/Reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Settings added for kids mode
  classes/Assets.php
  classes/Lesson.php
  classes/Options_V2.php
  classes/Template.php
  classes/Utils.php
  components/SvgIcon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Dashboard sideboard icons added for kids mode
  assets/icons/kids/calendar-2.svg
  assets/icons/kids/completed-circle.svg
  assets/icons/kids/courses.svg
  assets/icons/kids/home.svg
  assets/icons/kids/notes.svg
  assets/icons/kids/play-line.svg
  assets/icons/kids/qa.svg
  assets/icons/kids/time.svg
  templates/dashboard/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove kids UI mixins and related styles from SCSS files
  assets/core/scss/mixins/_badges.scss
  assets/core/scss/mixins/_cards.scss
  assets/core/scss/mixins/_utilities.scss
  assets/core/scss/themes/_index.scss
  assets/core/scss/themes/_kids.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/kids/_common.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

Design issues fixed
  assets/core/scss/components/_modal.scss
  assets/core/scss/main.scss
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/mixins/_inputs.scss
  assets/images/illustrations/retake-course.svg
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  components/Constants/Size.php
  components/Sorting.php
  templates/dashboard/announcements.php
  templates/dashboard/quiz-attempts.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: include .tutor-my-courses-card in kids-shadow mixin
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

Missing colors added
  assets/core/scss/components/_star-rating.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_borders.scss
  assets/core/scss/tokens/_surfaces.scss
Due: none

refactor: rename kids-shadow mixin to tutor-kids-shadow and update usage in dashboard styles
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_mixins.scss
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
