Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): align legacy runtime with v4 settings
  assets/src/js/front/course/_spotlight-quiz.js
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
  templates/shared/components/quiz/attempt-details/summary.php
  templates/single/quiz/body.php
  templates/single/quiz/parts/meta.php
  templates/single/quiz/parts/question.php
  templates/single/quiz/previous-attempts.php
  templates/single/quiz/top.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): update builder attempt limit payload
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

refactor(quiz): remove redundant retry mutation guard
  assets/src/js/frontend/components/quiz/retry-attempt.ts
Due: eslint --fix, prettier --write

Missing page title added with responsive fixes
  components/DateFilter.php
  components/SearchFilter.php
  templates/dashboard/announcements.php
  templates/dashboard/components/sidebar-nav-mobile.php
  templates/dashboard/courses.php
  templates/dashboard/discussions.php
  templates/dashboard/my-courses.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

add gradebook scss
  assets/src/scss/frontend/learning-area/_gradebook.scss
  assets/src/scss/frontend/learning-area/_index.scss
Due: none

Update quiz-attempts-group.php
  templates/dashboard/components/quiz-attempts-group.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

formate scss
  assets/src/scss/frontend/learning-area/_gradebook.scss
Due: none

fix(quiz): update quiz options reference in spotlight quiz script
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

chore: Remove required rules
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Using helper method instead of constructing
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add action hook before question wrapper closes in attempt details
  templates/shared/components/quiz/attempt-details/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): add missing newline at end of spotlight quiz script
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

updated get enrollments query
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): remove scale question handling from quiz logic
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): prevent revealing answers when no answer IDs are available
  assets/src/js/frontend/learning-area/quiz/submission.ts
Due: eslint --fix, prettier --write

fix(quiz): streamline answer reveal logic in quiz layout
  assets/src/js/frontend/learning-area/quiz/layout.ts
Due: eslint --fix, prettier --write

refactor(quiz): update quiz attempt details styles and remove unused scale question styles
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

refactor(quiz): clean up quiz attempt details styles by removing redundant overflow rules
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

Removed html markup from tutor_price() and changes other file related to this
  classes/Instructor.php
  classes/Utils.php
  templates/dashboard/account/withdrawals.php
  templates/dashboard/instructor/analytics/stat-card-hover.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/top-performing-course-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): simplify quiz body logic by removing unused scale question handling
  templates/single/quiz/body.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): correct answer reveal logic for supported question types
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changes in other file for removing html markup from tutor_price
  includes/tutor-general-functions.php
  templates/dashboard/account/billing/order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add aspect ratio utilities (.tutor-ratio)
  assets/core/scss/utilities/_layout.scss
Due: none

Changes for removing html markup from tutor_get_formatted_price()
  includes/tutor-general-functions.php
  templates/dashboard/account/billing/order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Showing fatal error when student submit quiz & it contains fill in the gap
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

remove gradebook css
  assets/src/scss/frontend/learning-area/_gradebook.scss
  assets/src/scss/frontend/learning-area/_index.scss
Due: none

feat: Add Kids mode styles
  assets/icons/kids/call-end.svg
  assets/icons/kids/clock-2.svg
  assets/icons/kids/instructor.svg
  assets/icons/kids/key.svg
  assets/icons/kids/level.svg
  assets/icons/kids/material.svg
  assets/icons/kids/ratings.svg
  assets/src/scss/frontend/dashboard/_reviews.scss
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(progress): add kids progress theme tokens
  assets/core/scss/components/_progress.scss
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_progress.scss
  assets/src/scss/frontend/kids/_progress.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

fix(reviews): refine kids average rating card
  assets/src/scss/frontend/kids/_learning-area.scss
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): preserve question answer randomization in v4
  classes/Quiz.php
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/matching.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): rename submitted illustration asset
  assets/images/quiz-submitted.svg
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(url): normalize return type spacing in UrlHelper
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(url): add kids-aware asset resolver
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(settings): add kids mode preference icons
  assets/icons/interface.svg
  assets/icons/kids/billing.svg
  assets/icons/kids/devices.svg
  assets/icons/kids/filter-2.svg
  assets/icons/kids/font.svg
  assets/icons/kids/globe.svg
  assets/icons/kids/interface.svg
  assets/icons/kids/light.svg
  assets/icons/kids/member.svg
  assets/icons/kids/notification-2.svg
  assets/icons/kids/security.svg
  assets/icons/kids/user-circle.svg
  assets/icons/preference.svg
  assets/icons/profile-circle.svg
  assets/icons/user-circle-fill.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/kids/_learning-area.scss
  classes/Dashboard.php
  classes/Icon.php
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): use configured format for attempt dates
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(UserPreference): extract preference setting logic into reusable methods
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(reviews): load instructor account reviews
  templates/dashboard/account/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(auth): add password visibility toggle to login and registration forms
  templates/dashboard/instructor/apply_for_instructor.php
  templates/dashboard/instructor/logged-in.php
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Missing edit button on instructor profile page.
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
