Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Improve RTL-safe editor styling
  assets/core/scss/components/_wp-editor.scss
  assets/core/scss/components/_wp-media-modal.scss
  assets/src/js/v3/shared/atoms/TextInput.tsx
  assets/src/js/v3/shared/molecules/Paginator.tsx
Due: eslint --fix, prettier --write

feat(quiz-settings): Add admin negative value normalization
  assets/src/js/v3/entries/course-builder/components/curriculum/NegativeMarkTypeMismatchNotice.tsx
Due: eslint --fix, prettier --write

fix(quiz): Allow fraction earned marks
  views/quiz/attempt-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): improve base64 encoding/decoding methods in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): update header naming conventions in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): streamline API key retrieval in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(auth): sanitize authorization header in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

Fix JS escaping in Alpine templates
  templates/dashboard/account/settings/account.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/learning-area/subpages/qna/form.php
  templates/learning-area/subpages/reviews/create-review-modal.php
  templates/learning-area/subpages/reviews/review-card.php
  templates/shared/tour.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Add re attempt guard
  assets/src/js/frontend/learning-area/quiz/submission.ts
  classes/Quiz.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Revert return type change
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): Add partial and negative info
  templates/single/quiz/top.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): Add generic naming
  templates/single/quiz/top.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(restapi): enhance quiz attempt details security and accuracy
  restapi/REST_Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): remove login rate limiting from RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(api): implement token lifetime settings management in REST API
  assets/src/js/admin-dashboard/segments/manage-api-keys.js
  assets/src/scss/admin-dashboard/v2/components/_form-elements.scss
  restapi/RestAuth.php
  views/pages/tools/manage-tokens.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: SQL injection in OrderModel get_statements and broken access control in Course WooCommerce product endpoints
  classes/Course.php
  classes/Instructor.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(restapi): replace static calls with self in REST API classes
  restapi/REST_Author.php
  restapi/REST_Course.php
  restapi/REST_Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use tutor_json_encode and escape JS data
  components/Tabs.php
  models/QuizModel.php
  phpcs.xml.dist
  templates/dashboard/account/reviews/review-card.php
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/account.php
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/account/settings/reset-password-modal.php
  templates/dashboard/account/settings/security.php
  templates/dashboard/account/settings/social-accounts.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/discussions/comment-form.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-form.php
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/course-completion-chart.php
  templates/dashboard/instructor/home/overview-chart.php
  templates/dashboard/instructor/home/top-performing-course-filter.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/ecommerce/billing.php
  templates/learning-area/lesson/comment-form.php
  templates/learning-area/lesson/content.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/subpages/qna/form.php
  templates/learning-area/subpages/reviews/create-review-modal.php
  templates/learning-area/subpages/reviews/review-card.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  templates/shared/tour.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix JS string escaping in templates
  components/DropdownFilter.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-single.php
  templates/login-form-legacy.php
  templates/login-form.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Text updated credit to points
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Release date updated
  readme.txt
Due: none

feat(payment): Add validation to payment method fields
  assets/src/js/v3/entries/payment-settings/services/payment.ts
  assets/src/js/v3/shared/utils/validation.ts
Due: eslint --fix, prettier --write

refactor(payment): Enhance payment filed validation
  assets/src/js/v3/entries/payment-settings/components/PaymentItem.tsx
Due: eslint --fix, prettier --write

refactor(payment): Update paypal field type
  ecommerce/Settings.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(restapi): enhance token lifetime management in RestAuth class
  restapi/RestAuth.php
  views/pages/tools/manage-tokens.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Resolve zero value getting set to negative mark
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

fix(restapi): update permission checks for API key deletion in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(restapi): update versioning in documentation for REST API classes
  restapi/REST_Quiz.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Data validation added for the Withdraw method
  assets/src/js/frontend/dashboard/pages/settings.ts
  classes/Withdraw.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Validation error message updated
  classes/Withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Validation logic updated
  classes/Withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(restapi): update permission callback and enhance review privacy in REST API
  classes/RestAPI.php
  restapi/REST_Course.php
  restapi/REST_Rating.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(input): Resolve min value blocking the input
  assets/src/js/admin-dashboard/segments/options.js
  assets/src/js/lib/utilities.js
Due: none

feat(input): Remove scroll and up down arrow from number input
  assets/src/js/admin-dashboard/segments/options.js
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

Ficus visible style added to the reply button
  assets/src/scss/frontend/learning-area/_lesson-comments.scss
Due: none

esc_attr added in appropriate place
  templates/shared/tour.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Normalize withdraw AJAX response keys
  classes/Withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(restapi): streamline post retrieval in REST API classes
  restapi/REST_Course.php
  restapi/REST_Course_Announcement.php
  restapi/REST_Posts.php
  restapi/REST_Quiz.php
  restapi/REST_Topic.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
