Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

statistics show/hide for user profile
  templates/dashboard/account/profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Standardize quiz question input field names to use array syntax and update form component dynamic name access.
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Use bracket notation for dynamic property access in form component template bindings.
  assets/core/ts/components/form.ts
Due: eslint --fix, prettier --write

used empty() instead of isset()
  models/CourseModel.php
  templates/demo-components/dashboard/components/stat-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: remove unused CSS for profile notification content border
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

fix: Ensure unique input naming for fill-in-the-blank and image answering questions and integrate enhanced quiz form submission.
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use constant for toast container selector
  assets/core/ts/services/Toast.ts
Due: eslint --fix, prettier --write

Strict allowlist added for Tooltip
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

icon issue fix
  templates/dashboard/instructor/analytics/stat-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

undo the changes in demo component
  templates/demo-components/dashboard/components/stat-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update File Upload Component and Added some endpoints and Icon for Live Classes
  assets/icons/json.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Icon.php
  components/FileUploader.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Implement dynamic answer field names and event callbacks for quiz ordering and matching questions, adding clear drop zone functionality.
  assets/src/js/frontend/learning-area/pages/quiz.ts
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/ordering.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: migrate draw image mask handling to QuizModel
  classes/Quiz.php
  classes/QuizBuilder.php
  classes/Utils.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changed the function name for adding alpine attr
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: centralize quiz-related string literals into a new `QUIZ_CONSTANTS` object.
  assets/src/js/frontend/learning-area/pages/quiz.ts
Due: eslint --fix, prettier --write

refactor: improve URL validation for draw image masks
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

changed the variable name for allowed attrs in Tooltip
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: onclick added to sidebar menu item
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Streamline quiz ordering and matching event emission by removing redundant helper methods and refining order retrieval.
  assets/src/js/frontend/learning-area/pages/quiz.ts
Due: eslint --fix, prettier --write

refactor: update matching question's clear drop zone logic to use event object instead of direct element argument.
  assets/src/js/frontend/learning-area/pages/quiz.ts
  templates/learning-area/quiz/questions/matching.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace hardcoded clear button with Button component
  templates/learning-area/quiz/questions/matching.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance upload_base64_image method in Utils
  classes/Utils.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Content Access: has_course_content_access new method added to check if the current user can access the content
  classes/Lesson.php
  models/CourseModel.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance draw image answer handling in Quiz and QuizModel
  classes/Quiz.php
  models/QuizModel.php
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(input-field): use bracket access for alpine values/errors
  components/InputField.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/open-ended.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): split learning-area quiz modules
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/pages/quiz.ts
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/questions/matching.ts
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
  assets/src/js/frontend/learning-area/quiz/timer.ts
Due: eslint --fix, prettier --write

code formate
  templates/dashboard/account/profile.php
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added missing comment
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

has_course_content_access test cases added
  phpunit.xml.dist
  tests/phpunit/CourseModelTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Class renamed
  tests/phpunit/CourseModelTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add QnA edit/update, replies loader & UI
  assets/icons/read.svg
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Icon.php
  classes/Q_And_A.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-form.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Rename discussion replies to comment replies
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Lesson.php
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/comment-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve draw image handling in Quiz and CourseModel
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  classes/Quiz.php
  models/CourseModel.php
  models/QuizModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Use secondary icon color for button svgs
  assets/core/scss/mixins/_buttons.scss
Due: none

Form actions style fixed
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor discussion UI and form behavior
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-form.php
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/comment-single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: optimize draw image URL resolution in QuizModel
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use ghost button style and refine disabled state
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(templates): add filter for course loop button classes and text unify dashboard card buttons
  assets/src/scss/frontend/dashboard/_progress-card.scss
  includes/tutor-template-functions.php
  templates/course-embed.php
  templates/dashboard/courses/course-card.php
  templates/dashboard/student-dashboard.php
  templates/loop/add-to-cart-tutor.php
  templates/loop/add-to-cart-woocommerce.php
  templates/loop/course-continue.php
  templates/loop/course-price-edd.php
  templates/loop/course-price-tutor.php
  templates/loop/course-price-woocommerce.php
  templates/loop/course-price.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance quiz attempt file path handling
  classes/Quiz.php
  models/CourseModel.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
