Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(kids): add themed preference illustrations
  assets/icons/kids/logout.svg
  assets/icons/kids/reload-2.svg
  assets/icons/kids/setting.svg
  assets/images/illustrations/kids/reset-preference.webp
  assets/images/illustrations/reset-preference.webp
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor getFieldElementsByName function for improved element selection
  assets/src/js/frontend/learning-area/quiz/helpers.ts
Due: eslint --fix, prettier --write

Refactor quiz helper functions to streamline attempted field value validation
  assets/src/js/frontend/learning-area/quiz/helpers.ts
Due: eslint --fix, prettier --write

refactor: standardize ABSPATH checks, improve code documentation, and apply coding standard fixes across includes files
  includes/country.php
  includes/ecommerce-functions.php
  includes/tinymce_translate.php
  includes/translate-text.php
  includes/tutor-template-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor quiz helper functions to improve attempted value validation
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
Due: eslint --fix, prettier --write

Refactor quiz layout logic to streamline form state retrieval
  assets/src/js/frontend/learning-area/quiz/layout.ts
Due: eslint --fix, prettier --write

refactor: standardize PHPDoc documentation and wrap functions in existence checks for template functions
  includes/tutor-template-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(dashboard): adjust progress card flex layout for responsive design
  assets/src/scss/frontend/dashboard/_progress-card.scss
  assets/src/scss/frontend/dashboard/_stat-card.scss
Due: none

refactor: standardize PHPDoc blocks for template functions in tutor-template-functions.php
  includes/tutor-template-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Course content manipulation vulnerability fixed
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename variables to follow snake_case naming convention in tutor-template-functions.php
  includes/tutor-template-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(kids): style content drip cards in learning area
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

fix: remove redundant leading spaces from course duration meta output
  includes/tutor-template-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update SVG icons for quiz types to enhance visual consistency and accessibility
  assets/icons/quiz-essay.svg
  assets/icons/quiz-fill-in-the-blanks.svg
  assets/icons/quiz-image-answer.svg
  assets/icons/quiz-image-matching.svg
  assets/icons/quiz-multi-choice.svg
  assets/icons/quiz-ordering.svg
  assets/icons/quiz-short-answer.svg
  assets/icons/quiz-true-false.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
Due: eslint --fix, prettier --write

fix(quiz): guard imported matching settings
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/matching.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add kids style
  assets/icons/kids/completed-fill.svg
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

used wp_kses() instead of wp_kses_post()
  includes/tutor-general-functions.php
  templates/dashboard/account/billing/order-history-card.php
  templates/dashboard/account/withdrawals.php
  templates/dashboard/instructor/analytics/stat-card-hover.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home/top-performing-course-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add kids styles for notification
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

refactor: update Astra theme compatibility script with proper documentation, formatting, and versioned asset enqueuing
  includes/theme-compatibility/astra/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update theme compatibility versioning and standardize FlatPro code style
  includes/theme-compatibility/astra/functions.php
  includes/theme-compatibility/flatpro/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve code style and add versioning to GeneratePress compatibility scripts
  includes/theme-compatibility/generatepress/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve coding standards and add versioning to Hestia theme compatibility scripts
  includes/theme-compatibility/hestia/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve coding standards and add versioning to OceanWP compatibility scripts
  includes/theme-compatibility/oceanwp/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve coding standards and add versioning to Storefront theme compatibility scripts
  includes/theme-compatibility/storefront/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve code style and add versioning to Twenty Fifteen theme compatibility scripts
  includes/theme-compatibility/twentyfifteen/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: add file documentation and versioning to Twenty Seventeen theme compatibility scripts
  includes/theme-compatibility/twentyseventeen/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Improve layout responsiveness for quiz attempt details
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

Set configuration to set min-release-age and ignore post script installation
  .npmrc
Due: none

Update: Removed get_enrollments and get_total_enrollments from utils
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(ui): replace modal icons with themed illustrations
  assets/icons/bin.svg
  assets/icons/warning-colorized.svg
  assets/images/illustrations/delete.webp
  assets/images/illustrations/kids-reset-preference.svg
  assets/images/illustrations/kids/retake-course.webp
  assets/images/illustrations/kids/warning.webp
  assets/images/illustrations/reset-preference.svg
  assets/images/illustrations/retake-course.svg
  assets/images/illustrations/retake-course.webp
  assets/images/illustrations/warning.webp
  components/ConfirmationModal.php
  templates/dashboard/account/reviews.php
  templates/learning-area/index.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add 'coordinates' question type to quiz functionality
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionForm.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/utils/types.ts
  classes/Quiz.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Course Pre-requisites functionality not working.
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Profile design issues fixed
  assets/core/scss/mixins/_avatars.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/dashboard/_stat-card.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): contain oversized attempt content
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

Move the course info menu at bottom
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove duplicate code
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Zip remove command removed
  package.json
Due: none

sidebar menu active style added
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

discussion card reply button issue fixed
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/qna-card.php
  templates/learning-area/subpages/qna/card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Course auto completion not working fixed
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
