Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(qna): add go-to content links and deep-linkable course tabs
  assets/src/scss/frontend/components/_discussion-single.scss
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-single.php
  templates/single-course.php
  templates/single/course/enrolled/nav.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Space and doc comment added
  classes/RestAPI.php
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(discussions): simplify qna action URL and update icon
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Arbitary question or answer delete security vulnerability fixed
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Distinct select added to eleminate duplicate ids
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Considering all the courses to calculate completion rate when user is admin
  classes/Instructor.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Doc comment updated
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Optimize: Implemented cache on the instructor dashboard
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): calculate total marks properly for random question order
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Instructor can see course completion rate of all courses
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): resolve category text overflow in course progress card
  assets/src/scss/frontend/dashboard/_progress-card.scss
Due: none

chore: Use capitalized color codes
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): consolidate get_quiz_total_marks to a single SQL query
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Fix phpcs error
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Resolve phpcs error
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Use tab instead of space
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(learning-area): stabilize expand button positioning and content transition in site shell
  assets/src/scss/frontend/learning-area/layout/_header.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

fix(learning-area): reset sidebar bottom padding on mobile drawer
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

Changelog & version updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(dashboard): add architectural decision records for ajax lazyloading and adapter pattern
  CONTEXT.md
  docs/adr/0001-dashboard-ajax-lazyloading-architecture.md
  docs/adr/0002-dashboard-metrics-adapter-pattern.md
  docs/research/instructor-dashboard-ajax-skeleton-lazyload.md
Due: prettier --write

feat(components): add zero-cls Skeleton component and enhance DateFilter
  components/DateFilter.php
  components/Skeleton.php
  purgecss.config.mjs
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): implement InstructorMetricsAdapter and DashboardSectionManager
  classes/Dashboard.php
  classes/DashboardSectionManager.php
  classes/InstructorMetricsAdapter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): add lazy-section Alpine component and centralized event constants
  assets/core/ts/components/calendar.ts
  assets/core/ts/constant.ts
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/lazy-section.ts
Due: eslint --fix, prettier --write

feat(dashboard): integrate lazyloaded dashboard sections and stat cards
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/top-performing-course-filter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(dashboard): add @since 4.0.9 tags to newly added classes and methods
  classes/DashboardSectionManager.php
  classes/InstructorMetricsAdapter.php
  components/DateFilter.php
  components/Skeleton.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(site-shell): resolve header offset calculation and sticky theme header support
  assets/src/js/frontend/services/site-shell.ts
  classes/Template.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added hooks for subscription
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add missing selectors
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): sanitize date_range inputs and format docblocks to standard
  classes/DashboardSectionManager.php
  classes/InstructorMetricsAdapter.php
  components/DateFilter.php
  components/Skeleton.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: update @since tags from 4.0.9 to 4.0.8
  classes/DashboardSectionManager.php
  classes/InstructorMetricsAdapter.php
  components/DateFilter.php
  components/Skeleton.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): remove redundant try-catch and sanitize adapter parameters
  classes/DashboardSectionManager.php
  classes/InstructorMetricsAdapter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(security): replace esc_js with esc_attr wp_json_encode in filter templates
  components/DateFilter.php
  templates/dashboard/instructor/home/top-performing-course-filter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): remove legacy type parameter deletion in top performing course filter
  templates/dashboard/instructor/home/top-performing-course-filter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(date-filter): simplify inline AlpineJS with declarative window event listener
  assets/core/ts/components/calendar.ts
  components/DateFilter.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Remove agent generated docs and research
  CONTEXT.md
  docs/adr/0001-dashboard-ajax-lazyloading-architecture.md
  docs/adr/0002-dashboard-metrics-adapter-pattern.md
  docs/research/instructor-dashboard-ajax-skeleton-lazyload.md
Due: prettier --write

removed hook and added 'edit_published_posts' capability
  classes/Instructor.php
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): resolve duplicate view-transition-name and fix section reordering
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/overview-chart.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(site-shell): support block theme header styles and fix learning area width alignment
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

readded map meta capability so that instructors without edit_published_posts capability gets edit_tutor_course
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
