Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(quiz): support unlimited question pools
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): replace button elements with Button component in FormDrawImage and FormPinImage for improved styling and accessibility
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

Add legacy login form and update modal
  templates/login-form-legacy.php
  views/modal/login.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update login-form-legacy.php
  templates/login-form-legacy.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Sidebar hover issue fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

fix(quiz): disable readonly option hover states
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/shared/components/quiz/attempt-details/questions/fill-in-the-blank.php
  templates/shared/components/quiz/attempt-details/questions/multiple-choice.php
  templates/shared/components/quiz/attempt-details/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revamp Tutor Core documentation site
  assets/core/docs/README.md
  assets/core/docs/architecture.html
  assets/core/docs/architecture.md
  assets/core/docs/assets/docs.css
  assets/core/docs/assets/docs.js
  assets/core/docs/components.html
  assets/core/docs/components.md
  assets/core/docs/design-tokens.html
  assets/core/docs/index.html
  assets/core/docs/quick-start.html
  assets/core/docs/scss-tokens.md
  assets/core/docs/semantic-tokens.md
  assets/core/docs/services.html
  assets/core/docs/services.md
  assets/core/docs/start.html
  assets/core/docs/tokens.html
  assets/core/docs/utilities.md
  assets/core/docs/utility-classes.md
  assets/core/docs/utility-examples.html
Due: prettier --write

feat: Add full screen variant to ModalWrapper
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/shared/components/modals/ModalWrapper.tsx
Due: eslint --fix, prettier --write

refactor(quiz): simplify clear button logic in FormDrawImage and FormPinImage components for better readability and maintainability
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

feat(quiz): add validation for marked areas in draw_image and pin_image question types
  assets/src/js/v3/shared/utils/quiz.ts
Due: eslint --fix, prettier --write

Refactor modal.js: accessible modal with focus trap
  v2-library/src/js/modal.js
Due: none

Improve accessibility for login modal and errors
  templates/login-form.php
  views/modal/login.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): adjust layout and visibility for draw_image and pin_image question types in FormDrawImage and FormPinImage components
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: eslint --fix, prettier --write

refactor(quiz): remove unused styles and clear button logic in FormDrawImage and FormPinImage components for cleaner code
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

Fix: Design break when using audio, video files on the course info
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Using the_content method instead of custom print
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Feature image is not showing in the learning area.
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  templates/learning-area/lesson/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Table exists check added before checking column
  classes/Upgrader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code refactor
  ecommerce/CartController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): hydrate review feedback correctly
  templates/dashboard/quiz-attempts/quiz-reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

disable direct access
  templates/dashboard/quiz-attempts/quiz-reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: added missing direct access check
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/summary.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add puzzle question type with validation and UI components
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionForm.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Puzzle.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
  assets/src/js/v3/shared/utils/quiz.ts
  assets/src/js/v3/shared/utils/types.ts
  classes/Quiz.php
  classes/QuizBuilder.php
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Resolve quiz summary variable typo
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code Refactor
  assets/src/scss/frontend/learning-area/_lesson-content.scss
Due: none

fix: attempt list style
  assets/src/scss/frontend/components/_quiz-attempts.scss
Due: none

feat: add course filter to quiz attempts dashboard and update UI components
  classes/Quiz_Attempts_List.php
  templates/dashboard/components/quiz-attempt-row.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Prevented pasting image on assignment submission textarea
  assets/core/ts/components/wp-editor.ts
  assets/src/js/front/tutor-front.js
  components/WPEditor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: add grouping toggle to QuizModel::format_quiz_attempts and apply based on user view mode
  models/QuizModel.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused quiz_index variable from quiz attempts loop
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): enhance puzzle question type with grid size handling and review template integration
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/utils/quiz.ts
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(course-builder): add question preview modal
  assets/icons/ios-phone.svg
  assets/icons/preview-2.svg
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  rspack.config.mjs
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: filter option invisble if no data found
  templates/dashboard/my-quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: table head is showing if no data found
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: for instructor status count showing wrong
  classes/Quiz_Attempts_List.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add responsive utility config & gated generation
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_utility-config.scss
  assets/core/scss/utilities/_borders.scss
  assets/core/scss/utilities/_colors.scss
  assets/core/scss/utilities/_layout.scss
  assets/core/scss/utilities/_sizing.scss
  assets/core/scss/utilities/_spacing.scss
  assets/core/scss/utilities/_typography.scss
Due: none

feat: implement iframe-compatible WPEditor and add live preview functionality to QuestionPreviewModal
  assets/src/js/v3/shared/atoms/WPEditor.tsx
Due: eslint --fix, prettier --write

refactor: implement iframe-based preview for course builder questions to ensure accurate styling and rendering
  rspack.config.mjs
Due: none

feat: implement iframe-based question preview with dynamic styling and content rendering in course builder
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
Due: eslint --fix, prettier --write
