Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor reveal logic and pass abandon modal id
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(UserPreference): simplify preferences loading and add caching
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: remove outdated comment about method design
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unit test added
  classes/Lesson.php
  phpunit.xml.dist
  tests/phpunit/LessonContentInfoTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update 'Continue Learning' link to point to courses page
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added prepare statement when building where clause
  helpers/QueryHelper.php
  models/CouponModel.php
  tests/phpunit/QueryHelperTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update quiz attempt logic
  assets/core/scss/mixins/_inputs.scss
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix quiz summary modal timing
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Extract quiz actions to Quiz::render_quiz_actions
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Refactor quiz module into separate components
  assets/src/js/frontend/learning-area/quiz/auto-start.ts
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
Due: eslint --fix, prettier --write

refator: Move quiz explanation logic to PRO
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Enforce max four columns
  assets/core/scss/mixins/_layout.scss
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update quiz attempts badge and table styles
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

feat: allow passing data to modal templates.
  components/Modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): centralize question wrapper
  classes/Quiz.php
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(quiz): adjust intro and options layout
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

refactor: Rename `tutor-learning-area-certificate` class to `tutor-certificate-wrapper`.
  templates/demo-components/learning-area/pages/certificate.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added endpoint for zoom save api
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Added zoom save settings endpoint
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Revert changes in Tab Component (Removed extra classes)
  components/Tabs.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add quiz feedback modes to enhance user experience
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement draw on image functionality in quiz
  assets/core/ts/declaration.d.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

fix: update FormPinImage component to handle option checks and improve image handling
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/PinImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

style: Update announcement modal title styles
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Made nav scrollable on mobile
  assets/core/scss/components/_nav.scss
Due: none

Fix(🛠) : Currency issue in graph
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  classes/Instructor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Code Format
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  classes/Instructor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Currency issue in graph
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added prepare_value and prepare_between_clause methods
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Address PR review comments
  assets/src/js/frontend/dashboard/pages/discussions.ts
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/comment-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added since tag
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

changed is_admin() to User::is_admin() for analytics
  models/OrderModel.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

resolving theme related issues
  assets/core/scss/main.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

updated make clause and removed prepare between clause
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Currency issue in graph ( Instructor Home)
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update make_clause
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Address QnA PR review comments
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
  classes/Q_And_A.php
  templates/dashboard/discussions/qna-form.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/qna/qna-form.php
  templates/learning-area/subpages/qna/qna-replies.php
  templates/learning-area/subpages/qna/qna-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add TODO comment for icon finalization in QuestionList component
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

update elseif
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added space
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
