Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

refactor(Preference): use THEME constant for system theme checks
  assets/core/ts/services/Preference.ts
Due: eslint --fix, prettier --write

style: fix indentation in UserPreference::get_font_scale_options
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed tutor-h4 style on quiz_attempts
  assets/src/scss/frontend/dashboard/_quiz-attempts.scss
Due: none

Support toast container in fullscreen mode
  assets/core/ts/services/Toast.ts
Due: eslint --fix, prettier --write

changes reverted
  assets/core/ts/components/form.ts
Due: eslint --fix, prettier --write

form mode updated
  templates/learning-area/lesson/comment-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(user-preferences): centralize constants and improve code structure
  assets/core/ts/services/Preference.ts
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

DropdownFilter: add on_change and Alpine bindings
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor EmptyState to build HTML string
  components/EmptyState.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Track active comment edit/reply by ID
  assets/src/js/frontend/learning-area/lesson/comments.ts
  templates/learning-area/lesson/comment-card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve code formatting and remove unused data attribute in quiz question templates.
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add inline comment editing for discussions
  assets/src/js/frontend/dashboard/pages/discussions.ts
  templates/dashboard/discussions/comment-form.php
  templates/dashboard/discussions/lesson-comment-card.php
  templates/dashboard/discussions/lesson-comment-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: FIx form validation and type error
  assets/core/ts/components/form.ts
  assets/src/js/v3/shared/utils/form.ts
Due: eslint --fix, prettier --write

Add discussion replies loading & UI updates
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Lesson.php
  templates/dashboard/discussions/comment-form.php
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/lesson-comment-card.php
  templates/dashboard/discussions/lesson-comment-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add WPEditor Alpine component and PHP wrapper
  assets/core/ts/components/wp-editor.ts
  assets/core/ts/index.ts
  components/WPEditor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Initialize ConfirmationModal with default allowed HTML tags and merge custom tags recursively.
  components/ConfirmationModal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(UserPreference): improve code structure and constants
  classes/Tutor.php
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance draw image question type functionality
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  classes/Quiz.php
  classes/QuizBuilder.php
  classes/Utils.php
  views/quiz/attempt-details.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update label for draw image question type
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

Dynamic progress and back link in learning-area
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: simplify answer processing for draw image question type
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Alpine attribute added for Tooltip component.
  components/Tooltip.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Replace `array_replace_recursive` with `wp_parse_args`
  components/ConfirmationModal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Standardize quiz question rendering with a new common header template and improved image attachment handling.
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/question-header.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve handling of draw image answer processing
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: reformat quiz submission button code for improved readability
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Rename lesson-comment templates to comment
  templates/dashboard/discussions.php
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-list.php
  templates/dashboard/discussions/comment-single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance draw image answer processing and security
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: clarify handling of local file URLs for draw image question type
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Conditionally display correct answers in quiz questions based on attempt status.
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

User account Profile page
  classes/Dashboard.php
  classes/Utils.php
  templates/dashboard/account/profile.php
  templates/dashboard/instructor/profile-statistics.php
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Refactor quiz question rendering to use global attempt status and improve form input handling for multiple-choice and true-false questions.
  classes/Quiz.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: change quiz question options from div to label elements
  templates/learning-area/quiz/questions/multiple-choice.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: standardize and correct quiz answer input naming across various question types and introduce new input component for open-ended questions.
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Fix quiz question array access and index init
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add x-bind registration to quiz attempt inputs
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Support checkbox-array fields in form
  assets/core/ts/components/form.ts
Due: eslint --fix, prettier --write

refactor: Use flat underscore names for quiz inputs
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): Ensure form state is properly reset after successful mutation by passing formId in payload.
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

New icons for user profile
  assets/icons/earning-fill.svg
  assets/icons/passed-fill.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  templates/dashboard/instructor/profile-statistics.php
  templates/user-profile.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1
