Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat: dynamically set learning area sidebar progress value.
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): reorganize attempt details templates and styles
  assets/src/scss/frontend/components/_quiz-attempts.scss
  classes/Quiz_Attempts_List.php
  templates/learning-area/quiz/attempt-details.php
  templates/learning-area/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): render dynamic attempt summary and gate retake by retry rules
  templates/learning-area/quiz/attempt-details.php
  templates/learning-area/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): extract dynamic attempt details question sidebar
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
  templates/learning-area/quiz/attempt-details.php
  templates/learning-area/quiz/attempt-details/questions-sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): make summary header and sidebar sticky with admin bar offsets
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
Due: none

fix(quiz): avoid wp global name collision in question sidebar
  templates/learning-area/quiz/attempt-details/questions-sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): move summary sidebar wrapper into sidebar template
  templates/learning-area/quiz/attempt-details.php
  templates/learning-area/quiz/attempt-details/questions-sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): add matching dropzone snap animation
  assets/src/js/frontend/learning-area/quiz/questions/matching.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: eslint --fix, prettier --write

style: remove redundant anchor hover styles in main.scss
  assets/core/scss/main.scss
Due: none

fix(quiz): sync summary sidebar question links and active state
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/summary-sidebar.ts
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
  templates/learning-area/quiz/attempt-details/questions-sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): adjust start quiz form markup
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update date filter clear button alignment and mobile navigation popover placement.
  components/DateFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Adjust mobile navigation popover placement from 'top-start' to 'top-end'.
  templates/demo-components/dashboard/components/nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add `ABSPATH` direct access prevention to the dashboard template.
  templates/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): keep popover trigger visible while open
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

refactor: Standardize `ABSPATH` security checks across dashboard and learning area template files.
  components/DateFilter.php
  templates/dashboard/account/profile.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/social-accounts.php
  templates/dashboard/announcements.php
  templates/dashboard/announcements/create.php
  templates/dashboard/announcements/details.php
  templates/dashboard/announcements/update.php
  templates/dashboard/courses.php
  templates/dashboard/courses/active-courses.php
  templates/dashboard/courses/completed-courses.php
  templates/dashboard/courses/course-card.php
  templates/dashboard/courses/my-quiz-attempts.php
  templates/dashboard/courses/wishlist.php
  templates/dashboard/create-course.php
  templates/dashboard/elements/filters.php
  templates/dashboard/elements/load-more.php
  templates/dashboard/elements/pagination.php
  templates/dashboard/my-courses.php
  templates/dashboard/my-profile.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/question-answer.php
  templates/dashboard/question-answer/answers.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/registration.php
  templates/dashboard/reviews/review-card.php
  templates/dashboard/student-dashboard.php
  templates/dashboard/wishlist.php
  templates/dashboard/wishlist/star-rating.php
  templates/dashboard/withdraw.php
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
  templates/learning-area/lesson/nav-item.php
  templates/learning-area/subpages/quiz-intro.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

User_id param added in count_completed_contents_by_topic()
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(wp-editor): add demo integration and editor updates
  assets/core/ts/components/wp-editor.ts
  assets/core/ts/constant.ts
  templates/demo-components/components/wp-editor.php
  templates/demo-components/playground.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add jigsaw question type support in quiz functionality
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionForm.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Jigsaw.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormJigsaw.tsx
  assets/src/js/v3/shared/utils/types.ts
  classes/Quiz.php
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance FormJigsaw component for improved quiz functionality
  assets/src/js/v3/shared/components/fields/quiz/questions/FormJigsaw.tsx
Due: eslint --fix, prettier --write

Fix(🛠️) : Sortable Section ( Instructor) not hiding on home page.
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/overview-chart.php
  templates/demo-components/dashboard/pages/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: remove redundant CSS and add flex-wrap to stat cards
  assets/core/scss/mixins/_badges.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
  templates/dashboard/instructor/home.php
  templates/demo-components/dashboard/pages/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(form): add validTime validation rule
  assets/core/ts/components/form.ts
Due: eslint --fix, prettier --write

feat(core): add alpine time-input component
  assets/core/scss/components/_index.scss
  assets/core/scss/components/_time-input.scss
  assets/core/scss/mixins/_utilities.scss
  assets/core/ts/components/time-input.ts
  assets/core/ts/index.ts
  assets/core/ts/types/index.ts
  templates/core-components/time-input.php
  templates/demo-components/playground.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(components): integrate InputField time type
  components/Constants/InputType.php
  components/InputField.php
  templates/demo-components/components/time-input.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): update quiz attempts layout styles
  assets/src/scss/frontend/components/_quiz-attempts.scss
Due: none

feat: implement mobile navigation for dashboard with dynamic item rendering
  components/Sorting.php
  templates/dashboard.php
  templates/dashboard/components/nav-mobile.php
  templates/dashboard/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Switch to pnpm as the package manager by adding .npmrc and pnpm-lock.yaml, and removing package-lock.json.
  .npmrc
  package-lock.json
  pnpm-lock.yaml
Due: none

Refactor quiz answer processing and improve condition checks
  classes/Quiz.php
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(time-input): update demos and escape-safe InputField rendering
  assets/core/ts/components/time-input.ts
  components/InputField.php
  templates/core-components/time-input.php
  templates/demo-components/components/time-input.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

fix(calendar): integrate date inputs with form service demo
  assets/core/ts/components/calendar.ts
  assets/core/ts/constant.ts
  templates/demo-components/components/form.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(calendar): remove unused sync event and update demo integration
  assets/core/ts/components/calendar.ts
  assets/core/ts/constant.ts
  templates/demo-components/components/form.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(calendar): clean imports and tighten form selector
  assets/core/ts/components/calendar.ts
Due: eslint --fix, prettier --write

chore(form): persist playground form demo updates
  templates/demo-components/components/form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update mobile navigation to support custom links and adjust styles
  assets/src/scss/frontend/dashboard/_progress-card.scss
  templates/dashboard/components/nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: npm with pnpm
  gulpfile.mjs
  package.json
Due: none

fix(build): replace npm/events usage with pnpm-safe browser code
  assets/src/js/v3/shared/utils/localStorage.ts
  package.json
Due: eslint --fix, prettier --write

fix(tooling): make husky lint-staged compatible with pnpm and eslint v10
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none
