Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Rename 'Coordinates' quiz type to 'Graph' in Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add border to legal consent card
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
Due: none

user prefered auto_play_next content
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Filter v4 questions if learning mode is legacy
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Storing functionalities for login
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
  GDPR/DB/UserConsents.php
  GDPR/GDPR.php
  GDPR/Models/UserConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Constent naming updated
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Check if user already consent given before store
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
  GDPR/Models/UserConsents.php
  classes/Ajax.php
  classes/Student.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Renamed the method
  GDPR/Controllers/UserConsent.php
  GDPR/Models/UserConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Base controller added for handling repeatitive task
  GDPR/Controllers/BaseController.php
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/LegalConsentLogs.php
  GDPR/Controllers/UserConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed the Log controller file
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/LegalConsentLogs.php
  GDPR/GDPR.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update method visibility
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update version on consent update
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update quiz instructor review for h5p question
  classes/Quiz.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update quiz color tokens
  assets/core/scss/components/_progress.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

feat: Add wp.i18n support
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

Remove duplicate key
  includes/translate-text.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix nullable Throwable parameter for PHP 8.4 compatibility
  ecommerce/PaymentGateways/Paypal/src/Exceptions/FilesystemException.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix callback argument mismatch in WooCommerce new order hook
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement student consent logs modal with timeline view in admin dashboard
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/js/admin-dashboard/segments/students.js
  assets/src/js/admin-dashboard/tutor-admin.js
  assets/src/scss/admin-dashboard/index.scss
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  assets/src/scss/admin-dashboard/segments/students.scss
  views/options/template/legal_consents.php
  views/pages/students.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: clean up legal consents JS logic
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

feat: Add dark theme support to quiz radar
  assets/src/js/frontend/learning-area/quiz/radar.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: eslint --fix, prettier --write

Refactor: Refactor method name, doc comment & condition
  GDPR/Controllers/LegalConsent.php
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Margin added below the consent field
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Remove Tutor Pro dependency
  views/pages/students.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _upcoming-lesson-card.scss
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
Due: none

v4 beta notice removed
  assets/images/v4-notice-illustration.svg
  assets/images/v4-notice-logo.svg
  assets/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fet: Update border color
  assets/src/scss/admin-dashboard/segments/students.scss
Due: none

update: align button styling with tutor-btn
  templates/loop/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

security: added direct access check
  templates/loop/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Updated div elements to h5 and h4 tags in account settings templates for better semantic structure and consistency. - Removed commented-out styles in _discussion-card.scss and _player.scss.
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/components/_player.scss
  templates/dashboard/account/settings/account.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/account/settings/social-accounts.php
  templates/dashboard/account/settings/withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Optional & text only consent storing mechanism updated
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
  GDPR/Models/UserConsents.php
  classes/Ajax.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance FormScale validation: Add error handling for correct value range and improve scale range validation logic
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
Due: eslint --fix, prettier --write

changed div to h5 for improved semantic structure in the dashboard header.
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Time limit not showing on random question order
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

disable direct access and align EDD button style with tutor
  templates/single/course/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: update legal consent constants, and refactor state management in admin dashboard
  GDPR/Controllers/LegalConsent.php
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/js/admin-dashboard/tutor-admin.js
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: include student email and login in CSV export
  assets/src/js/admin-dashboard/segments/students.js
  views/pages/students.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: message added if no product is linked with paid course
  templates/loop/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
