Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Variable name updated
  templates/dashboard/wishlist/star-rating.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update vertical tabs justify-content
  assets/core/scss/components/_tabs.scss
Due: none

Changelog & version tag updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

feat: Add confetti to time spent modal
  assets/src/js/frontend/dashboard/confetti.ts
  assets/src/js/frontend/dashboard/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style: Update title color on hover
  assets/src/scss/frontend/dashboard/pages/_my-courses.scss
Due: none

feat: implement SampleCourse importer and add ajax endpoint for sample course setup
  assets/src/js/admin-dashboard/tutor-setup.js
  classes/SampleCourse.php
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename onboarding setup methods and script enqueuer for consistency
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: simplify Tutor_Setup JSON response formatting
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: show tutor toast on sample course import failure
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

reface: Update confetti cleanup methods
  assets/src/js/frontend/dashboard/confetti.ts
Due: eslint --fix, prettier --write

chore: Update text content
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Remove unused comments
  assets/src/js/frontend/dashboard/confetti.ts
Due: eslint --fix, prettier --write

refactor(tutor-setup): simplify importSampleCourses function
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

refactor(tutor-setup): simplify sample course import
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

style: Update border radius
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

fix: lesson comment permission issue
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update course ID lookup key from question to qa_question in Q_And_A class
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Change active courses icon
  assets/icons/play-line-2.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/Student.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Improve progress card style
  assets/src/scss/frontend/dashboard/_progress-card.scss
Due: none

Display courses orderby enrollment date
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Exclude courses enrolled by bundle from completed list
  classes/Utils.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Split course progress card and add hook to override
  templates/dashboard/courses/course-card-header.php
  templates/dashboard/courses/course-card-progress.php
  templates/dashboard/courses/course-card-thumbnail.php
  templates/dashboard/courses/course-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update background color
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

doc: Update close button label
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add missing instructor profile link in course info
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Ignore sample course import when using multisite
  views/onboarding.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix calendar blocking interaction with other elements
  assets/core/scss/components/_calendar.scss
Due: none

style: Adjust background colors
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Format Icon.php
  classes/Icon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(FormPinImage): adjust header icon alignment
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

style: Update class and assets
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update styles for puzzle question preview in QuestionPreviewModal
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

Updated google meet course id to object_id
  assets/src/js/v3/entries/course-builder/components/additional/meeting/GoogleMeetForm.tsx
  assets/src/js/v3/entries/course-builder/services/course.ts
Due: eslint --fix, prettier --write

fix: update capability check from edit_tutor_course to edit_tutor_courses for course management permissions
  classes/Course_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

resolved conflict
  classes/Course_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

focus style improved
  assets/src/scss/frontend/dashboard/_progress-card.scss
Due: none

Course progress card template override hook updated
  templates/dashboard/courses.php
  templates/dashboard/courses/course-card.php
  templates/dashboard/student/continue-learning.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update capability check for YouTube video duration to match edit_tutor_courses privilege
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
