Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Update border radius
  assets/src/scss/frontend/kids/_learning-area.scss
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Align border radius with kids mode
  assets/src/scss/frontend/kids/_learning-area.scss
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Retry quiz confirmation modal added
  assets/src/scss/frontend/components/_quiz-summary.scss
  classes/Quiz.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fic: Align dashboard notes image radius
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

added hook to show h5p quiz attempt answers
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Use margin inline start instead of margin-left
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
Due: none

Preferences responsive design fixed
  assets/src/scss/frontend/dashboard/settings/_preferences.scss
Due: none

Consent label rendering functionality added
  GDPR/Controllers/LegalConsent.php
  GDPR/DB/LegalConsents.php
  GDPR/Models/LegalConsents.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed GDPR from 4.0.0-dev
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/LegalConsentLogs.php
  GDPR/Controllers/UserConsent.php
  GDPR/DB/DB.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/Logs.php
  GDPR/DB/UserConsents.php
  GDPR/GDPR.php
  GDPR/Models/LegalConsentLogs.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserConsents.php
  composer.json
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

New package installed
  pnpm-lock.yaml
Due: none

refactor: Remove shaking effect from quiz attempt
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed GDPR
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Edd checkout button issue
  templates/loop/course-price-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): persist attempt question ids
  classes/Utils.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Resolve version typo
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Color updated
  assets/core/scss/components/_calendar.scss
  assets/core/scss/components/_progress.scss
  assets/core/scss/mixins/_inputs.scss
  assets/core/scss/tokens/_buttons.scss
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  assets/src/scss/frontend/dashboard/pages/_my-courses.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  assets/src/scss/frontend/kids/_button.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/learning-area/subpages/reviews.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Consent check added on the signup page
  GDPR/Controllers/LegalConsent.php
  classes/Student.php
  pnpm-lock.yaml
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Reload page only when learning mode changes
  assets/src/js/frontend/dashboard/pages/settings.ts
Due: eslint --fix, prettier --write

Continue lesson buttons position fixed
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Check consent exists on the registration form
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Check column if table exists
  classes/Upgrader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update SCSS for video controls to use CSS variables
  assets/src/scss/frontend/components/_player.scss
Due: none

Consent validation added on the Login & Singup page
  GDPR/Controllers/LegalConsent.php
  classes/Ajax.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Revert unintentional changes
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(gdpr): simplify legal consent rendering
  GDPR/Controllers/LegalConsent.php
  classes/Options_V2.php
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(gdpr): tighten legal consent admin interactions
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

style(gdpr): polish legal consent collapse controls
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
Due: none

Calendar style fixed
  assets/core/scss/components/_calendar.scss
  assets/core/ts/components/calendar.ts
Due: eslint --fix, prettier --write

fix(gdpr): refine legal consent empty state
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unused import removed
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add 'Coordinates' quiz type to Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Active check added before showing legal consent field
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(icon): add legal consent contract icon
  assets/fonts/tutor-v2.woff
  assets/icons/contract-outline.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  classes/Icon.php
  v2-library/tutor-icon/fonts/tutor-v2.woff
  v2-library/tutor-icon/tutor-icon.scss
  v2-library/tutor-icon/tutor-v2-icons.json
  views/options/template/legal_consents.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(gdpr): remove legal consent option defaults
  GDPR/Controllers/LegalConsent.php
  assets/src/js/admin-dashboard/segments/legal-consents.js
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Sidebar lock option added
  assets/icons/lock-circle.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  classes/Icon.php
  classes/Input.php
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Use css tokens
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
Due: none

refactor: Improve code quality
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

Layout shift on modal open fixed
  assets/src/scss/frontend/learning-area/layout/_header.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
Due: none

Button style fixed
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
