Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

chore: Remove unused codes
  assets/core/scss/components/_preview-trigger.scss
Due: none

Deprecation error for PHP 8.5
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(toast): center toast horizontally on mobile screens
  assets/core/ts/services/toast/runtime.ts
Due: eslint --fix, prettier --write

perf(icon): cache in-flight promises to deduplicate concurrent icon fetches
  assets/core/ts/components/icon.ts
Due: eslint --fix, prettier --write

refactor(icon): rename mp3/mp4 icons to mp-3/mp-4 and add kids explore icon
  assets/icons/kids/explore.svg
  assets/icons/mp-3.svg
  assets/icons/mp-4.svg
  classes/Icon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(dashboard): update header and kids dashboard styles
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

Changelog updated
  readme.txt
Due: none

feat: Add html support to toast
  assets/core/ts/services/toast/runtime.ts
Due: eslint --fix, prettier --write

style: Add padding to layout and removed from header
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
Due: none

fix(types): improve type safety with explicit casts and pin dependency versions
  assets/core/ts/declaration.d.ts
  assets/src/js/v3/entries/course-builder/components/additional/meeting/GoogleMeetForm.tsx
  assets/src/js/v3/entries/course-builder/components/additional/meeting/ZoomMeetingForm.tsx
  assets/src/js/v3/entries/course-builder/components/course-basic/CoursePricing.tsx
  assets/src/js/v3/shared/components/subscription/PreviewItem.tsx
  assets/src/js/v3/shared/config/config.ts
  assets/src/js/v3/shared/hooks/useVisibilityControl.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Stye and accessibility fixes added
  assets/src/scss/frontend/dashboard/pages/_my-courses.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

forms default margin removed
  assets/core/scss/main.scss
Due: none

Lesson footer style fixed
  assets/src/scss/frontend/learning-area/layout/_footer.scss
Due: none

Empty state added to lesson comments
  assets/src/js/frontend/learning-area/lesson/comments.ts
  templates/learning-area/lesson/comments.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Build command updated
  package.json
Due: none

Release date updated
  readme.txt
Due: none

fix: In case of partial refund, the checkbox appears in a loop
  assets/src/js/v3/entries/order-details/components/modals/RefundModal.tsx
  ecommerce/HooksHandler.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Style fixed
  assets/core/scss/main.scss
  assets/src/scss/frontend/dashboard/_course-card.scss
Due: none

refactor: initialize Shortcode object once in Template class to reuse across render methods
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Query Optimization
  models/CourseModel.php
  templates/dashboard/components/header.php
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz-review): reactive review-status badges, dirty-state skip, beforeunload warning
  assets/core/ts/components/statics.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/scss/frontend/components/_quiz-question.scss
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Fix typo
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve type error
  assets/src/js/v3/shared/components/subscription/PreviewItem.tsx
Due: eslint --fix, prettier --write

Plyr js library updated to latest version
  assets/lib/plyr/plyr.css
  assets/lib/plyr/plyr.min.js
  assets/lib/plyr/plyr.polyfilled.min.js
Due: none

fix(quiz-review): guard beforeunload against programmatic reload
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
Due: eslint --fix, prettier --write

fix(quiz-review): wrap form spread in IIFE to enable init chaining
  templates/dashboard/quiz-attempts/quiz-reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz-review): add tutor-label class to multiple choice labels
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/shared/components/quiz/attempt-details/questions/multiple-choice.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(quiz-review): add ABSPATH guard and fix comment typo
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(quiz-review): fix quiz summary CSS spacing and formatting
  assets/src/scss/frontend/components/_quiz-summary.scss
Due: none

chore: Remove unused comments
  eslint.config.mjs
Due: none

chore: Update global types
  assets/core/ts/declaration.d.ts
Due: eslint --fix, prettier --write

fix: prevent rendering dynamic templates during head generation to avoid multiple outputs
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update html tag
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Add border radius to attachment icon
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

remove student count duplicate queries
  templates/dashboard.php
  templates/dashboard/components/header.php
  templates/dashboard/dashboard.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Fix type error
  assets/src/js/v3/entries/course-builder/components/ai-course-modal/ContentGenerationContext.tsx
  assets/src/js/v3/entries/import-export/components/modals/ExportModal.tsx
  assets/src/js/v3/entries/import-export/components/modals/ImportModal.tsx
  assets/src/js/v3/entries/import-export/components/modals/import-export-states/ImportExportCompletedState.tsx
  assets/src/js/v3/entries/import-export/services/import-export.ts
  assets/src/js/v3/shared/components/modals/ImportErrorListModal.tsx
  assets/src/js/v3/shared/services/magic-ai.ts
  assets/src/js/v3/shared/utils/types.ts
Due: eslint --fix, prettier --write

Use core api and utils from window instead of import
  assets/core/ts/config/config.ts
  assets/core/ts/index.ts
  assets/core/ts/types/index.ts
  assets/core/ts/utils/currency.ts
  assets/core/ts/utils/endpoints.ts
  assets/src/js/frontend/components/quiz/retry-attempt.ts
  assets/src/js/frontend/components/reviews.ts
  assets/src/js/frontend/dashboard/header.ts
  assets/src/js/frontend/dashboard/pages/announcements.ts
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  assets/src/js/frontend/dashboard/pages/my-courses.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/js/frontend/dashboard/pages/withdrawals.ts
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/lesson/comments.ts
  assets/src/js/frontend/learning-area/lesson/player.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
  assets/src/js/frontend/learning-area/quiz/auto-start.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  assets/src/js/frontend/learning-area/sidebar.ts
  assets/src/js/frontend/services/common.ts
  assets/src/js/frontend/types/index.ts
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

fix(template): prevent Alpine re-registration on dnd-kit placeholder clones
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: quiz attempt security issue
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: remove redundant user ID parameter from quiz attempt documentation
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
