Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat(kids): add themed tab styles
  assets/core/scss/components/_tabs.scss
  assets/src/scss/frontend/kids/_tabs.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

Color and type issue fixed
  components/Nav.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add tertiary border colors for error and general use in dark and light themes
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_borders.scss
Due: none

feat: Add Pin on Image question type for quizzes with rendering and review templates
  templates/learning-area/quiz/questions/pin-image.php
  templates/shared/components/quiz/attempt-details/questions/pin-image.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused data attribute from UserPreference output
  assets/src/scss/frontend/dashboard/_certificates.scss
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Enhance Pin on Image question type with lasso drawing functionality and improved reference mask handling
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
  templates/learning-area/quiz/questions/pin-image.php
  templates/shared/components/quiz/attempt-details/questions/pin-image.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Kids mode data attribute added
  classes/Frontend.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Page condition removed from theme attribute
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add kids mode in calendar
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

user id check removed from the is_dashboard_page method
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Constant added for learning mode options
  classes/Assets.php
  classes/Lesson.php
  classes/Options_V2.php
  classes/Template.php
  classes/Utils.php
  views/modal/review.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add user popover styles with shadow and border radius
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat: update dashboard styles and add data attribute for kids UI
  assets/src/scss/frontend/kids/_dashboard.scss
  classes/UserPreference.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

mend
  classes/UserPreference.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Retake course illustration updated
  assets/images/illustrations/retake-course.svg
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Illustration name updated
  assets/images/illustrations/reset-course.svg
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance registration and password forms with improved styling and structure
  templates/dashboard/registration.php
  templates/template-part/form-retrieve-password.php
  templates/template-part/retrieve-password.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update review.php
  views/modal/review.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Icon updated
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Nav item color fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

Lesson completed button style improved
  assets/icons/lesson-completed.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  classes/Icon.php
  templates/learning-area/lesson/footer.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(kids): polish dashboard nav and tabs
  assets/core/scss/components/_nav.scss
  assets/core/scss/components/_tabs.scss
  assets/core/scss/tokens/_tabs.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_nav.scss
  assets/src/scss/frontend/kids/_tabs.scss
  assets/src/scss/frontend/kids/index.scss
  classes/Student.php
  templates/dashboard/courses.php
  templates/dashboard/discussions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update tabs kids mode tokens
  assets/src/scss/frontend/kids/_tabs.scss
Due: none

Add learning mood preference to user settings and update Utils for retrieval
  classes/UserPreference.php
  classes/Utils.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor learning mood retrieval in UserPreference and Utils classes to utilize Options_V2 for improved clarity and maintainability.
  classes/UserPreference.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update tabs padding in setting page
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat: Add nav secondary shadow styles
  assets/core/scss/tokens/_buttons.scss
  assets/src/scss/frontend/kids/_nav.scss
Due: none

feat: add kids mode input tokens
  assets/core/scss/components/_input.scss
  assets/core/scss/components/_select.scss
  assets/core/scss/mixins/_inputs.scss
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_inputs.scss
  assets/src/scss/frontend/kids/_input.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

fix: render empty select fields
  components/InputField.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: update kids dashboard settings styles
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_mixins.scss
  templates/dashboard/account/settings.php
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: refine kids dashboard styles
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

fea: Add kids mode support to learning area
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/_announcements.scss
  assets/src/scss/frontend/learning-area/pages/_resources.scss
Due: none

feat: Add tutor card to announcements
  templates/learning-area/subpages/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(button): restore outline shadow defaults
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/tokens/_buttons.scss
  assets/src/scss/frontend/kids/_button.scss
  stories/core/Button.stories.tsx
Due: eslint --fix, prettier --write

feat(ui): expose learning mode on frontend wrappers
  templates/dashboard.php
  templates/dashboard/account/settings/account.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor is_kids_mode method in Utils class to improve clarity by rearranging the admin kids mode logic.
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor theme attribute to use 'data-tutor-theme' across SCSS and TypeScript files
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/ts/components/calendar.ts
  assets/core/ts/services/Preference.ts
  classes/UserPreference.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(learning-area): refine quiz intro and assignment layout
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/components/_assignment.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/learning-area/quiz/progress-bar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Design issues fixed
  assets/core/scss/components/_modal.scss
  assets/core/scss/components/_nav.scss
  assets/core/scss/components/_tabs.scss
  assets/core/ts/components/tabs.ts
  assets/images/illustrations/confetti.svg
  assets/images/illustrations/delete.svg
  assets/images/instructor-export.svg
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/pages/_resources.scss
  templates/dashboard/account/billing.php
  templates/dashboard/account/reviews.php
  templates/dashboard/discussions.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-single.php
  templates/dashboard/my-courses.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/student-dashboard.php
  templates/learning-area/lesson/content.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/course-info.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/qna/single.php
  templates/learning-area/subpages/reviews.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1
