Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat: implement caching for order items in OrderModel to improve query performance
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Fatal error if total marks is 0
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

revert changes
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Fatal division by zero error if total attempts is 0
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove global wpdb dependency and simplify bundle model initialization in OrderModel
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance CoordinatesPreview: Add axis range prop and improve axis label rendering
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/CoordinatesPreview.tsx
Due: eslint --fix, prettier --write

feat: skip to next question in quiz if current question is unattempted
  assets/src/js/frontend/learning-area/quiz/layout.ts
Due: eslint --fix, prettier --write

chore: Use surface color
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz attempt style fixed
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update SVG icons for graph markers: Adjusted positioning and opacity for improved visual consistency across correct, hover, selected, and wrong states.
  assets/icons/graph-marker-correct.svg
  assets/icons/graph-marker-hover.svg
  assets/icons/graph-marker-selected.svg
  assets/icons/graph-marker-wrong.svg
Due: none

Removed exceptino from GDPR get_consent_by_display_key method
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Preview trigger style and function improved
  assets/core/scss/components/_preview-trigger.scss
  assets/core/ts/components/preview-trigger.ts
  assets/src/scss/frontend/components/_discussion-card.scss
  templates/dashboard/announcements.php
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Remove tap highlight color
  assets/core/scss/main.scss
Due: none

Billing design fixed
  assets/src/scss/frontend/dashboard/_billing.scss
  assets/src/scss/frontend/dashboard/_subscription-history.scss
Due: none

Update my-courses.php
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update kids mode style
  assets/core/scss/mixins/_avatars.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  components/Constants/Size.php
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update remove attachment error message
  assets/src/js/front/course/_spotlight.js
Due: none

refactor: Remove unused code
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  components/Constants/Size.php
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused code
  assets/core/scss/mixins/_avatars.scss
Due: none

Fix: Time calculation showing wrong on the reviews section
  classes/Utils.php
  templates/learning-area/subpages/reviews/review-card.php
  templates/single/course/reviews-loop.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update template with new class
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update background color on attempt list
  assets/src/scss/frontend/components/_quiz-attempts.scss
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: instructor can view all lesson comments
  templates/dashboard/discussions/comment-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Design issues fixed
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: simplify dashboard back URL logic and document template variables in Q&A list
  templates/dashboard/discussions/qna-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Profile settings design fixed
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

Fix: GDPR not showing on the login page
  GDPR/GDPR.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Short code `courses` category filter getting overriden when using filter
  assets/src/js/front/course/_archive.js
Due: none

Alert design fixed for registration page
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Cache busting added for the registration pages
  classes/Instructor.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Apply for instructor page design updated
  templates/dashboard/instructor/apply_for_instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Google font enqueued with php
  assets/core/scss/main.scss
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Nav style updated
  assets/core/scss/components/_nav.scss
  components/Nav.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update main.scss
  assets/core/scss/main.scss
Due: none

Time spent logic change for student dashboard
  classes/Course.php
  classes/Utils.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

Google fonts preload added
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Hooks argument PHP fatal error fixed
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: implement modular component loading with core packs and lazy-loaded routes in the learning area
  assets/core/ts/declaration.d.ts
  assets/core/ts/index.ts
  assets/core/ts/packs/base.ts
  assets/core/ts/packs/form-controls.ts
  assets/core/ts/packs/learning.ts
  assets/core/ts/packs/media-editor.ts
  assets/core/ts/packs/types.ts
  assets/src/js/frontend/core-packs.ts
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
  package.json
  pnpm-lock.yaml
  rspack.config.mjs
Due: eslint --fix, prettier --write

Icon not visible in frontend course builder fixed
  assets/src/js/v3/shared/components/fields/FormSelectInput.tsx
Due: eslint --fix, prettier --write
