Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Fix: Yoast seo breaks the dashboard home page
  classes/Assets.php
  templates/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add width and height support to themed_svg
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _account.scss
  assets/src/scss/frontend/dashboard/settings/_account.scss
Due: none

Try to create GDPR tables on admin_init hook
  GDPR/GDPR.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add quiz_attempts_allow to tutor object
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Get default quiz attempts allowed data from tutorConfig
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

fix(svg-icon): disable kids icons by default
  assets/src/js/v3/entries/addon-list/components/App.tsx
  assets/src/js/v3/entries/coupon-details/components/App.tsx
  assets/src/js/v3/entries/course-builder/components/App.tsx
  assets/src/js/v3/entries/import-export/components/App.tsx
  assets/src/js/v3/entries/order-details/components/App.tsx
  assets/src/js/v3/entries/payment-settings/components/App.tsx
  assets/src/js/v3/entries/tax-settings/components/App.tsx
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  assets/src/js/v3/shared/contexts/SVGIconConfigContext.tsx
Due: eslint --fix, prettier --write

Fix: Legal consent links alignment issue
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added maximum size check for multiple files
  assets/core/ts/components/file-uploader.ts
Due: eslint --fix, prettier --write

Buttons disabled color fixed
  assets/core/scss/mixins/_buttons.scss
Due: none

Tooltip does not work on disabled button fixed
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Strict mode completion button message added
  classes/Course.php
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(svg): move themed svg rendering into utils
  classes/Input.php
  classes/Quiz.php
  classes/Utils.php
  components/ConfirmationModal.php
  helpers/UrlHelper.php
  templates/dashboard/account/billing/order-history.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/announcements.php
  templates/dashboard/courses.php
  templates/dashboard/discussions/comment-list.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-list.php
  templates/dashboard/my-courses.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/dashboard/wishlist.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/content.php
  templates/learning-area/quiz/modals/result.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Buttons disabled color updated
  assets/core/scss/mixins/_buttons.scss
Due: none

added fullstop
  assets/core/ts/components/file-uploader.ts
Due: eslint --fix, prettier --write

Optimize: is_instructor_of_this_course method optimized
  classes/Utils.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Rename params name
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  assets/src/js/v3/shared/contexts/SVGIconConfigContext.tsx
Due: eslint --fix, prettier --write

feat: Use updated params
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
Due: eslint --fix, prettier --write

a tag style updated
  templates/email/email_styles.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Login page gets removed if setting updated
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(popover): correct initial popover positioning
  assets/core/ts/components/popover.ts
Due: eslint --fix, prettier --write

Remove help text from PuzzlePreview component in question preview modals for a cleaner user interface.
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
Due: eslint --fix, prettier --write

chore: Update variable name
  classes/Quiz.php
  components/ConfirmationModal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance star rating component styles and update button classes for consistency. Adjust layout in review cards for better responsiveness.
  assets/core/scss/components/_star-rating.scss
  components/StarRatingInput.php
  templates/dashboard/account/reviews/review-card.php
  templates/learning-area/subpages/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor star rating button class names for consistency in SCSS and PHP files.
  assets/core/scss/components/_star-rating.scss
  components/StarRatingInput.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Completion icon issue in student progress modal
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor social share button styles for improved layout and consistency in SCSS.
  assets/src/scss/front/course/_social-share.scss
Due: none

fix(components): align confirmation modal icon helpers
  classes/Utils.php
  components/ConfirmationModal.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/my-quiz-attempts.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/content.php
  templates/learning-area/subpages/reviews.php
  templates/learning-area/subpages/reviews/review-card.php
  templates/shared/components/quiz/attempt-details/summary.php
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update form spacing; remove fixed Google button
  templates/dashboard/registration.php
  templates/login.php
  v2-library/src/scss/elements/_buttons.scss
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update params name
  assets/src/js/v3/shared/contexts/SVGIconConfigContext.tsx
Due: eslint --fix, prettier --write

Gradient support added to svg icons
  classes/Input.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update star rating button styles to use min-height instead of height; remove mobile-specific width adjustments from social share button for improved layout.
  assets/core/scss/components/_star-rating.scss
  assets/src/scss/front/course/_social-share.scss
Due: none

chore: Remove unused imports
  templates/dashboard/account/billing/order-history.php
  templates/dashboard/account/reviews.php
  templates/dashboard/announcements.php
  templates/dashboard/courses.php
  templates/dashboard/discussions/comment-list.php
  templates/dashboard/discussions/qna-list.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/dashboard/wishlist.php
  templates/learning-area/components/header.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/reviews.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Treat status_code 200 as AJAX success
  assets/src/js/lib/utilities.js
Due: none

chore: Revert unintentional commit
  templates/learning-area/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update Confirmation modal image size
  templates/learning-area/index.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Show content title on small screen device
  templates/learning-area/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Dynamic viewport height
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

feat: Add highest z index to sidebar
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none
