Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(dashboard header): improve translation
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update translator comments for count strings
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠️) : PHP 8.5 warning message for older guzzle version.
  ecommerce/PaymentGateways/Paypal/composer.lock
Due: none

feat: add enrollment status tracking and conditional logic to order refund and cancellation workflow
  assets/src/js/v3/entries/order-details/components/modals/RefundModal.tsx
  assets/src/js/v3/entries/order-details/components/order/Payment.tsx
  assets/src/js/v3/entries/order-details/services/order.ts
  ecommerce/HooksHandler.php
  models/OrderModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve layout not converting
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

Fix(🛠️): Precision warning message while converting from float to int.
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix condition for is_course_accessible
  ecommerce/CheckoutController.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add node types
  package.json
  pnpm-lock.yaml
Due: none

chore: Remove deprecated options
  tsconfig.json
Due: none

chore: Resolve type error
  .storybook/preview.tsx
  assets/src/js/frontend/learning-area/quiz/questions/matching.ts
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/CategoryListTable.tsx
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/CourseListTable.tsx
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/MembershipPlanListTable.tsx
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/index.tsx
  assets/src/js/v3/entries/course-builder/components/additional/meeting/ZoomMeetingCard.tsx
  assets/src/js/v3/entries/tax-settings/components/EuropeanUnionTax.tsx
  assets/src/js/v3/entries/tax-settings/components/TaxRates.tsx
  assets/src/js/v3/shared/components/fields/FormCategoriesInput.tsx
  assets/src/js/v3/shared/components/fields/FormImageInput.tsx
  assets/src/js/v3/shared/components/fields/FormRangeSliderField.tsx
  assets/src/js/v3/shared/components/fields/FormVideoInput.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormImageAnswering.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormMatching.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormMultipleChoiceAndOrdering.tsx
  assets/src/js/v3/shared/components/modals/CourseCategorySelectModal/CategoryListTable.tsx
  assets/src/js/v3/shared/components/subscription/SubscriptionItem.tsx
  assets/src/js/v3/shared/hooks/useFormWithGlobalError.ts
  assets/src/js/v3/shared/hooks/useResetForm.ts
  assets/src/js/v3/shared/utils/local-storage.ts
  cypress/support/commands.ts
  stories/molecules/DropdownButton.stories.tsx
Due: eslint --fix, prettier --write

chore: Update storybook
  package.json
  pnpm-lock.yaml
Due: none

chore: Add husky pre-push and update pre-commit hook
  .husky/pre-push
  .lintstagedrc
Due: none

chore: Resolve type error
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/payment-settings/fields/OptionWebhookUrl.tsx
  cypress/e2e/backend/coupons.cy.ts
  cypress/e2e/content-bank/01-collection-creation.cy.ts
  cypress/e2e/content-bank/02-content-creation.cy.ts
  cypress/e2e/content-bank/03-content-usage.cy.ts
  cypress/e2e/content-bank/04-content-actions.cy.ts
  cypress/e2e/course-builder/01-course-creation.cy.ts
  cypress/e2e/course-builder/02-course-settings.cy.ts
  cypress/e2e/course-builder/03-subscriptions.cy.ts
  cypress/e2e/course-builder/04-curriculum.cy.ts
  cypress/e2e/course-builder/05-quiz.cy.ts
  cypress/e2e/course-builder/06-additional-info.cy.ts
  cypress/e2e/course-builder/07-publish-and-delete.cy.ts
  cypress/e2e/frontend/dashboard/instructor-announcements.cy.ts
  cypress/e2e/purchase-journey/buy-now/01-setup-native-ecom.cy.ts
  cypress/e2e/purchase-journey/buy-now/02-create-paid-course.cy.ts
  cypress/e2e/purchase-journey/buy-now/03-purchase-course-paypal.cy.ts
  cypress/e2e/purchase-journey/guest-checkout/01-setup-native-ecom.cy.ts
  cypress/e2e/purchase-journey/guest-checkout/02-create-paid-course.cy.ts
  cypress/e2e/purchase-journey/guest-checkout/03-purchase-course-paypal.cy.ts
  cypress/e2e/purchase-journey/native/01-setup-native-ecom.cy.ts
  cypress/e2e/purchase-journey/native/02-create-paid-course.cy.ts
  cypress/e2e/purchase-journey/native/03-purchase-course-paypal.cy.ts
  cypress/e2e/purchase-journey/woo-commerce/01-setup-woocommerce.cy.ts
  cypress/e2e/purchase-journey/woo-commerce/02-create-paid-course.cy.ts
  cypress/e2e/purchase-journey/woo-commerce/03-purchase-course-cod.cy.ts
  cypress/support/auth.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

Accessibility and UI improvements
  assets/core/scss/components/_attachment-card.scss
  assets/core/scss/components/_input.scss
  assets/core/scss/components/_select.scss
  assets/core/scss/components/_tabs.scss
  assets/core/scss/mixins/_buttons.scss
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
  components/Badge.php
  templates/account-header.php
  templates/dashboard/account/billing.php
  templates/dashboard/account/profile.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/settings.php
  templates/dashboard/account/withdrawals.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/subpages/course-info.php
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/single.php
  templates/learning-area/subpages/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated error message
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove redundant meta tags and filters
  classes/Dashboard.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Use transform instead of width
  assets/core/scss/components/_progress.scss
Due: none

Use Button component for learning header/sidebar
  assets/src/scss/frontend/learning-area/layout/_header.scss
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Use quiz time unit method
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

New icon added
  assets/icons/more.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Course and lesson complete buttons style changed
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  classes/Course.php
  templates/learning-area/lesson/footer.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: learning area resources menu not added
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

remove commented code
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: move $current_user_id assignment earlier in template
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove explicit visibility rules in lesson card SCSS
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
Due: none

Tested upto tag updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

fix(course-builder/curriculum): fix topic header padding when collapsed
  assets/src/js/v3/entries/course-builder/components/curriculum/TopicHeader.tsx
  package.json
Due: eslint --fix, prettier --write

mend
  package.json
Due: none

chore: Update toast offset
  assets/core/ts/toast/runtime.ts
Due: eslint --fix, prettier --write

Add Explore Courses CTA and new icon
  assets/icons/right-arrow-up.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  classes/Icon.php
  templates/dashboard/components/sidebar-nav-mobile.php
  templates/dashboard/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Use tutor-transition and add focus-within
  assets/src/scss/frontend/dashboard/pages/_announcements.scss
Due: none

Fix: Hide upload button when max files count reached
  components/FileUploader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Accessibility improved
  assets/src/scss/frontend/components/_discussion-card.scss
Due: none

adjust padding when summary is empty
  assets/src/js/v3/entries/course-builder/components/curriculum/TopicHeader.tsx
Due: eslint --fix, prettier --write

Update @typescript-eslint/parser refs in pnpm-lock
  pnpm-lock.yaml
Due: none

Design improved with accessibility fixes
  assets/src/scss/frontend/components/_quiz-attempts.scss
  classes/Quiz_Attempts_List.php
  templates/dashboard/components/quiz-attempt-row.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Cache the summary form value and create a reusable hasSummary flag in TopicHeader.tsx to reduce redundant form.watch calls and simplify template conditionals.
  assets/src/js/v3/entries/course-builder/components/curriculum/TopicHeader.tsx
Due: eslint --fix, prettier --write

Hide Quiz Details From Students when hidden from tutor course settings
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
