Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update: is_bundle_single_page hook updated
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Method renamed
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed bundle legacy script hooks
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

keep_footer_visible option added
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-form.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
  templates/learning-area/subpages/qna/card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Disable live reload for now
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
  templates/dashboard/discussions/qna-replies.php
  templates/learning-area/subpages/qna/replies.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add Cmd/Ctrl+Enter submit for WP editor
  assets/core/ts/components/wp-editor.ts
Due: eslint --fix, prettier --write

Fix code highlight not working after update
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
Due: eslint --fix, prettier --write

Enhance legacy learning mode handling for question types
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  classes/QuizBuilder.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: all enrollment list are not getting queried
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor codebase to make it reusable
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add course reset option and conditional UI
  classes/Options_V2.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Order History for WooCommerce
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/pages/billing.ts
  classes/Utils.php
  includes/tutor-general-functions.php
  models/OrderModel.php
  templates/dashboard/account/billing/order-history-card.php
  templates/dashboard/account/billing/order-history.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

icon override fixed
  assets/core/scss/mixins/_buttons.scss
Due: none

console warning fixed
  assets/core/ts/components/modal.ts
Due: eslint --fix, prettier --write

Duplicate name fixed
  assets/json/countries.json
Due: none

Account settings issue fixed
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

JSON-encode edit modal data and adjust buttons
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(gradebook): add gradebook view to student learning area
  assets/icons/gradebook.svg
  assets/icons/kids/gradebook.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(icons): add gradebook icon
  assets/icons/gradebook.svg
  assets/icons/kids/gradebook.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: simplify admin kids mode check by removing redundant variable
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Escape JSON outputs in dashboard templates
  templates/dashboard/account/settings/social-accounts.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home/course-completion-chart.php
  templates/dashboard/instructor/home/overview-chart.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Implement template loading control for add-on only question partials in Quiz class
  classes/Quiz.php
  templates/learning-area/quiz/questions/draw-image.php
  templates/shared/components/quiz/attempt-details/questions/draw-image.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor quiz utility and remove unused SCSS for draw-image review
  assets/src/js/v3/shared/utils/quiz.ts
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: eslint --fix, prettier --write

Added Bundles in enrollment list and updated filters
  classes/Utils.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor is_legacy_learning_mode method in Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

new: added Q&A status helper methods
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Playground scripts removed, legacy & moder scripts loading conditions updated
  classes/Assets.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use WPEditor and allow HTML in bio
  classes/User.php
  components/WPEditor.php
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed the permalink reset flag setting method
  classes/Admin.php
  classes/Permalink.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: correct kids mode detection and user preference handling
  classes/UserPreference.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update visibility handling for scale reference in spotlight quiz
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

Show permission denied page if user is neither admin nor instructor
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Span tag is showing in withdrawal page when WooCommerce is active.
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve lesson comment and Q&A visibility logic by adding conditional checks and granular helper methods
  classes/Lesson.php
  classes/Q_And_A.php
  templates/dashboard/discussions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Using WP API for fetching post content insteade of accessing from object
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: prevent undefined variable warning in user preference handling
  classes/UserPreference.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: remove boolean type cast from auto_play_next preference
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: standardize ABSPATH checks and enforce comment status validation in lesson AJAX handlers
  classes/Lesson.php
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename lesson load more handler and add comment enablement check
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
