Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add accessibility attributes across UI components
  components/AttachmentCard.php
  components/ConfirmationModal.php
  components/DateFilter.php
  components/Modal.php
  components/Nav.php
  components/Pagination.php
  components/Popover.php
  templates/dashboard/announcements.php
  templates/dashboard/elements/pagination.php
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Only active course count will be shown of dashboard and analytics
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: improve seo meta handling and add fallbacks
  classes/Template.php
  templates/account.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code refactor
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: SQL injection in withdraw history list status filter parameter
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added phpcs ignore
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unsed global wpdb
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(learning-area): remove meta description from learning area
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unnecessary space.
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: remove meta_description from course-info menu
  classes/Template.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactored the is_base_table method
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Resolve style conflict
  assets/src/js/v3/shared/components/fields/FormInput.tsx
Due: eslint --fix, prettier --write

Table name with alias case handled
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(dashboard): streamline the method by using a single dedicated metadata variable instead of multiple inline return arrays, reducing redundant code and improving consistency
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor is_plugin_active method to make it compitable for single & multisite
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unnecessary focus target classes from quiz question preview components for improved accessibility
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/CoordinatesPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PinImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ScalePreview.tsx
Due: eslint --fix, prettier --write

Removed the redundant typecast
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Doc comment updated
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

used constants instead of hardcode
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor Button icon API and update usages
  assets/src/scss/frontend/dashboard/layout/_header.scss
  classes/Quiz_Attempts_List.php
  components/Button.php
  components/ConfirmationModal.php
  templates/account-header.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/components/header.php
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/lesson/comments.php
  templates/learning-area/lesson/footer.php
  templates/learning-area/quiz/attempt.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

subdued color updated
  assets/core/scss/tokens/_colors.scss
Due: none

fix: refine image styling in quiz attempts to exclude puzzle attempt images for better layout control
  assets/src/scss/modules/quiz-attempts.scss
Due: none

spacing fixed
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add a11y styles
  assets/core/scss/mixins/_utilities.scss
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

chore: Use tokens
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

chore: Update tokens
  assets/core/scss/mixins/_utilities.scss
Due: none

Plugin active & null check added
  classes/Utils.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

State field made optional
  templates/ecommerce/billing-form-fields.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Explicit prefix removed
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: correct spelling of SELECT keyword in database queries
  classes/Shortcode.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Time calculation method changed
  templates/dashboard/student/stats.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Improve progress card accessibility and hover
  assets/src/scss/frontend/dashboard/_progress-card.scss
  templates/dashboard/courses/course-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add focus-visible ring to progress card
  assets/src/scss/frontend/dashboard/_progress-card.scss
Due: none

Improve card focus/hover accessibility
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
  assets/src/scss/frontend/dashboard/_stat-card.scss
Due: none

Avatar focus ring style improved
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

Fix: Buying or enrolling in permanently deleted course throwing error
  ecommerce/CheckoutController.php
  models/EnrollmentModel.php
  templates/ecommerce/checkout-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added helper method to check if course is available for purchase
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
  models/CartModel.php
  models/CourseModel.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Calculate total minutes and seconds in modal
  templates/dashboard/student/time-spent-modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add date-range filtering to quiz attempts
  classes/Quiz_Attempts_List.php
  models/QuizModel.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
