Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update _lesson-content.scss
  assets/src/scss/frontend/learning-area/_lesson-content.scss
Due: none

fix(dashboard): polish kids quiz attempt states
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add lesson notes kids styles
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

fix: Fix review container class
  templates/dashboard/account/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(nav): resolve active dropdown icons
  assets/icons/kids/comments.svg
  assets/icons/kids/enrolled.svg
  assets/icons/kids/notification.svg
  assets/icons/kids/quiz-2.svg
  assets/icons/kids/wishlist.svg
  components/Nav.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(icons): support learning mode icon loading
  assets/core/ts/components/icon.ts
  assets/icons/kids/announcement.svg
  assets/icons/kids/certificate-2.svg
  assets/icons/kids/delete-2.svg
  assets/icons/kids/edit-2.svg
  assets/icons/kids/info-octagon.svg
  assets/icons/kids/list.svg
  assets/icons/kids/resources.svg
  assets/icons/kids/star-line.svg
  assets/icons/kids/video-camera-2.svg
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  assets/src/js/v3/shared/config/config.ts
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/utils/types.ts
  classes/Assets.php
  templates/dashboard/components/header.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(icons): add missing kids learning icons
  assets/icons/kids/book-2.svg
  assets/icons/kids/lock-stroke-2.svg
  assets/icons/kids/quiz-2.svg
Due: none

fix(kids-mode): gate theme assets and wrappers
  assets/icons/kids/all.svg
  assets/src/scss/frontend/main/dashboard.scss
  assets/src/scss/frontend/main/learning-area.scss
  classes/Assets.php
  components/Nav.php
  rspack.config.mjs
  stories/core/Button.stories.tsx
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/dashboard/discussions/qna-card.php
  templates/learning-area/index.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(button): adjust outline shadow token
  assets/core/scss/tokens/_buttons.scss
Due: none

fix(kids): add notebook icon and dashboard tweak
  assets/icons/kids/notebook.svg
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

fix: Progress card style fix
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

New kids icon added
  assets/icons/kids/all.svg
  assets/icons/kids/bundle.svg
  assets/icons/kids/calendar.svg
  assets/icons/kids/comments.svg
  assets/icons/kids/delete-2.svg
  assets/icons/kids/edit-2.svg
  assets/icons/kids/enrolled.svg
  assets/icons/kids/list.svg
  assets/icons/kids/notebook.svg
  assets/icons/kids/notification.svg
  assets/icons/kids/video-camera-2.svg
  assets/icons/kids/wishlist.svg
Due: none

Support kids-mode icon variants
  assets/core/ts/components/icon.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  assets/src/js/v3/shared/config/config.ts
  classes/Assets.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Show active dropdown icon in Nav
  classes/Student.php
  components/Nav.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "fix(icons): support learning mode icon loading"
  assets/core/ts/components/icon.ts
  assets/icons/kids/announcement.svg
  assets/icons/kids/certificate-2.svg
  assets/icons/kids/delete-2.svg
  assets/icons/kids/edit-2.svg
  assets/icons/kids/info-octagon.svg
  assets/icons/kids/list.svg
  assets/icons/kids/resources.svg
  assets/icons/kids/star-line.svg
  assets/icons/kids/video-camera-2.svg
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  assets/src/js/v3/shared/config/config.ts
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/utils/types.ts
  classes/Assets.php
  templates/dashboard/components/header.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(kids): update dashboard theme styles
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

fix(profile): simplify dashboard profile layout
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update header.php
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Refactor FormPinImage component to improve lasso drawing interactions and enhance UI elements for pin image questions
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
  templates/shared/components/quiz/attempt-details/questions/pin-image.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(QuestionList): comment out question type option for 'Draw on Image'
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

Add learning mood icon and update related references in the codebase
  assets/icons/learning-mood.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(kids): refine nav and tabs styles
  assets/core/scss/components/_nav.scss
  assets/src/scss/frontend/kids/_tabs.scss
Due: none

Style & scripts laoding conditions updated
  classes/Assets.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(kids): prevent quiz attempt shadow clipping
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat: Add kids icon
  assets/icons/kids/announcement.svg
  assets/icons/kids/certificate-2.svg
  assets/icons/kids/info-octagon.svg
  assets/icons/kids/resources.svg
  assets/icons/kids/star-line.svg
Due: none

Rename classic learning mode to modern
  classes/Options_V2.php
  templates/dashboard.php
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & change log updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Duplicate data attribute for kids removed
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/dashboard/account/settings/account.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unused variable removed
  templates/dashboard.php
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unused import removed
  templates/dashboard.php
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Tab default font weight updated
  assets/core/scss/tokens/_tabs.scss
Due: none

fix(editor): align wp editor styling
  assets/core/scss/components/_input.scss
  assets/src/scss/frontend/kids/_learning-area.scss
  components/WPEditor.php
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add formatting
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

fix: Use outline instead of border
  assets/core/scss/components/_input.scss
Due: none

New Hook added to filter course fully booked message
  templates/single/course/course-entry-box.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _profile.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

refactor: Use `UrlHelper::asset()` for assets
  components/WPEditor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Profile settings design fixed
  assets/src/scss/frontend/dashboard/layout/_profile-pages.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

fix(quiz): align attempt action layout
  assets/src/scss/frontend/components/_index.scss
  assets/src/scss/frontend/components/_quiz-attempts.scss
  templates/dashboard/components/quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
