Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance quiz image handling in QuestionPreviewModal
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: eslint --fix, prettier --write

feat: Rename classes to a generic name
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add initial structure
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/js/admin-dashboard/tutor-admin.js
  assets/src/scss/admin-dashboard/index.scss
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  classes/Options_V2.php
  components/Progress.php
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Warning message on student dashboard.
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Consent update & log data storing issue fixed
  GDPR/Controllers/LegalConsent.php
  GDPR/GDPR.php
  GDPR/Models/LegalConsentLogs.php
  GDPR/Models/LegalConsents.php
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Trigger hook from controller conditionally
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Improve styles of consent page
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: optimize page ID retrieval in Template class and correct docblock version format
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: wrap cart and checkout page rendering logic with monetization check
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Retry button removed from learning area quiz list item
  classes/Quiz_Attempts_List.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Continue lesson button added to learning area quiz
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  classes/Quiz.php
  templates/learning-area/quiz/content.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add collapse animation and update method options
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update consent method option key
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "Retry button removed from learning area quiz list item"
  classes/Quiz_Attempts_List.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Localize data set & privacy_urls updated with consent_map in the table
  GDPR/Controllers/LegalConsent.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/UserConsents.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve select filed is getting cropped
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
Due: none

feat(legal-consents): add page link select to consent message
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(legal-consents): add page link icon button overlay on textarea
  assets/src/js/admin-dashboard/segments/legal-consents.js
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Column name consent_maps to consent_map updated
  GDPR/Controllers/LegalConsent.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/UserConsents.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

build exclude updated
  gulpfile.mjs
Due: none

copy tutor kirki to build
  gulpfile.mjs
Due: none

fix(legal-consents): use SVG icon for page link button
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(legal-consents): append page link shortcode on select
  assets/src/js/admin-dashboard/segments/legal-consents.js
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(legal-consents): add multi-select content_map for consent pages
  assets/src/js/admin-dashboard/segments/legal-consents.js
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(legal-consents): remove auto-append on select change
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

fix(legal-consents): only append new page selections to textarea
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

feat(legal-consents): save individual consent card via AJAX
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

Method added to fetch consents by a place key
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(legal-consents): convert page select to dropdown button
  assets/src/js/admin-dashboard/segments/legal-consents.js
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(legal-consents): use buttons in dropdown with slug-keyed content_map
  assets/src/js/admin-dashboard/segments/legal-consents.js
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

build script updated
  package.json
Due: none

Color variables updated
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_deuteranomaly.scss
  assets/core/scss/themes/_deuteranopia.scss
  assets/core/scss/themes/_high-contrast.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/themes/_protanopia.scss
  assets/core/scss/tokens/_borders.scss
  assets/core/scss/tokens/_buttons.scss
  assets/core/scss/tokens/_colors.scss
  assets/core/scss/tokens/_surfaces.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/pages/_certificate.scss
Due: none

fix: Inconsistency in small screen
  assets/core/scss/components/_button.scss
  assets/core/scss/components/_nav.scss
  assets/core/scss/mixins/_buttons.scss
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/dashboard/_certificates.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/dashboard/_reviews.scss
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  assets/src/scss/frontend/learning-area/layout/_header.scss
  templates/dashboard/account/billing.php
  templates/dashboard/account/profile.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/settings/header.php
  templates/learning-area/components/header.php
  templates/learning-area/subpages/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Inconsistency in kids mode
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

button caution replaced with actions caution
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  assets/src/scss/frontend/dashboard/instructor/dashboard.scss
Due: eslint --fix, prettier --write

new tokens added
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_quiz.scss
  assets/core/scss/tokens/_visual.scss
Due: none

Display quiz attempt details footer only in learning area
  templates/learning-area/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

GDPR compliance added on the signup page
  GDPR/Controllers/LegalConsent.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Prevent icon shrinking
  assets/core/scss/components/_popover.scss
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
