Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Add breakpoint mixing
  assets/core/scss/mixins/_layout.scss
Due: none

feat: Add background tokens
  assets/core/scss/tokens/_backgrounds.scss
Due: none

refactor: Rename radius to border tokens
  assets/core/scss/tokens/_borders.scss
  assets/core/scss/tokens/_radius.scss
Due: none

chore: Update token usage
  assets/core/scss/mixins/_utilities.scss
Due: none

feat: Add tokens to index file
  assets/core/scss/tokens/_index.scss
Due: none

refactor: Use new tutor breakpoint utility
  assets/core/scss/mixins/_cards.scss
Due: none

feat: Add icon component
  assets/core/ts/components/icon.ts
Due: eslint --fix, prettier --write

feat: Add tab component ts logic
  assets/core/ts/components/tabs.ts
Due: eslint --fix, prettier --write

feat: Add tab component styles
  assets/core/scss/components/_tabs.scss
  assets/core/scss/utilities/_layout.scss
Due: none

feat: Add constant for tutor custom events
  assets/core/ts/constant.ts
Due: eslint --fix, prettier --write

feat: Add types for tab and icon component
  assets/core/ts/declaration.d.ts
  assets/core/ts/index.ts
  assets/core/ts/types/index.ts
Due: eslint --fix, prettier --write

feat: Update tabs vertical variant styles
  assets/core/scss/components/_tabs.scss
  assets/core/ts/components/tabs.ts
Due: eslint --fix, prettier --write

feat: Add _TUTOR_TEXT_DOMAIN to types
  assets/core/ts/declaration.d.ts
Due: eslint --fix, prettier --write

refactor: Refactor active tab styles
  assets/core/scss/components/_tabs.scss
Due: none

feat: Add tabs demo component to playground
  templates/demo-components/playground.php
  templates/demo-components/tabs.php
Due: none

feat: Add progress bar component
  assets/core/scss/components/_progress.scss
Due: none

feat: Add progress bar template
  templates/demo-components/progress.php
Due: none

feat: Add progress bar template to playground
  templates/demo-components/playground.php
Due: none

refactor: Rename font weight variables
  assets/core/scss/components/_card.scss
  assets/core/scss/components/_navigation.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_typography.scss
  assets/core/scss/utilities/_typography.scss
Due: none

feat: Add icon colors to tokens
  assets/core/scss/tokens/_typography.scss
Due: none

feat: Add statics component styles
  assets/core/scss/components/_index.scss
  assets/core/scss/components/_statics.scss
Due: none

feat: Add two new icons
  assets/icons/check-stroke.svg
  assets/icons/circum-lock.svg
  assets/react/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write

refactor: Add `ts` option to fetch icon
  assets/core/ts/components/icon.ts
Due: eslint --fix, prettier --write

feat: Add statics component
  assets/core/ts/components/statics.ts
Due: eslint --fix, prettier --write

feat: Add statics component to component registry
  assets/core/ts/index.ts
Due: eslint --fix, prettier --write

feat: Add statics demo file
  templates/demo-components/statics.php
Due: none

feat: Add statics demo file to playground
  templates/demo-components/playground.php
Due: none

refactor: Refactor label text rendering logic
  assets/core/ts/components/statics.ts
Due: eslint --fix, prettier --write

feat: Add types to statics meta
  assets/core/ts/components/statics.ts
Due: eslint --fix, prettier --write

feat: Refactor statics component and demo for size support
  assets/core/ts/components/statics.ts
  templates/demo-components/statics.php
Due: eslint --fix, prettier --write

chore: Align constant declarations in Icon class
  classes/Icon.php
Due: none

refactor: Update default animation settings for statics component
  assets/core/ts/components/statics.ts
  templates/demo-components/statics.php
Due: eslint --fix, prettier --write

Add Tutor CSS utility classes documentation and examples
  assets/core/docs/utility-classes.md
  assets/core/docs/utility-examples.html
Due: prettier --write

Add badge component styles and mixins; update dashboard to display badges
  assets/core/scss/components/_badge.scss
  assets/core/scss/components/_index.scss
  assets/core/scss/mixins/_badges.scss
  assets/core/scss/mixins/_index.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_backgrounds.scss
  assets/core/scss/tokens/_colors.scss
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_typography.scss
  templates/demo-components/dashboard.php
Due: none

Enhance card component styles with padding and border radius modifiers
  assets/core/scss/components/_card.scss
  assets/core/scss/mixins/_cards.scss
  templates/demo-components/card.php
  templates/demo-components/playground.php
Due: none

Rename disabled text color to subdued in SCSS
  assets/core/scss/components/_dropdown.scss
  assets/core/scss/components/_navigation.scss
  assets/core/scss/components/_progress.scss
  assets/core/scss/components/_sidebar.scss
  assets/core/scss/components/_tabs.scss
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/mixins/_forms.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_typography.scss
  assets/core/scss/utilities/_colors.scss
  assets/core/scss/utilities/_typography.scss
Due: none

Update success color variable to maintain consistency across themes
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_colors.scss
Due: none

Fix typo in subdued text color variable and class
  assets/core/scss/components/_dropdown.scss
  assets/core/scss/components/_navigation.scss
  assets/core/scss/components/_progress.scss
  assets/core/scss/components/_sidebar.scss
  assets/core/scss/components/_tabs.scss
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/mixins/_forms.scss
  assets/core/scss/tokens/_typography.scss
  assets/core/scss/utilities/_colors.scss
  assets/core/scss/utilities/_typography.scss
Due: none

feat: Add configurable URL parameter support to tabs
  assets/core/ts/components/tabs.ts
  templates/demo-components/tabs.php
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
