Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: standardize duration variable naming convention to snake_case in Utils.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Show active and completed private course in filter, status card and continue learning
  templates/dashboard/courses.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Improve legal consent behavior
  GDPR/Controllers/LegalConsent.php
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Dashboard header and sidebar made sticky
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
Due: none

fix: Convert number to float
  views/quiz/header-context/course-single-previous-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Standardize heading margins and profile spacing
  assets/src/scss/frontend/dashboard/_profile.scss
  components/ConfirmationModal.php
  templates/dashboard/account/settings/account.php
  templates/dashboard/account/withdrawals.php
  templates/dashboard/announcements.php
  templates/dashboard/components/header.php
  templates/dashboard/discussions.php
  templates/dashboard/my-courses.php
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
  templates/ecommerce/billing.php
  templates/learning-area/lesson/exercise-files.php
  templates/learning-area/quiz/modals/result.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/course-info.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Hide download button if there is no record
  assets/src/js/admin-dashboard/segments/consent-logs.js
  views/templates/consent-logs-modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

cs fixes
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: edd add to cart style broken for guest user
  templates/loop/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove tutor-card from assignment
  templates/learning-area/subpages/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add accepted prefix
  assets/src/js/admin-dashboard/segments/consent-logs.js
Due: none

chore: Remove unused prams
  assets/src/js/admin-dashboard/segments/consent-logs.js
Due: none

refactor: standardize variable naming and add type hint for DateTime in second_to_formated_time
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused quiz_time_duration_in_seconds utility method and its template usage
  classes/Utils.php
  templates/single/quiz/parts/meta.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "Standardize heading margins and profile spacing"
  assets/src/scss/frontend/dashboard/_profile.scss
  components/ConfirmationModal.php
  templates/dashboard/account/settings/account.php
  templates/dashboard/account/withdrawals.php
  templates/dashboard/announcements.php
  templates/dashboard/components/header.php
  templates/dashboard/discussions.php
  templates/dashboard/my-courses.php
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
  templates/ecommerce/billing.php
  templates/learning-area/lesson/exercise-files.php
  templates/learning-area/quiz/modals/result.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/course-info.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix header responsiveness, heading spacing, and date i18n
  templates/dashboard/components/header.php
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Reset margins for tutor heading utilities
  assets/core/scss/utilities/_typography.scss
Due: none

refactor: fix docblock type hints, standardize Yoda comparisons, and add PHPCS ignore comment in Utils.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

dvh used instead of vh
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
Due: none

duplicate class removed
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor registration template and update prompt
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

review changes given
  classes/Quiz_Attempts_List.php
  components/Sorting.php
  templates/dashboard/my-quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Gift sender got enroll when discount is 100%
  ecommerce/HooksHandler.php
  templates/ecommerce/checkout-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Reorganize learning-area SCSS structure
  assets/src/scss/frontend/learning-area/_announcements.scss
  assets/src/scss/frontend/learning-area/_assignment-view.scss
  assets/src/scss/frontend/learning-area/_course-navigation.scss
  assets/src/scss/frontend/learning-area/_course-player.scss
  assets/src/scss/frontend/learning-area/_index.scss
  assets/src/scss/frontend/learning-area/_progress-tracking.scss
  assets/src/scss/frontend/learning-area/_quiz-interface.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
  assets/src/scss/frontend/learning-area/components/_index.scss
  assets/src/scss/frontend/learning-area/components/quiz/_index.scss
  assets/src/scss/frontend/learning-area/pages/_announcements.scss
  assets/src/scss/frontend/learning-area/pages/_index.scss
Due: none

Release date updated
  readme.txt
Due: none

Restructure dashboard SCSS: remove & relocate files
  assets/src/scss/frontend/dashboard/_assignments.scss
  assets/src/scss/frontend/dashboard/_enrollment-history.scss
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/pages/_instructor-dashboard.scss
  assets/src/scss/frontend/dashboard/pages/_wishlist.scss
Due: none

Remove unused frontend component SCSS
  assets/src/scss/frontend/components/_assignment-submission.scss
  assets/src/scss/frontend/components/_certificate-display.scss
  assets/src/scss/frontend/components/_index.scss
  assets/src/scss/frontend/components/_lesson-item.scss
  assets/src/scss/frontend/components/_progress-bar.scss
  assets/src/scss/frontend/components/_rating-stars.scss
  assets/src/scss/frontend/components/_user-avatar.scss
Due: none

removed space
  components/Sorting.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Add visual tokens
  assets/core/scss/tokens/_visual.scss
Due: none

feat: Initialize dynamic token injection
  assets/images/illustrations/quiz-intro.svg
  helpers/UrlHelper.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Improve code quality
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add quiz intro asset
  assets/images/illustrations/kids/quiz-intro.svg
  assets/images/illustrations/kids/quiz-intro.webp
  assets/images/illustrations/quiz-intro.svg
  assets/images/illustrations/quiz-intro.webp
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Format using phpcs
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove unused dashboard pages and update init
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/pages/assignments.ts
  assets/src/js/frontend/dashboard/pages/certificates.ts
  assets/src/js/frontend/dashboard/pages/overview.ts
  assets/src/js/frontend/dashboard/services/dashboard-api.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/pages/assignment-view.ts
Due: eslint --fix, prettier --write

refactor: props autocomplete support added to tutor helper
  classes/Config.php
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Course scheduled utc date showing error in safari browser
  assets/src/js/front/course/index.js
Due: none

feat: replace quiz retry illustration with SVG and allow clip-path in URL helper
  assets/images/illustrations/kids/quiz-retry.svg
  assets/images/illustrations/kids/quiz-retry.webp
  assets/images/illustrations/quiz-retry.svg
  components/ConfirmationModal.php
  helpers/UrlHelper.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update quiz UI components to use themed SVG icons instead of webp images and adjust UrlHelper output defaults
  classes/Quiz.php
  helpers/UrlHelper.php
  templates/dashboard/my-quiz-attempts.php
  templates/learning-area/quiz/content.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
