Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Fix quiz timeout submission
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Ignore canceled/failed webhooks for old/failed payment session
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

changed version number
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠): Wc formate issue in analytics
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/top-performing-course-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor QnA frontend and split templates
  assets/src/js/frontend/learning-area/pages/qna.ts
  templates/learning-area/subpages/qna-single.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/qna/qna-card.php
  templates/learning-area/subpages/qna/qna-form.php
  templates/learning-area/subpages/qna/qna-replies.php
  templates/learning-area/subpages/qna/qna-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Discussions: unify errors and fix templates
  assets/src/js/frontend/dashboard/pages/discussions.ts
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-form.php
  templates/dashboard/discussions/qna-list.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Lesson type info added on the learning-area sidebar
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/lesson/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Translators comment added
  templates/learning-area/lesson/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Handle Q&A AJAX errors and unify responses
  assets/src/js/v2/qna.js
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Preserve original error in mutation handlers
  assets/core/ts/services/Query.ts
Due: eslint --fix, prettier --write

Quiz content info added
  templates/learning-area/quiz/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: streamline quiz file path handling and enhance custom question support
  classes/Quiz.php
  classes/QuizBuilder.php
  models/CourseModel.php
  models/QuizModel.php
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Register Q&A menu in Q_And_A, remove from Template
  classes/Q_And_A.php
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(templates): simplify permission denied page layout and styling
  templates/permission-denied.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor content info getting function
  classes/Lesson.php
  templates/learning-area/lesson/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix ordering answer capture
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
  classes/Quiz.php
  templates/learning-area/quiz/questions/ordering.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add quit confirmation modal
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Make quiz progress sticky
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Fix quiz header position
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

updated popover and added video-fill icon
  assets/icons/video-fill.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  components/Popover.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added google calender colorize icon
  assets/icons/google-calender-colorize.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update quiz footer layout and styles
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refine quiz layout logic
  assets/src/js/frontend/learning-area/quiz/quiz.ts
Due: eslint --fix, prettier --write

Fix fill-in-the-blank error handling
  templates/learning-area/quiz/questions/fill-in-the-blank.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add quiz reveal mode config and disable actions
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/v3/@types/index.d.ts
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Improve reveal option checkbox/radio styles
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Trigger timeout immediately on expired attempts
  assets/src/js/frontend/learning-area/quiz/timer.ts
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add reveal-only answer explanation accordion
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/question-explanation.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update quiz explanation handling
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  templates/learning-area/quiz/question-explanation.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Price issue for paid membership pro
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update quiz attempt file path handling to utilize filters
  classes/Quiz.php
  models/CourseModel.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update quiz post type handling in CourseModel
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(templates): improve login and permission denied UI styling
  templates/login-form.php
  templates/login.php
  templates/permission-denied.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Wire legacy quiz hooks into learning area
  classes/Quiz.php
  templates/learning-area/quiz/question-explanation.php
  templates/learning-area/quiz/question-header.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
  templates/single/quiz/parts/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Style quiz answer explanation panel
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Fix(🛠) : When multiple plugin is active for monetization
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Introduce download-3 icon and BOTTOM_END position constant, and rename certificate wrapper CSS class.
  assets/icons/download-3.svg
  classes/Icon.php
  components/Constants/Positions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename CSS class `.tutor-learning-area-certificate` to `.tutor-certificate-wrapper`
  assets/src/scss/frontend/learning-area/pages/_certificate.scss
Due: none

Update quiz abandon modal
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1
