Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat(quiz-attempt): Add answer title to matching attempt details
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz-pagination): Add drag gesture to quiz pagination
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: eslint --fix, prettier --write

fix(course-builder): only sync video duration when video is dirty
  assets/src/js/v3/entries/course-builder/components/modals/LessonModal.tsx
Due: eslint --fix, prettier --write

fix(utils): prioritize resolved video info over filtered meta
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update styles for puzzle question preview in QuestionPreviewModal
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
  assets/src/js/v3/shared/utils/quiz.ts
  assets/src/js/v3/shared/utils/types.ts
Due: eslint --fix, prettier --write

fix(course-builder): reset video duration when video removed
  assets/src/js/v3/entries/course-builder/components/modals/LessonModal.tsx
Due: eslint --fix, prettier --write

feat(quiz): add background switch functionality to FormPuzzle component
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

refactor(course-builder): Remove prerequisiteCourseIds filter
  assets/src/js/v3/entries/course-builder/pages/Additional.tsx
Due: eslint --fix, prettier --write

fix(quiz): Resolve when 0 is treated as falsy
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): enhance styles for draw and pin image questions in quiz layout
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

Replacing the post_author with current user id if post_author is 0.
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed db update part.
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): improve styles for puzzle question layout in quiz component
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

feat(image-upload-list): Add description support
  classes/Options_V2.php
  docs/adr/0001-learning-area-theme-shell-layout.md
  views/options/field-types/image_upload_list.php
Due: prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Remove unnecessary code
  CONTEXT.md
Due: prettier --write

chore: Enqueue wp date
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: bump plugin version to 4.0.7
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Importing question from content bank doesn't allow saving the quiz
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(course): guard attachment image url retrieval for brand logo
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(template): support header and footer visibility in custom header and footer methods
  classes/Utils.php
  includes/tutor-general-functions.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(options): add fallback normalization for legacy spotlight mode and course builder logo
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(template): add header role heading selector for theme header detection
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(options): update @since version tag for image_upload_list
  assets/src/js/admin-dashboard/segments/options.js
Due: none

fix(options): check both header and footer visibility for legacy spotlight fallback
  classes/Template.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(learning-area): move expand button under more pages container and update sidebar z-index
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(progress-card): Add text truncate to categories
  assets/src/scss/frontend/dashboard/_progress-card.scss
  templates/dashboard/courses/course-card-header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security: Fix security issue on the withdraw method field
  classes/RestAPI.php
  classes/Withdraw.php
  classes/Withdraw_Requests_List.php
  models/WithdrawModel.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/account/withdrawals.php
  views/pages/withdraw_requests.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security: XSS security issue on the registration form by old pass reflect value
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
  views/pages/add_new_instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): enhance Puzzle component with grid size and background settings
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Puzzle.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
  assets/src/js/v3/shared/utils/quiz.ts
Due: eslint --fix, prettier --write

Fix: XSS issue on the SearchFilter component
  components/SearchFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): improve layout and styling for quiz question components
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

fix(quiz): remove unnecessary margin from quiz question styling
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

refactor(quiz): update puzzle question styling for improved layout
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: eslint --fix, prettier --write

Optimization: Optimized the enrolled graph query
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "Security: Fix security issue on the withdraw method field"
  classes/RestAPI.php
  classes/Withdraw.php
  classes/Withdraw_Requests_List.php
  models/WithdrawModel.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/account/withdrawals.php
  views/pages/withdraw_requests.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Doc comment updated
  classes/Withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(tokens): Update color tokens
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Security issue on the withdrawal field
  classes/RestAPI.php
  classes/Withdraw.php
  classes/Withdraw_Requests_List.php
  models/WithdrawModel.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/account/withdrawals.php
  views/pages/withdraw_requests.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: in content bank not showing correct count for instructors
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
