Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat(nav): enhance mobile navigation and user profile display
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  templates/dashboard/components/header.php
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz-attempt-details): render instructor feedback in summary
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz-summary): offset question jump and remove magic strings
  assets/src/js/frontend/learning-area/quiz/summary-sidebar.ts
Due: eslint --fix, prettier --write

fix(quiz-review): align dnd answer row heights
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz-attempt-details): use button component variants in header
  templates/learning-area/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(header): adjust user popover dimensions and layout for improved UI
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): pass quiz post object to question hook
  templates/learning-area/quiz/question-header.php
  templates/learning-area/quiz/question.php
  templates/single/quiz/parts/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(nav): clean up unused styles and components in mobile navigation
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(header): streamline user popover layout and spacing for improved consistency
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

refactor(header): remove commented mobile header code for cleaner structure
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(header): manage body overflow on mobile for user popover interactions
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): align attempt details status and explanation rendering
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(styles): share quiz attempt detail styles across dashboard and learning area
  assets/src/scss/frontend/components/_index.scss
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  assets/src/scss/frontend/learning-area/components/quiz/_index.scss
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  assets/src/scss/frontend/learning-area/pages/_index.scss
Due: none

Student dashboard statistic card issue fix
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: update checkout form fields template name
  templates/ecommerce/checkout-billing-form-fields.php
  templates/ecommerce/checkout.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(header, nav): rename user profile classes for improved clarity and consistency
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  templates/dashboard/components/header.php
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(header): adjust user avatar size for better visibility on dashboard
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(header): ensure logout button is displayed only if available in mobile view
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Icon added for resume text
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Url added for profile completion button
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

js handler for billing page
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/pages/billing.ts
Due: eslint --fix, prettier --write

registered billing js with php template file
  templates/dashboard/account/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: billing form field moved seperate template file
  templates/ecommerce/billing-form-fields.php
  templates/ecommerce/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(header): update profile edit link
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(header): update back URL to use the correct dashboard URL
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance withdrawal dashboard UI and logic
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  helpers/ComponentHelper.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(qna): use double quotes for string literals in handlers
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-single.php
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

🆕: Total Time Spent data added in student dashboard
  classes/Course.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(discussions): reply comment right from the comment list
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/scss/frontend/components/_discussion-card.scss
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(discussions): use ReplyCommentPayload type for reply context in handleReplyComment
  assets/src/js/frontend/dashboard/pages/discussions.ts
Due: eslint --fix, prettier --write

refactor(frontend): share quiz summary sidebar component
  assets/src/js/frontend/components/quiz/summary-sidebar.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/frontend/learning-area/quiz/index.ts
  rspack.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

feat(dashboard): isolate quiz attempt details pages
  classes/Dashboard.php
  classes/Template.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard/my-quiz-attempts/attempts-details.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/learning-area/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): align isolated quiz attempt pages
  assets/src/scss/frontend/components/_quiz-question.scss
  classes/Dashboard.php
  classes/Template.php
  templates/dashboard-isolated.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Announcements: Announcements list added on the learning area
  assets/src/scss/frontend/learning-area/_announcements.scss
  assets/src/scss/frontend/learning-area/_index.scss
  classes/Announcements.php
  templates/dashboard/announcements.php
  templates/learning-area/subpages/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Leaning area sidebar topic style fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
  templates/learning-area/lesson/nav-item.php
  templates/learning-area/quiz/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor withdrawal dashboard components and styles
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Wrong total student value on instructor home and dashboard
  classes/Instructor.php
  classes/Utils.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): add v4 quiz attempt review interface
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/review-answers.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add bulk attempt review submission
  classes/Quiz.php
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): tighten review feedback types
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/scss/frontend/main/dashboard.scss
  assets/src/scss/frontend/main/learning-area.scss
Due: eslint --fix, prettier --write
