Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat: implement iframe-based question preview with dynamic styling and content rendering in QuestionPreviewModal
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

feat: Improve question preview iframe loading and layout
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
Due: eslint --fix, prettier --write

Refactor quiz attempts UI and dropdown position
  assets/src/scss/frontend/components/_quiz-attempts.scss
  components/DropdownFilter.php
  templates/dashboard/components/quiz-attempt-row.php
  templates/dashboard/quiz-attempts.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Clean up composer scripts and improve CSS formatting in login template
  composer.json
  includes/theme-compatibility/astra/assets/css/style.css
  templates/login.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: enrollment related const added
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: include order_id and product_id in enrollment info within Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Icon svg files added & assignment status icon updated
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_icons.scss
  assets/icons/cross-circle-line.svg
  assets/icons/info-2.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add preview support for pin_image, draw_image, and scale question types
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

Force zip delete to ignore error
  package.json
Due: none

refactor: reorder imports in QuestionPreviewModal to group component dependencies
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

feat: Add post-install and post-update commands for droip integration
  composer.json
Due: none

refactor: modularize question preview components by moving them into individual files
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/DrawImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/FillInTheBlankPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ImageAnsweringPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MultipleChoicePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OpenEndedPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OrderingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PinImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ScalePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/TrueFalsePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/UnsupportedPreview.tsx
Due: eslint --fix, prettier --write

refactor: standardize import order across question preview components
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/DrawImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/FillInTheBlankPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ImageAnsweringPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OpenEndedPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PinImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ScalePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/TrueFalsePreview.tsx
Due: eslint --fix, prettier --write

feat: update radar animation to perform a full 360-degree sweep per second
  assets/src/js/frontend/learning-area/quiz/radar.ts
Due: eslint --fix, prettier --write

Missing quiz status (pass/fail) icon indication added
  templates/learning-area/quiz/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Used the constants
  templates/learning-area/quiz/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add secondary/exception tokens and theme selector
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_actions.scss
  assets/core/scss/tokens/_icons.scss
Due: none

Add CVD/high-contrast themes & color tokens
  assets/core/scss/themes/_dark-deuteranomaly.scss
  assets/core/scss/themes/_dark-deuteranopia.scss
  assets/core/scss/themes/_dark-high-contrast.scss
  assets/core/scss/themes/_dark-protanopia.scss
  assets/core/scss/themes/_index.scss
  assets/core/scss/themes/_light-deuteranomaly.scss
  assets/core/scss/themes/_light-deuteranopia.scss
  assets/core/scss/themes/_light-high-contrast.scss
  assets/core/scss/themes/_light-protanopia.scss
  assets/core/scss/tokens/_colors.scss
Due: none

Duplicate color variables removed
  assets/core/scss/themes/_dark-deuteranomaly.scss
  assets/core/scss/themes/_dark-deuteranopia.scss
  assets/core/scss/themes/_dark-high-contrast.scss
  assets/core/scss/themes/_dark-protanopia.scss
  assets/core/scss/themes/_light-deuteranomaly.scss
  assets/core/scss/themes/_light-deuteranopia.scss
  assets/core/scss/themes/_light-high-contrast.scss
  assets/core/scss/themes/_light-protanopia.scss
Due: none

update pasteImage to snake case
  components/WPEditor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): Shake Next button on unanswered quiz; use WEBP
  assets/images/illustrations/delete.svg
  assets/images/illustrations/delete.webp
  assets/images/illustrations/kids/warning.webp
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/dashboard/my-courses.php
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update label styles in registration form for consistency
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: SQL injection security issue on the Instructor list fetching method
  classes/Instructors_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: optimize asset management by migrating illustrations to WebP and implementing View Transitions for theme switching
  assets/core/scss/themes/_dark.scss
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/components/_assignment.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

feat: Use language_attributes for theme and styles
  classes/UserPreference.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add view-transition animations for theme toggle
  assets/core/scss/main.scss
Due: none

feat: Use documentElement and optional view transition
  assets/core/ts/services/Preference.ts
Due: eslint --fix, prettier --write

feat: Sync WP editor theme and update styles
  assets/core/scss/components/_input.scss
  assets/core/ts/components/wp-editor.ts
Due: eslint --fix, prettier --write

Condition removed from responsive utilities
  assets/core/scss/tokens/_utility-config.scss
  assets/core/scss/utilities/_borders.scss
  assets/core/scss/utilities/_colors.scss
  assets/core/scss/utilities/_layout.scss
  assets/core/scss/utilities/_sizing.scss
  assets/core/scss/utilities/_spacing.scss
  assets/core/scss/utilities/_typography.scss
Due: none

feat: Normalize and optimize icons/illustrations
  assets/icons/certificate-colorize.svg
  assets/icons/fire.svg
  assets/icons/kids/billing.svg
  assets/icons/kids/comments.svg
  assets/icons/kids/delete-2.svg
  assets/icons/kids/enrolled.svg
  assets/icons/kids/gradebook.svg
  assets/icons/kids/notification.svg
  assets/icons/kids/passed.svg
  assets/icons/kids/play-line.svg
  assets/icons/kids/security.svg
  assets/icons/kids/star-line.svg
  assets/icons/kids/time.svg
  assets/icons/kids/user-circle.svg
  assets/icons/publish.svg
  assets/icons/wallet.svg
  assets/images/illustrations/delete-reviews.webp
  assets/images/illustrations/kids/delete-reviews.webp
  assets/images/illustrations/kids/quiz-retry.webp
  assets/images/illustrations/kids/quiz-submitted.webp
  assets/images/illustrations/kids/reset-course.webp
  assets/images/illustrations/kids/reset-preference.webp
  assets/images/illustrations/kids/retake-course.webp
  assets/images/illustrations/quiz-submitted.webp
  assets/images/illustrations/quiz-timeout.webp
  assets/images/illustrations/reset-course.svg
  assets/images/illustrations/reset-course.webp
  assets/images/illustrations/reset-preference.webp
  assets/images/illustrations/retake-course.webp
  templates/dashboard/account/reviews.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Called hook at top of the class.
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use single quotes for SCSS @forward imports
  assets/core/scss/tokens/_index.scss
Due: none

fix: Revert design bad token usage
  assets/core/scss/themes/_dark.scss
Due: none

Integrate PurgeCSS/PostCSS and split SCSS rules
  package.json
  rspack.config.mjs
Due: none

fix: sanitize sort order and ensure at least one active tab in dashboard discussions
  templates/dashboard/discussions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add high-contrast overrides for colorblind themes
  assets/core/scss/themes/_dark-deuteranomaly.scss
  assets/core/scss/themes/_dark-deuteranopia.scss
  assets/core/scss/themes/_dark-high-contrast.scss
  assets/core/scss/themes/_dark-protanopia.scss
  assets/core/scss/themes/_light-deuteranomaly.scss
  assets/core/scss/themes/_light-deuteranopia.scss
  assets/core/scss/themes/_light-high-contrast.scss
  assets/core/scss/themes/_light-protanopia.scss
Due: none

chore: Remove unused comment
  assets/core/ts/services/Preference.ts
Due: eslint --fix, prettier --write

refactor: simplify image input handling in FormDrawImage component
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

fix: resolve SVGIcon width comparison issue and enhance Storybook configuration
  .storybook/main.ts
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
Due: eslint --fix, prettier --write

Order items validation added before proceeding to checkout
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
