Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Remove default Student Registration checkbox in new GDPR consent
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Refactor quiz question components to improve layout and styling consistency by adding a canvasOuter wrapper and adjusting imageInputEmpty styles.
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

style: update wishlist background color and improve button styles; refine sidebar structure for consistency
  assets/src/scss/frontend/dashboard/_wishlist.scss
  assets/src/scss/frontend/kids/_button.scss
  assets/src/scss/frontend/kids/_sidebar.scss
Due: none

style: Refactor dashboard styles for wishlist and courses; improve layout and responsiveness
  assets/src/scss/frontend/dashboard/_wishlist.scss
  assets/src/scss/frontend/dashboard/pages/_courses.scss
  templates/dashboard/courses.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/wishlist.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use AI quiz endpoint and build QuizQuestion objects
  assets/src/js/v3/entries/course-builder/components/curriculum/GenerateQuizWithAi.tsx
  assets/src/js/v3/shared/services/magic-ai.ts
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Revert "Rename 'Mark in the Image' to 'Draw on Image'"
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/DrawImagePreview.tsx
  classes/QuizBuilder.php
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor AI quiz API hooks and UI styles
  assets/src/js/v3/entries/course-builder/components/curriculum/GenerateQuizWithAi.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/services/magic-ai.ts
Due: eslint --fix, prettier --write

fix: Update QuizBuilder and QuizModel to enhance quiz image handling and answer filtering
  classes/QuizBuilder.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Added query params to the redirected link
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Quiz and assignment icons were not updating correctly for pending and failed statuses in the Instructor > Analytics > Student > View Progress modal
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve icon name typo
  assets/src/js/v3/shared/components/subscription/PreviewItem.tsx
Due: eslint --fix, prettier --write

fix: Dashboard responsive issue
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

refactor: Remove template import functionality and associated files
  assets/src/js/admin-dashboard/template-import-script.js
  assets/src/scss/admin-dashboard/template-import.scss
  classes/Admin.php
  classes/Assets.php
  classes/Tutor.php
  composer.json
  helpers/TemplateImportHelper.php
  rspack.config.mjs
  template-import/TemplateImportInit.php
  template-import/TemplateImporter.php
  views/template-import/templates-list.php
  views/template-import/templates.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor dropdown filter action button styles
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add ascending icon and update icon set
  assets/icons/ascending.svg
  assets/icons/descending.svg
  assets/icons/stepper.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Course.php
  classes/Icon.php
  components/Sorting.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(toast): stabilize storybook and runtime tokens
  .storybook/main.ts
  assets/core/scss/components/_toast.scss
  assets/core/ts/toast/runtime.ts
  stories/atoms/Toast.stories.tsx
Due: eslint --fix, prettier --write

Show legacy-disabled question types with tooltip
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/atoms/Tooltip.tsx
Due: eslint --fix, prettier --write

button style fixed
  assets/core/scss/mixins/_buttons.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Make password modal non-dismissible
  templates/single/password-protected.php
  v2-library/src/js/modal.js
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update icons
  assets/icons/ascending.svg
  assets/icons/descending.svg
Due: none

Changelog and version updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update wishlist background color to use SCSS variable
  assets/src/scss/frontend/dashboard/_wishlist.scss
Due: none

Bypass password for enrolled users
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add new filter for active subpage item
  classes/Template.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: prevent enrollment errors by verifying WooCommerce order existence before processing
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz Attempts list design issue fixes
  assets/src/scss/frontend/components/_quiz-attempts.scss
  components/Sorting.php
  templates/dashboard/my-quiz-attempts.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Refactor `get_questions_by_quiz` method
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Enhance quiz question deletion handling by tracking unsaved mask values for draw, pin, and puzzle types
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/utils/quiz.ts
  classes/QuizBuilder.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove custom URL handling from PreviewTrigger component to enforce default permalink behavior
  components/PreviewTrigger.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

EnrollmentModel used and since tag updated
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: display topic or quiz title in italics within attempt summary component
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update popover kebab button icon
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Wrap option label and count in flex span
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update hook for quiz attempt details for h5p
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Guard AI response array and log errors
  assets/src/js/v3/entries/course-builder/components/curriculum/GenerateQuizWithAi.tsx
Due: eslint --fix, prettier --write

Icon class issue fix in student progress modal.
  purgecss.config.mjs
Due: none

Fix: Consent field is not getting rendered when a consent checked for multiple places
  GDPR/Controllers/LegalConsent.php
  GDPR/Models/LegalConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added text clamp code in preview trigger
  assets/core/scss/components/_preview-trigger.scss
  assets/src/scss/frontend/components/_quiz-attempts.scss
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
