Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Error message updated
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed display place check
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Introduce user preferences for auto play next content and update player logic accordingly
  assets/src/js/frontend/learning-area/lesson/player.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/config/config.ts
  classes/Assets.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add form validation for required fields in legal consent dashboard
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

refactor: replace star icon with starFill and update icon dimensions across components and stories
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/MembershipPlanListTable.tsx
  stories/atoms/Chip.stories.tsx
  stories/atoms/Radio.stories.tsx
  stories/molecules/Card.stories.tsx
  stories/molecules/DropdownButton.stories.tsx
Due: eslint --fix, prettier --write

style: include webkit-search-cancel-button in input appearance reset mixin
  assets/core/scss/mixins/_inputs.scss
Due: none

chore: Typecast attempt_duration
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Update auto-play next content logic to use new option retrieval method
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Enhance auto-play next content logic to utilize user preferences
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update user preferences types in TypeScript definitions and adjust default contrast setting
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/config/config.ts
Due: eslint --fix, prettier --write

fix: multiple order not showing for single course
  classes/TutorEDD.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: display completed count instead of percentage in course card progress
  templates/dashboard/courses/course-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: optimize completed lesson count query and caching using QueryHelper in Utils.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Fix kids mode styles
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

refactor: use strict comparison in type checks, document options param, and remove unused earning chart methods
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use constants for DateFilter placement & icon size
  components/DateFilter.php
  templates/dashboard/account/billing/order-history.php
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
  templates/dashboard/announcements.php
  templates/dashboard/instructor/home.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Login, registration pages style fixed
  templates/dashboard/registration.php
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Spelling fixed
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

theme style override fixed
  templates/dashboard/account/billing/native-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _layout.scss
  assets/core/scss/utilities/_layout.scss
Due: none

style: Add kids mode icon
  assets/icons/kids/cross-circle-line.svg
  assets/icons/kids/info-2.svg
  assets/icons/kids/vision.svg
Due: none

Update quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: notice error undefined $field name
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

new hook added for coupon expiration
  ecommerce/CouponController.php
  views/pages/ecommerce/coupon-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Continue lesson button alignment fixed
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Skip Next and Continue Lesson button
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused methods, update docblocks, and standardize comparison operators in Utils.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve deprecation warning
  views/quiz/header-context/course-single-previous-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: apply snake_case naming convention to variables in Utils class video processing logic
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename variables to snake_case and improve docblock formatting in Utils.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename local time variables to lowercase in seconds_to_time_context for consistency
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz feedback form design fixed
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add !important to display utilities
  assets/core/scss/utilities/_layout.scss
Due: none

refactor: improve variable naming and Yoda conditions in get_run_time_format method
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: normalize playtime_string variable naming to lowercase for consistency
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Add color tokes for visual illustrations
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_colors.scss
Due: none

Add client-side validation for feedback input
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Filter options fixed for expired coupon status
  ecommerce/CouponController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove deprecated get_not_translated_pages method and update docblock comments for improved consistency
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Add tokes to color blind modes
  assets/core/scss/themes/_deuteranomaly.scss
  assets/core/scss/themes/_deuteranopia.scss
  assets/core/scss/themes/_high-contrast.scss
  assets/core/scss/themes/_protanopia.scss
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
