Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

refactor(quiz): Remove empty div
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Fix quiz submit timing and validation
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  assets/src/scss/frontend/components/_quiz-question.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Again added env parameter to prepareMerchantMetadata() and made the function name CamelCase.
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
  ecommerce/PaymentGateways/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(quiz): Update inline form styles
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

refactor(views): Remove unused nonce field
  views/elements/filters.php
  views/elements/list-filters.php
  views/elements/search-filter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: remove security audit harness scripts from bin
  bin/security-audit-baseline.txt
  bin/security-audit.jq
  bin/security-audit.sh
Due: none

fix(views): add security guards and sanitize inputs in modal views
  views/modal/login.php
  views/modal/review.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(views): add security guards and fix label associations in metabox views
  views/metabox/user-profile-fields.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(views): resolve xss, enforce strict yoda comparisons, and harden qna views
  views/qna/contexts.php
  views/qna/qna-new.php
  views/qna/qna-single.php
  views/qna/qna-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(qna): validate redirect, fix avatar escaping, and scope read status update
  views/qna/qna-single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(views): apply ponytail simplifications and clean up template extractions
  views/elements/list-filters.php
  views/elements/pagination.php
  views/fragments/announcement-list.php
  views/qna/qna-new.php
  views/qna/qna-single.php
  views/qna/qna-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add countdown fill animation to navigation buttons during reveal wait
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/front/course-spotlight/quiz.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Unit test added for HttpHelper::class
  tests/phpunit/HttpHelperTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version updated
  ecommerce/PaymentGateways/Http.php
  ecommerce/PaymentGateways/Paypal/src/Core/Support/System.php
  ecommerce/PaymentGateways/Paypal/src/Exceptions/HttpRequestException.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Helper.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
  ecommerce/PaymentGateways/Utils.php
  helpers/HttpHelper.php
  tests/phpunit/HttpHelperTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: add execution command instruction to HttpHelperTest docblock
  tests/phpunit/HttpHelperTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Rename quiz reveal result attribute
  templates/learning-area/quiz/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(settings): confirm penalty unit change with dynamic message
  assets/src/js/admin-dashboard/segments/options.js
Due: none

made exception folder outside of Paypal
  ecommerce/PaymentGateways/Exceptions/HttpRequestException.php
  ecommerce/PaymentGateways/Exceptions/InvalidDataException.php
  ecommerce/PaymentGateways/Exceptions/InvalidSignatureException.php
  ecommerce/PaymentGateways/Http.php
  ecommerce/PaymentGateways/Paypal/src/Exceptions/InvalidDataException.php
  ecommerce/PaymentGateways/Paypal/src/Exceptions/InvalidSignatureException.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Helper.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
  ecommerce/PaymentGateways/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added missing comments
  ecommerce/PaymentGateways/Exceptions/HttpRequestException.php
  ecommerce/PaymentGateways/Exceptions/InvalidDataException.php
  ecommerce/PaymentGateways/Exceptions/InvalidSignatureException.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Helper.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove reduce motion support from legacy mode
  assets/src/scss/front/course-spotlight/quiz.scss
Due: none

Fix back button does not update pagination active state
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

Update FileUploader.php
  components/FileUploader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update API documentation to reflect JWT authentication changes
  docs/api/Authentication/Login.bru
  docs/api/Authentication/Logout.bru
  docs/api/Authentication/Refresh Token.bru
  docs/api/Authentication/folder.bru
  docs/api/Courses/course-announcement-{id}.bru
  docs/api/Courses/course-contents-{id}.bru
  docs/api/Courses/course-rating-{id}.bru
  docs/api/Courses/courses-{id}.bru
  docs/api/Courses/courses.bru
  docs/api/Curriculum/lessons.bru
  docs/api/Curriculum/topics.bru
  docs/api/Instructors/author-information-{id}.bru
  docs/api/Quizzes/quiz-attempt-details-{id}.bru
  docs/api/Quizzes/quiz-question-answer-{id}.bru
  docs/api/Quizzes/quizzes-{id}.bru
  docs/api/Quizzes/quizzes.bru
  docs/api/README.md
  docs/api/environments/Tutorlms.bru
  docs/api/environments/local.bru.example
  docs/api/environments/production.bru
Due: prettier --write

Enhance quiz answer visibility control in REST API
  restapi/REST_Quiz.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added given review changes
  models/CourseModel.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Format Quiz.php
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix reduce motion settings.
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

updated xss fix and csv security fix in js files only
  GDPR/Controllers/UserConsent.php
  assets/src/js/admin-dashboard/segments/consent-logs.js
  assets/src/js/admin-dashboard/segments/students.js
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(qna): restore important badge, accessible delete modal, and clean up qna views
  views/qna/qna-new.php
  views/qna/qna-single.php
  views/qna/qna-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(views): address security issues and prevent xss in qna table
  views/qna/qna-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(qna): simplify template variables extraction in qna table
  views/qna/qna-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update course and subscription purchase validation logic in CheckoutController
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: add phpcs ignore rule for legal consent validation in checkout controller
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: cs warning
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

private course issue fix
  models/CourseModel.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Resolve manual override button not color graded
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): prevent attempt status lockout on skipped essay questions
  classes/Quiz.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update course pricing retrieval in REST API
  restapi/REST_Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update DB helper and test suite versions to 4.2.0
  helpers/DB.php
  helpers/QueryHelper.php
  tests/phpunit/DBTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
