Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Place holder added for bundle enrollment list
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(templates): use imported class names for SvgIcon and Icon
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(progress): use warning tertiary track color
  assets/core/scss/components/_progress.scss
Due: none

fix: Review numbs styles
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(url): simplify themed asset lookup
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update content.php
  templates/learning-area/lesson/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Move review card template to account folder
  templates/dashboard/account/reviews.php
  templates/dashboard/account/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Show pending badge next to review rating
  templates/dashboard/account/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Whitelist additional SVG attributes
  classes/Input.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: component support added to tutor_alert helper
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add new quiz icons and update question types
  assets/icons/quiz-mark-in-the-image.svg
  assets/icons/quiz-pin.svg
  assets/icons/quiz-range.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/QuizBuilder.php
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Reduce popover menu min-width to 110px
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove min_width setter from Popover
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace custom password reset logic with native WordPress retrieve_password and remove redundant email templates
  classes/FormHandler.php
  templates/email/send-reset-password.php
  templates/template-part/retrieve-password.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update BaseComponent.php
  components/BaseComponent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(templates): replace inline alert HTML with Alert component
  templates/dashboard/instructor/logged-in.php
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated query for getting enrollments
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Dashboard spacing fixed
  assets/src/scss/frontend/dashboard/instructor/dashboard.scss
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add themed learning area illustrations
  assets/images/illustrations/kids/quiz-intro.webp
  assets/images/illustrations/kids/quiz-submitted.webp
  assets/images/illustrations/kids/quiz-timeout.webp
  assets/images/illustrations/quiz-intro.webp
  assets/images/illustrations/quiz-retry.webp
  assets/images/illustrations/quiz-submitted.webp
  assets/images/illustrations/quiz-timeout.webp
  assets/images/quiz-intro.svg
  assets/images/quiz-submitted.svg
  assets/images/quiz-timeout.svg
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/content.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve code documentation, standardize comparison operators, and suppress extract() warnings in general functions
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): stop timer after submission
  assets/core/ts/constant.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  assets/src/js/frontend/learning-area/quiz/timer.ts
Due: eslint --fix, prettier --write

Enhance FormScale component and improve quiz question rendering
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
  templates/learning-area/quiz/question-header.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

style(dashboard): remove redundant card class and adjust styles
  assets/src/scss/frontend/dashboard/_progress-card.scss
  assets/src/scss/frontend/dashboard/_stat-card.scss
  templates/dashboard/courses/course-card.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(ecommerce): increase form gap for better visual spacing
  templates/ecommerce/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): validate scale min/max range in FormScale and quiz utils
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
  assets/src/js/v3/shared/utils/quiz.ts
Due: eslint --fix, prettier --write

Enhance FormScale component validation and error handling
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
Due: eslint --fix, prettier --write

Fix(🛠) : Added missing information in course info page
  assets/icons/audience.svg
  assets/icons/categories.svg
  assets/icons/requirements.svg
  assets/icons/tag.svg
  classes/Icon.php
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve PHPDoc documentation and standardize function parameter naming across general utility functions
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename __tutor_generate_categories_checkbox to tutor_generate_categories_checkbox for consistency
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename __tutor_generate_tags_checkbox to tutor_generate_tags_checkbox for consistency
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve date formatting logic and add necessary code style ignore comments
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor quiz validation utilities and enhance scale question handling
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
Due: eslint --fix, prettier --write

fix(url): support themed tutor pro assets
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add themed retry and abandon illustrations
  assets/images/illustrations/kids/quiz-abandon.webp
  assets/images/illustrations/kids/quiz-retry.webp
  assets/images/illustrations/quiz-abandon.webp
  templates/dashboard/my-quiz-attempts.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): use kids retry icon
  assets/icons/kids/reload-3.svg
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: pass empty editor_html variable to tutor_qna_editor filter in Q&A forms
  templates/dashboard/discussions/qna-form.php
  templates/learning-area/subpages/qna/form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(dashboard): Change hover effect to only apply when stat card has href or click attribute
  assets/src/scss/frontend/dashboard/_stat-card.scss
Due: none

style(kids-dashboard): remove tutor-card from kids progress cards selector spacing
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

Refactor quiz helper functions to improve scale field handling
  assets/src/js/frontend/learning-area/quiz/helpers.ts
Due: eslint --fix, prettier --write
