Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add descending icon and update related components
  assets/icons/descending.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  classes/Icon.php
  components/Sorting.php
  templates/dashboard/components/nav-mobile.php
  templates/dashboard/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Reset active navigation state to default
  templates/dashboard/components/nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(docs): update package information and author details in header and nav-mobile templates
  templates/dashboard/components/header.php
  templates/dashboard/components/nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(docs): correct header description and update package information in sidebar template
  templates/dashboard/components/header.php
  templates/dashboard/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠️) : Warning messages
  ecommerce/Ecommerce.php
  templates/dashboard/account/billing/order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add utility method to get icon constant by post type and update usage in upcoming task item template
  classes/Icon.php
  classes/Utils.php
  templates/dashboard/instructor/home/upcoming-task-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠️) : Resolve badge design issue in review card
  templates/dashboard/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: create mobile navigation sidebar template for tutor dashboard
  templates/dashboard/components/sidebar-nav-mobile.php
  templates/dashboard/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: method param added to check for specific http request type
  classes/Input.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: method param added to has_any to support specific http request type
  classes/Input.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: method param support added to has all method
  classes/Input.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

revert changes
  gulpfile.mjs
  package.json
Due: none

Fix(🛠️) : Reset Password variable name issue.
  templates/dashboard/account/settings/reset-password-modal.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(calendar): resolve modal input interaction and theme sync
  assets/core/scss/components/_calendar.scss
  assets/core/ts/components/calendar.ts
Due: eslint --fix, prettier --write

Missing date filter component in announcement list
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Announcement list results not updating based on date filter"
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add tutor object query keys
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/config/config.ts
  templates/dashboard/components/header.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Review changes
  ecommerce/Ecommerce.php
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: dashboard order history filter showing wrong count
  ecommerce/OrderController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: invalid URL generating for dashboard order history status filter
  ecommerce/OrderController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: clear all link button added to dashboard order history filter
  templates/dashboard/account/billing/order-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: code indentation
  templates/dashboard/account/billing/order-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Improve password reset mutation handling with a dedicated response interface and refactor utility access in settings.
  assets/src/js/frontend/dashboard/pages/settings.ts
Due: eslint --fix, prettier --write

refactor(announcements): use component props and dynamic IDs for modals
  assets/src/js/frontend/dashboard/pages/announcements.ts
  templates/dashboard/announcements.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(popover): add origin-based transition with transform-origin
  components/Constants/Positions.php
  components/DateFilter.php
  components/DropdownFilter.php
  components/Popover.php
  components/Sorting.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add transition to popovers
  components/DropdownFilter.php
  components/Popover.php
  components/Sorting.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): update filter callback for pin_image grading to use tutor_filter_quiz_answer_data
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: refine quiz answer data processing for draw_image question type
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove jigsaw answer data filter from quiz answer processing
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): remove unnecessary filter for draw_image answer data
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Emit FORM_RESET event on form reset
  assets/core/ts/components/form.ts
Due: eslint --fix, prettier --write

Use learning-area QnA form template
  templates/learning-area/subpages/qna/replies.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

design break fixed
  templates/learning-area/subpages/qna/single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Reset reply form on cancel
  templates/learning-area/subpages/qna/single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add notification addon field to announcement
  assets/src/js/frontend/dashboard/pages/announcements.ts
  templates/dashboard/announcements.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Code Refactor
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Allow custom Q&A editor via tutor_qna_editor filter
  templates/learning-area/subpages/qna/form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Allow custom QnA editor via filter
  templates/dashboard/discussions/qna-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Decode and truncate discussion answers
  assets/src/js/frontend/dashboard/pages/discussions.ts
Due: eslint --fix, prettier --write

Load updated QnA form template
  templates/learning-area/subpages/qna/replies.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
