Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

style: Update skip quiz illustrations
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Reformat codes
  assets/src/js/v3/entries/course-builder/components/curriculum/Topic.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/TopicHeader.tsx
Due: eslint --fix, prettier --write

fix(tutor-setup): add reload protection and prevent duplicate submits
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

New default cover photo used
  assets/images/cover-photo.jpg
  assets/images/cover-photo.webp
  assets/src/scss/front/_student_public_profile.scss
  classes/User.php
  classes/Utils.php
  templates/public-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update onboarding styles and refactor icons
  assets/src/scss/admin-dashboard/tutor-setup.scss
  views/onboarding.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Readme updated
  readme.txt
Due: none

refactor: optimize offer notice dismissal flow and add exclusion for welcome requests
  assets/src/js/admin-dashboard/tutor-admin.js
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Update button url
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add pro condition to redirect url after course creation
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Undefined action url
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Hide admin notices from welcome page
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix scroll and background color in setup page
  assets/src/scss/admin-dashboard/tutor-setup.scss
Due: none

Upgrade pro button focus style fixed
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

refactor: add utility for fetching WordPress.org plugin versions and migrate WhatsNew check to use it
  classes/Utils.php
  classes/WhatsNew.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: update param documentation for plugin_slug in Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: unify answer ID retrieval in REST API and fix quiz answer serialization bug
  restapi/REST_Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace hardcoded question type strings with QuizModel constants in Quiz processing logic and fix security issue
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: use get_manual_review_types for quiz question validation and update its definition to include image answering type
  classes/Quiz.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(svg): namespace SVG IDs to prevent conflicts when multiple instances are rendered
  assets/core/ts/components/icon.ts
  assets/icons/info-octagon-fill.svg
  assets/icons/kids/certificate-2.svg
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  components/SvgIcon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: No check added if course bundle is enabled
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated logic
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove duplicate variable assertion
  components/SvgIcon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Remove unused yaml
  pnpm-workspace.yaml
Due: none

Decode URL-encoded path segments before route matching
  assets/src/js/frontend/learning-area/index.ts
Due: eslint --fix, prettier --write

refactor: Move scripts to its folder
  package.json
  scripts/replace-svg-colors.ts
Due: eslint --fix, prettier --write

Wordpress rating added with design fix
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

is_dashboard_page added to tutorobject
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add missing details button for mobile devices
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Preview trigger overflow fixed
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

Pro badge in quiz popup updated
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/atoms/ProBadge.tsx
Due: eslint --fix, prettier --write

fix: backslash showing for image answering
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

rest api security imporved
  classes/RestAPI.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: implement accurate answer validation for image answering questions and update attempt status constant
  classes/Quiz.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace hardcoded quiz attempt status strings with QuizModel constants
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add support for Vimeo unlisted video embed URLs
  templates/single/video/vimeo.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

Updated `get_enrolled_data` with is enrollment complete check
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Example Usage comment updated for all PHP components
  components/Accordion.php
  components/Alert.php
  components/AttachmentCard.php
  components/Avatar.php
  components/Badge.php
  components/Button.php
  components/ConfirmationModal.php
  components/CourseFilter.php
  components/DateFilter.php
  components/DropdownFilter.php
  components/EmptyState.php
  components/FileUploader.php
  components/InputField.php
  components/Modal.php
  components/Nav.php
  components/Pagination.php
  components/Popover.php
  components/PreviewTrigger.php
  components/Progress.php
  components/SearchFilter.php
  components/Sorting.php
  components/StarRating.php
  components/StarRatingInput.php
  components/StatusSelect.php
  components/SvgIcon.php
  components/Table.php
  components/Tabs.php
  components/Tooltip.php
  components/WPEditor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
