Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add kids attempt detail styling
  assets/icons/kids/clock.svg
  assets/icons/kids/file-attachement.svg
  assets/icons/kids/passed.svg
  assets/icons/kids/prime-check-circle.svg
  assets/icons/kids/question-circle.svg
  assets/icons/kids/stopwatch.svg
  assets/src/scss/frontend/kids/_learning-area.scss
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed assignment localization and used hook instead
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): polish kids learning area quiz styles
  assets/icons/kids/bulb-2.svg
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Revert "Merge remote-tracking branch 'origin' into v4-blind"
  includes/tutor-general-functions.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

PNPM yaml file added
  pnpm-lock.yaml
Due: none

Fix(🛠) : Subscription orders are visible in order history when Subscription Add-on is disabled
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Component error fixed
  components/StarRatingInput.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz delete error fixed
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update reset preference modal illustrations
  assets/images/illustrations/kids-reset-preference.svg
  assets/images/illustrations/reset-preference.svg
  classes/UserPreference.php
  classes/Utils.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Memory limit update temporarily before pot generate command
  package.json
Due: none

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove zip files before procceding to build
  package.json
Due: none

Changelog updated
  readme.txt
Due: none

fix(quiz): normalize learning area quiz settings
  classes/Quiz.php
  classes/Utils.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/content.php
  templates/learning-area/quiz/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): drive reveal mode from explicit setting
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
Due: eslint --fix, prettier --write

Course review modal added to learning area
  assets/src/js/frontend/components/reviews.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Course.php
  templates/learning-area/subpages/reviews/create-review-modal.php
  views/modal/review.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): refine builder quiz settings
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/scss/frontend/kids/_button.scss
Due: eslint --fix, prettier --write

fix(quiz): allow manual navigation after answer reveal
  assets/src/js/frontend/learning-area/quiz/layout.ts
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Remove unused icons
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

refactor: simplify learning mode preference retrieval and update placeholder text
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): respect hidden timer display in progress bar
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): share retry modal handling across attempt views
  assets/src/js/frontend/components/quiz/retry-attempt.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/frontend/learning-area/quiz/index.ts
  templates/dashboard/my-quiz-attempts.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update get_enrolments to use integer type for course_id and implement SQL preparation for security
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(course-builder): disable quiz pagination style in legacy mode
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/shared/config/config.ts
  classes/Course.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): preserve retry action when details are hidden
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠): Warning message when WooCommerce is enabled as monetization.
  models/OrderModel.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix the make-pot memory limit issue
  classes/Admin.php
  package.json
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Course complete and retake moved to global position
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/pages/course-info.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  assets/src/scss/frontend/learning-area/layout/_header.scss
  classes/Course.php
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
  templates/learning-area/lesson/content.php
  templates/learning-area/subpages/course-info.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): gate attempt details access after submission
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/modals/result.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Attempt details spacing issue fix
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

Flush the rewrite rules regardless of version on activation
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update EmptyState.php
  components/EmptyState.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add is_legacy_learning_mode support across various components and classes
  assets/core/ts/declaration.d.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/config/config.ts
  classes/Assets.php
  classes/QuizBuilder.php
  classes/Utils.php
  templates/shared/components/quiz/attempt-details/questions/draw-image.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: restrict learning mood setting visibility to student view and clean up preference template UI
  classes/Utils.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance QuestionList component by enabling 'Draw on Image' quiz type
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

feat: add VERIFY_CERTIFICATE endpoint to the shared utilities constant object
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Add support for 'Pin Image' question type in review answers template
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Forms footer visibility added
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/form.php
  templates/learning-area/subpages/qna/replies.php
  templates/learning-area/subpages/qna/single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Slug not found issue after plugin update
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance legacy learning mode handling for question types
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  classes/QuizBuilder.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
