Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat(discussions): add highlightCard function to visually emphasize discussion cards
  assets/src/js/frontend/dashboard/pages/discussions.ts
Due: eslint --fix, prettier --write

Refactor withdrawal history filters in dashboard
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance withdrawal history filters layout in dashboard
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Design fixes and component fixes for v4 assignment
  assets/src/js/v3/shared/utils/endpoints.ts
  assets/src/scss/frontend/learning-area/components/_assignment.scss
  components/AttachmentCard.php
  components/FileUploader.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(discussions): add highlightCard function to visually emphasize discussion cards
  assets/src/js/frontend/learning-area/pages/qna.ts
  templates/learning-area/subpages/qna/card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠): Incorrect data display for completed and inactive bar on instructor dashboard.
  classes/Instructor.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance withdrawal dashboard styles and structure
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused class
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Implement cumulative filtering for calendar and sorting components
  assets/core/ts/components/calendar.ts
  components/DropdownFilter.php
  components/Sorting.php
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
  templates/dashboard/account/withdrawals.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Allow asynchronous `onValid` and `onInvalid` callbacks in form submission handlers.
  assets/core/ts/components/form.ts
Due: eslint --fix, prettier --write

Fix(🛠): Incorrect data display for completed and inactive bar on instructor dashboard.
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: move country and state option generation to `BillingController`.
  ecommerce/BillingController.php
  templates/ecommerce/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance withdrawal history filters layout and styles
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Refactored the as per PR change request
  assets/src/scss/frontend/learning-area/_announcements.scss
  templates/learning-area/subpages/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor withdrawal dashboard SCSS for improved layout and consistency
  assets/src/scss/frontend/dashboard/_withdrawals.scss
Due: none

Enhance withdrawal history section styles and structure
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor withdrawal history filters to use Tutor's current URL
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Introduce a centralized LocationService for fetching and caching country data, refactoring billing and settings pages to utilize it.
  assets/core/ts/index.ts
  assets/core/ts/services/Location.ts
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/pages/billing.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
  templates/dashboard/account/billing.php
  templates/ecommerce/billing-form-fields.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): move instructor edit marker to summary footer
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Sidebar design improved
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Exclude pending reviews from instructor dashboard
  classes/Utils.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance withdrawal history filters and styles for improved responsiveness
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Improve types for announcement form
  assets/src/js/frontend/dashboard/pages/announcements.ts
Due: eslint --fix, prettier --write

chore: Format php code
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): extract basic inline kses tags
  classes/Utils.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Course Completion Chart is only displayed when the "All Time" range is selected.
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(file-uploader): add max file selection support
  assets/core/ts/components/file-uploader.ts
  components/FileUploader.php
  templates/demo-components/components/file-uploader.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

code formate
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Wire withdrawal history date filters to backend query and reset pagination
  assets/core/ts/components/calendar.ts
  models/WithdrawModel.php
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(discussions): enhance comment and Q&A cards with Button component and accessibility improvements
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/qna-card.php
  templates/learning-area/subpages/qna/card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(qna): update reply success card outline style
  assets/src/js/frontend/learning-area/pages/qna.ts
Due: eslint --fix, prettier --write

Hook added to add change email button
  templates/dashboard/account/settings/security.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance tooltip functionality and update withdrawal request modal
  assets/core/scss/components/_tooltip.scss
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Sidebar drawer and resize implemented
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update `@dnd-kit/dom` version
  package.json
  pnpm-lock.yaml
Due: none

Sidebar.ts file introduced
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/sidebar.ts
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

dynamic tutor version
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Refactor pagination layout logic
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  components/ConfirmationModal.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused class
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

refactor: remove export from `Country` interface and `LocationService` class, and rename `_24_HOURS` to `STEAL_TIME`.
  assets/core/ts/services/Location.ts
Due: eslint --fix, prettier --write
