Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused variables
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: centralize billing form default value initialization into a static method in BillingController.
  ecommerce/BillingController.php
  templates/ecommerce/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Save sortable section on instructor dashboard
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  classes/Instructor.php
  templates/dashboard/instructor/home.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update import order
  assets/src/js/frontend/learning-area/quiz/index.ts
Due: eslint --fix, prettier --write

Reset progress implemented
  assets/icons/warning-colorized.svg
  assets/src/js/frontend/learning-area/sidebar.ts
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Icon.php
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused codes
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Disabled class support added
  assets/core/scss/mixins/_buttons.scss
  components/Button.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Prev, Next disabled state added
  templates/learning-area/lesson/footer.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Icon colors removed from button
  assets/core/scss/mixins/_buttons.scss
Due: none

Conflict with quiz and assignment resolved
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/lesson/comments.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
  assets/src/js/frontend/learning-area/pages/quiz.ts
Due: eslint --fix, prettier --write

Certificate modal issue fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Action hooks added
  templates/dashboard/account/settings/security.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fixed the text-domain issue
  classes/Announcements.php
  templates/learning-area/subpages/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update quiz into illustration
  assets/images/quiz-intro.svg
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

used z-index scss variable
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

Removed the custom style & used size attr
  templates/dashboard/account/settings/security.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Loading state not showing & user not automatically logout after password reset
  assets/src/js/frontend/dashboard/pages/settings.ts
  templates/dashboard/account/settings/security.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: By default profile tab showing active when user is on the home page
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Hooks added for content drip
  templates/learning-area/lesson/content.php
  templates/learning-area/lesson/footer.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add draw image threshold functionality to quiz questions
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/utils/quiz.ts
  assets/src/js/v3/shared/utils/types.ts
Due: eslint --fix, prettier --write

Button style fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "Icon colors removed from button"
  assets/core/scss/mixins/_buttons.scss
Due: none

button icon class fixed
  assets/core/scss/mixins/_buttons.scss
Due: none

Refactor course action button rendering and update dashboard course stat link
  classes/Course.php
  templates/dashboard/components/header.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Using Avatar component instead of wp function to show initial if avatar not available
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve DrawImage component structure and integrate precision control
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

save sortable section
  assets/src/js/frontend/dashboard/pages/instructor/home.ts
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  classes/Instructor.php
  templates/dashboard/instructor/home.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update discussion card styles and hide reply btn after clicked
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
  assets/src/scss/frontend/components/_discussion-card.scss
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/qna-card.php
  templates/learning-area/subpages/qna/card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: conditionally apply box shadow to discussion cards based on window width
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
Due: eslint --fix, prettier --write

saved data rendered on home page
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  classes/Instructor.php
  templates/dashboard/instructor/home.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added ignore statement
  templates/learning-area/lesson/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: adjust padding for small screens in learning area layout
  assets/src/scss/frontend/learning-area/layout/_layout.scss
Due: none

Code format
  assets/src/js/frontend/dashboard/pages/instructor/home.ts
  classes/Instructor.php
  templates/dashboard/instructor/home.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Clear param support added
  assets/core/ts/components/calendar.ts
  components/DateFilter.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

My courses icon fixed
  assets/icons/calendar-check.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  templates/dashboard/my-courses.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

DropdownFilter component added for billing page
  templates/dashboard/account/billing/order-history-filters.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): correct course count variables in student dashboard stats
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

quiz attempts popover style improved
  assets/core/scss/components/_popover.scss
  assets/src/scss/frontend/components/_quiz-attempts.scss
  classes/Quiz_Attempts_List.php
  components/DropdownFilter.php
  templates/dashboard/components/student-quiz-attempt-row.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code format
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor function name
  classes/Course.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
