Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Wishlisted bundle ribbon style breaking
  assets/src/scss/frontend/dashboard/_course-card.scss
Due: none

Revert "Merge with 4.0.0-dev"
  assets/core/scss/components/_accordion.scss
  assets/core/scss/components/_button.scss
  assets/core/scss/components/_calendar.scss
  assets/core/scss/components/_input.scss
  assets/core/scss/components/_nav.scss
  assets/core/scss/components/_popover.scss
  assets/core/scss/components/_select.scss
  assets/core/scss/components/_table.scss
  assets/core/scss/components/_tabs.scss
  assets/core/scss/mixins/_buttons.scss
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/components/_player.scss
  assets/src/scss/frontend/dashboard/_course-card.scss
  assets/src/scss/frontend/dashboard/_stat-card.scss
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  composer.json
  includes/theme-compatibility/astra/assets/css/style.css
  includes/theme-compatibility/astra/functions.php
  includes/theme-compatibility/flatpro/functions.php
  templates/account-header.php
  templates/dashboard/account/settings/account.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/account/settings/security.php
  templates/dashboard/account/settings/social-accounts.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/components/header.php
  templates/dashboard/courses.php
  templates/dashboard/instructor/profile-statistics.php
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
  templates/login-form.php
  templates/login.php
  templates/template-part/form-retrieve-password.php
  templates/template-part/retrieve-password.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Review modal showing in calendar classes fixed
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update Course.php
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: centralize enrollment and order meta keys using class constants
  classes/Course.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: use Course class constants for order meta keys and fix TutorEDD namespace order
  classes/TutorEDD.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: migrate enrollment-related methods from Utils class to EnrollmentModel for better code organization
  classes/TutorEDD.php
  classes/Utils.php
  ecommerce/HooksHandler.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

GDPR
  GDPR/Controllers/BaseController.php
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
  GDPR/DB/DB.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/Logs.php
  GDPR/DB/UserConsents.php
  GDPR/GDPR.php
  GDPR/Models/LegalConsentLogs.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserConsents.php
  assets/fonts/tutor-v2.woff
  assets/icons/contract-outline.svg
  assets/src/js/admin-dashboard/segments/legal-consents.js
  assets/src/js/admin-dashboard/segments/students.js
  assets/src/js/admin-dashboard/tutor-admin.js
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/admin-dashboard/index.scss
  assets/src/scss/admin-dashboard/segments/legal-consents.scss
  assets/src/scss/admin-dashboard/segments/students.scss
  classes/Ajax.php
  classes/Icon.php
  classes/Instructor.php
  classes/Options_V2.php
  classes/Student.php
  classes/Tutor.php
  composer.json
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
  templates/login-form.php
  v2-library/tutor-icon/fonts/tutor-v2.woff
  v2-library/tutor-icon/tutor-icon.scss
  v2-library/tutor-icon/tutor-v2-icons.json
  views/options/template/legal_consents.php
  views/pages/students.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: trigger showPreview() on Tap & text transformation to capitalize for tabs
  assets/core/scss/components/_tabs.scss
  assets/core/ts/components/preview-trigger.ts
Due: eslint --fix, prettier --write

feat: Add accepted prefix to show conditionally
  GDPR/Controllers/LegalConsent.php
  assets/src/js/admin-dashboard/segments/students.js
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: move delete_enrollment_record method from Utils class to EnrollmentModel
  classes/Utils.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Generalize consent logs for students and instructors
  GDPR/Controllers/UserConsent.php
  assets/src/js/admin-dashboard/segments/consent-logs.js
  assets/src/js/admin-dashboard/tutor-admin.js
  assets/src/scss/admin-dashboard/index.scss
  assets/src/scss/admin-dashboard/segments/consent-logs.scss
  views/pages/instructors.php
  views/pages/students.php
  views/templates/consent-logs-modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: remove hover delay for showPreview() in preview-trigger component
  assets/core/ts/components/preview-trigger.ts
Due: eslint --fix, prettier --write

Add new SVG icon for correct graph marker and update selected marker color in quiz components for improved visual clarity.
  assets/icons/graph-marker-correct.svg
  assets/icons/graph-marker-selected.svg
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

Fix: Restore actions column structure in instructors table
  views/pages/instructors.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add consent logs to instructor list
  views/pages/instructors.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve empty table header
  views/pages/instructors.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add consent button to user page
  GDPR/Controllers/UserConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fixed the format issue
  classes/Ajax.php
  classes/Instructor.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fixed the format issue
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Redirect old dashboard page slugs to new page slugs
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Incorrect order badge count on order submenu
  ecommerce/AdminMenu.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Form reset issue fixed
  assets/src/js/frontend/dashboard/pages/announcements.ts
Due: eslint --fix, prettier --write

Textarea new preserved for announcements
  templates/dashboard/announcements.php
  templates/email/email_styles.php
  templates/learning-area/subpages/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Notification disable all logic fixed with design improvements
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: eslint --fix, prettier --write

chore: update Kirki plugin dependency to Kirki Pro
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update button styles in calendar component and add text transformation to buttons mixin
  assets/core/scss/components/_calendar.scss
  assets/core/scss/mixins/_buttons.scss
Due: none

Release date updated
  readme.txt
Due: none

Wishlist bundle badge and variable scope fixed
  templates/dashboard/wishlist.php
  templates/dashboard/wishlist/star-rating.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

my courses style fixed
  assets/src/scss/frontend/dashboard/pages/_my-courses.scss
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: EDD order history
  classes/TutorEDD.php
  helpers/ComponentHelper.php
  templates/dashboard/account/billing/edd-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: format order date and modernize payment/receipt buttons in billing dashboard
  templates/dashboard/account/billing/wc-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace hardcoded meta keys with EnrollmentModel constants for consistency and security
  classes/Course.php
  classes/Utils.php
  ecommerce/HooksHandler.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: migrate enrollment logic from tutor_utils to EnrollmentModel::do_enroll
  classes/Course.php
  classes/WooCommerce.php
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace legacy `tutor_utils()->is_enrolled()` calls with `EnrollmentModel::is_enrolled()` across templates and classes.
  classes/Course.php
  classes/Lesson.php
  classes/Private_Course_Access.php
  classes/Q_And_A.php
  classes/WooCommerce.php
  ecommerce/CheckoutController.php
  ecommerce/HooksHandler.php
  includes/tutor-general-functions.php
  includes/tutor-template-functions.php
  models/OrderModel.php
  templates/learning-area/index.php
  templates/learning-area/lesson/content.php
  templates/single-course.php
  templates/single/common/footer.php
  templates/single/common/header.php
  templates/single/course/course-topics.php
  templates/single/course/reviews.php
  templates/single/lesson/content.php
  templates/single/lesson/lesson_sidebar.php
  templates/single/password-protected.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refine button padding for various sizes when excluding tutor-btn-link, tutor-btn-link-gray, and tutor-btn-link-destructive classes, and improve overall button styling with icon support.
  assets/core/scss/components/_button.scss
  assets/core/scss/mixins/_buttons.scss
Due: none

style: remove extra space in button mixin class selectors
  assets/core/scss/mixins/_buttons.scss
Due: none

Request chanages applied
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/Logs.php
  GDPR/DB/UserConsents.php
  GDPR/Models/LegalConsentLogs.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserConsents.php
  assets/src/js/admin-dashboard/segments/consent-logs.js
  assets/src/js/admin-dashboard/segments/students.js
  classes/Instructor.php
  classes/Student.php
  views/options/template/legal_consents.php
  views/templates/consent-logs-modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Enable toggle button is disabled by default and consent text showing multiple times
  GDPR/Controllers/LegalConsent.php
  GDPR/GDPR.php
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
