Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): add back to site option to mobile nav
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

assets(icon): Add kids variant to back icon
  assets/icons/kids/back-2.svg
Due: none

refactor: Update icons for kids and modern
  assets/icons/back-2.svg
  assets/icons/kids/back-2.svg
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(cart): load all courses from cart beyond default limit
  models/CartModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(options): hide course from shop page field for native monetization
  assets/src/js/admin-dashboard/segments/options.js
Due: none

Fix: One instructor can read/edit other instructor content
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Doc comment updated
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(settings): resolve PHPStan type errors in Options_V2
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(settings): generic image upload list field type
  assets/src/js/admin-dashboard/segments/options.js
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Options_V2.php
  views/options/field-types/brand_logo.php
  views/options/field-types/image_upload_list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(settings): generic toggle matrix field type
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Options_V2.php
  views/options/field-types/page_elements.php
  views/options/field-types/toggle_matrix.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Resolve pho stan warning
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Instructor can delete question/answers of another instructor quiz
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Remove unnecessary condition
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use JsonResponse class
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Doc comment updated
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Update instructor cap codebase refactored
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(instructors): filter assigned courses by instructor status
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Add since tag
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Update since tag
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: All the validation logics added to the existing method
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed the validation code save_quiz method
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update query to follow dry principal
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update since tag and default values
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  views/options/field-types/image_upload_list.php
  views/options/field-types/toggle_matrix.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(settings): make image upload list reusable
  assets/src/js/admin-dashboard/segments/options.js
Due: none

refactor: Remove redundant default value
  classes/Options_V2.php
  includes/tutor-general-functions.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog & version tag updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Add count guard
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Revert type-hint
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

feat: Add sidebar logo visbility controll
  classes/Options_V2.php
  templates/shared/brand-logo.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(learning-area): track theme site-shell header offset
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/site-shell.ts
  assets/src/scss/frontend/learning-area/layout/_header.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  templates/learning-area/index.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: WC subscription renewal triggering fatal error
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(learning-area): Update footer and sidebar style conflict.
  assets/src/scss/frontend/learning-area/layout/_footer.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

fix(course-builder): confirm before changing course author
  assets/src/js/v3/entries/course-builder/components/course-basic/CourseBasicSidebar.tsx
Due: eslint --fix, prettier --write

docs: Update confirmation text content
  assets/src/js/v3/entries/course-builder/components/course-basic/CourseBasicSidebar.tsx
Due: eslint --fix, prettier --write

refactor: Update content and maintain dry
  assets/src/js/v3/entries/course-builder/components/course-basic/CourseBasicSidebar.tsx
Due: eslint --fix, prettier --write

fix: Multisite table names, dbDelta schemas, and migration guards
  UPSTREAM_FIXES.md
  classes/Template.php
  classes/Tutor.php
  classes/Upgrader.php
  helpers/QueryHelper.php
  helpers/ValidationHelper.php
  migrations/BatchProcessor.php
  migrations/ProcessByWcMigrator.php
  migrations/QuizAttemptMigrator.php
  models/CartModel.php
  models/WithdrawModel.php
Due: prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
