Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): centralize required-answer context in question template
  classes/Quiz.php
  templates/learning-area/index.php
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Review changes for demo components.
  templates/dashboard/instructor/home/top-performing-course-filter.php
  templates/demo-components/dashboard/components/star-rating.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unsed import statements
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): align linear footer action layout
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): remove unused footer position state
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Review Changes
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add directional question view transitions
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update Json Response fail and response data
  traits/JsonResponse.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz attempt details page loading mechanism added
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/my-quiz-attempts/attempts-details.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/learning-area/index.php
  templates/learning-area/quiz/attempt-details.php
  templates/learning-area/quiz/content.php
  templates/single/quiz/previous-attempts.php
  views/pages/quiz_attempts.php
  views/pages/view_attempt.php
  views/quiz/attempt-table.php
  views/quiz/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): centralize question defaults and validation context
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): compose field names from shared base
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

add_x_attrs() function added in BaseComponent class
  components/BaseComponent.php
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): prevent duplicate auto-start requests in v4
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Make access modifier protected for const alpine attr array
  components/BaseComponent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

wrap with a div in learning area & conditionaly empty mergin css
  assets/core/scss/components/_input.scss
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added review changes
  assets/core/scss/components/_calendar.scss
  assets/core/ts/components/calendar.ts
  assets/icons/json.svg
  components/BaseComponent.php
  components/FileUploader.php
  components/Modal.php
  components/Popover.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

popover body added escape function and allowed html
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

add qna menu if enrolled
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

apply user preferences on learning mood
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

reverted escape function to old changes
  components/BaseComponent.php
  components/Modal.php
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: enhance spotlight quiz functionality and clean up FormCoordinates component
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Coordinates.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

feat: add scale question type to quiz functionality
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionForm.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Scale.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
  assets/src/js/v3/shared/utils/types.ts
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor allowed_html_tags() function.
  components/BaseComponent.php
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

apply font size on dashboard header menu
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

comment added
  components/Tooltip.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): enhance linear pagination states and styles
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(tokens): add brand secondary icon color token
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_icons.scss
Due: none

removed allowed html tags from modal and popover
  components/Modal.php
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Utilized get_allowed_html_tags from basecomponent class
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): restore reveal feedback on revisit and remove transitions
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): update progress header layout and timer title alignment
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/progress-bar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added allowed_html_tags in popover
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): remove unload beacon and keep leave warning flow
  assets/src/js/frontend/learning-area/quiz/submission.ts
Due: eslint --fix, prettier --write

refactor(quiz): move student attempt row to shared template
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update popover and modal
  components/Modal.php
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix title icon position
  components/Modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix icon position
  components/Modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

add class key value in get_allowed_html_tags()
  components/BaseComponent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code Refactor
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Enhance `count_completed_contents_by_topic` to return completion percentage.
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
