Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog and release date updated
  readme.txt
Due: none

Enhance(🎨) : Refactor DrawImage component to streamline precision control and update QuestionListTable with new question type options
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

Color variables updated
  assets/core/scss/themes/_dark-deuteranomaly.scss
  assets/core/scss/themes/_dark-deuteranopia.scss
  assets/core/scss/themes/_dark-high-contrast.scss
  assets/core/scss/themes/_dark-protanopia.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light-deuteranomaly.scss
  assets/core/scss/themes/_light-deuteranopia.scss
  assets/core/scss/themes/_light-high-contrast.scss
  assets/core/scss/themes/_light-protanopia.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_actions.scss
  assets/core/scss/tokens/_borders.scss
  assets/core/scss/tokens/_surfaces.scss
  assets/core/scss/tokens/_tabs.scss
  assets/core/scss/tokens/_text-colors.scss
Due: none

Content updated
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Moved purgecss config to a separate file
  purgecss.config.mjs
  rspack.config.mjs
Due: none

webp images used instead of png
  assets/images/vision/deuteranomaly.png
  assets/images/vision/deuteranomaly.webp
  assets/images/vision/deuteranopia.png
  assets/images/vision/deuteranopia.webp
  assets/images/vision/normal.png
  assets/images/vision/normal.webp
  assets/images/vision/protanopia.png
  assets/images/vision/protanopia.webp
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unified accessibility sass files added
  assets/core/scss/themes/_dark-deuteranomaly.scss
  assets/core/scss/themes/_dark-deuteranopia.scss
  assets/core/scss/themes/_dark-high-contrast.scss
  assets/core/scss/themes/_dark-protanopia.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_deuteranomaly.scss
  assets/core/scss/themes/_deuteranopia.scss
  assets/core/scss/themes/_high-contrast.scss
  assets/core/scss/themes/_index.scss
  assets/core/scss/themes/_light-deuteranomaly.scss
  assets/core/scss/themes/_light-deuteranopia.scss
  assets/core/scss/themes/_light-high-contrast.scss
  assets/core/scss/themes/_light-protanopia.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/themes/_protanopia.scss
  assets/core/ts/services/Preference.ts
  classes/UserPreference.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

CVD colors updated
  assets/core/scss/themes/_deuteranomaly.scss
  assets/core/scss/themes/_deuteranopia.scss
Due: none

Enhance(🎨) : Improve checkbox interaction in ContentListTable and QuestionListTable by preventing event propagation for better user experience
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/ContentListTable.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
Due: eslint --fix, prettier --write

fix: Update calendar theme issue
  assets/core/ts/components/calendar.ts
Due: eslint --fix, prettier --write

Fix(🛠) : EDD - Purchase button doesn't work for guest user.
  templates/loop/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Improve mobile responsiveness for draw and pin image questions in quiz components
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

fix: Question preview icon don't having any width or height
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

login condition added on single course page for EDD
  templates/single/course/add-to-cart-edd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: H5P issues
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Retry modal is not opening on button click
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Remove unused init call
  templates/dashboard/my-quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add conditional rendering in course info page
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update SCSS and CSS for improved layout and button styles for hello-elementor theme
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/dashboard/layout/_account.scss
  includes/theme-compatibility/hello-elementor/assets/css/style.css
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update Preference.ts
  assets/core/ts/services/Preference.ts
Due: eslint --fix, prettier --write

Optimized svg icons
  assets/icons/archive-2.svg
  assets/icons/interface.svg
  assets/icons/vision.svg
  assets/icons/warning-line.svg
Due: none

fix: empty list design break
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: css indentation
  includes/theme-compatibility/hello-elementor/assets/css/style.css
Due: none

fix: Turn autocomplete off in password input
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Only reload if learning mode is changed
  assets/src/js/frontend/dashboard/pages/settings.ts
Due: eslint --fix, prettier --write

surface l2 changed for dark mode
  assets/core/scss/themes/_dark.scss
Due: none

update: filter hook added and return type updated
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Missing file types for lesson exercise files
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance(🎨) : Update DrawImage component to improve data status handling for quiz questions, ensuring accurate state updates during precision changes
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
Due: eslint --fix, prettier --write

Reduce motion option implemented
  assets/core/scss/main.scss
  assets/core/scss/mixins/_buttons.scss
  assets/core/ts/services/Preference.ts
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: order history card data for woocomerce
  templates/dashboard/account/billing/wc-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: native order history card
  templates/dashboard/account/billing/native-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: removed unrelated code from native order model
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: pmpro price format logic added
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: success status added to success badge
  helpers/ComponentHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement filterable order history card template and restrict access for free monetization users
  classes/WooCommerce.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Motion standard not working fixed
  assets/core/ts/services/Preference.ts
  classes/UserPreference.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Database error wp_posts table not found
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: enhance theme compatibility with new common styles and layout adjustments
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  classes/Theme_Compatibility.php
  includes/theme-compatibility/astra/assets/css/style.css
  includes/theme-compatibility/astra/functions.php
  includes/theme-compatibility/common/assets/css/style.css
  includes/theme-compatibility/flatpro/assets/css/style.css
  includes/theme-compatibility/generatepress/assets/css/style.css
  includes/theme-compatibility/generatepress/functions.php
  includes/theme-compatibility/hello-elementor/functions.php
  includes/theme-compatibility/hestia/assets/css/style.css
  includes/theme-compatibility/oceanwp/assets/css/style.css
  includes/theme-compatibility/oceanwp/functions.php
  includes/theme-compatibility/storefront/assets/css/style.css
  includes/theme-compatibility/storefront/functions.php
  includes/theme-compatibility/twentyfifteen/assets/css/style.css
  includes/theme-compatibility/twentyfifteen/functions.php
  includes/theme-compatibility/twentyseventeen/assets/css/style.css
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: warning undefined prop
  templates/dashboard/account/billing/wc-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
