Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(dashboard): increase course completion chart bar height and adjust spacing
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  assets/src/scss/frontend/dashboard/pages/_instructor-dashboard.scss
  templates/dashboard/instructor/home/course-completion-chart.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Remove unused class
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): per-segment stacked bar animation and zero-value border-radius fix
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
Due: eslint --fix, prettier --write

feat(dashboard): add instructor pending state and themeable SVGs for welcome section
  assets/images/illustrations/confetti.svg
  assets/images/illustrations/dashboard-empty.svg
  assets/images/illustrations/instructor-pending.svg
  assets/src/scss/frontend/dashboard/pages/_student-dashboard.scss
  templates/dashboard/instructor/dashboard-empty.php
  templates/dashboard/student/dashboard-empty.php
  templates/dashboard/student/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Course getting bundle enrollment record after bundle expiry
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(types): improve config type definitions and assertions
  assets/core/ts/config/config.ts
  assets/core/ts/declaration.d.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/config/config.ts
Due: eslint --fix, prettier --write

kids style added for drawer
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

fix(nav): improve dropdown active state detection and icon color
  components/Nav.php
  templates/dashboard/instructor/home/recent-student-review-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(DropdownFilter): update chevron color to brand
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(DropdownFilter): correct chevron icon color based on button variant
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: My course can be accessed from instructor student view
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Prevent learning area pages slide up on every page load
  assets/src/js/frontend/learning-area/sidebar.ts
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Missing space added between page menu items
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

chore(icons): add infoOctagonFill icon with PHP constant and JS type
  assets/icons/info-octagon-fill.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/kids/_dashboard.scss
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(user): add application source tracking and dual-dashboard helpers
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(instructor): set application source and approval notice meta on status changes
  classes/Instructor.php
  classes/Instructors_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): allow instructor registration users to view instructor pages while pending
  classes/Template.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): route pending/approved instructor registration users to appropriate views
  templates/dashboard.php
  templates/dashboard/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(dashboard): replace inline instructor pending alert with reusable template
  templates/dashboard/student/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): add instructor approved empty template and reusable request alert component
  assets/images/illustrations/instructor-approved.svg
  templates/dashboard/instructor/dashboard-empty.php
  templates/dashboard/instructor/instructor-request-alert.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(course): add tutor-btn-loading class on create course button
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

refactor: Use `has_pending_instructor_application` method
  templates/dashboard/student/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: User `InstructorList` constant
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Rename to `registered_as_instructor`
  classes/User.php
  templates/dashboard.php
  templates/dashboard/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): simplify auth_cap checks with early returns and access variable
  classes/Instructor.php
  classes/Template.php
  classes/User.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename function to used_instructor_registration
  classes/User.php
  templates/dashboard.php
  templates/dashboard/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Legacy dashboard styles removed
  assets/src/scss/front/_snackbar.scss
  assets/src/scss/front/index.scss
  assets/src/scss/frontend-dashboard/_footer.scss
  assets/src/scss/frontend-dashboard/_header.scss
  assets/src/scss/frontend-dashboard/_my-courses.scss
  assets/src/scss/frontend-dashboard/_sidebar.scss
  assets/src/scss/frontend-dashboard/index.scss
  assets/src/scss/frontend-dashboard/lib/phone-number-field.scss
  assets/src/scss/frontend-dashboard/pages/_order-history.scss
  assets/src/scss/frontend-dashboard/pages/_qna.scss
  assets/src/scss/frontend-dashboard/pages/assignment.scss
  assets/src/scss/frontend-dashboard/pages/quiz-attempt.scss
  assets/src/scss/frontend-dashboard/pages/setting.scss
  assets/src/scss/frontend-dashboard/pages/settings/profile.scss
  assets/src/scss/frontend-dashboard/pages/settings/social-profile.scss
  classes/Assets.php
  rspack.config.mjs
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: simplify can_switch_mode and restore auth_cap guard in Template
  classes/Template.php
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(styles): scope kids dashboard border-radius to instructor request alert instead of generic .tutor-alert
  assets/src/scss/frontend/kids/_dashboard.scss
  classes/User.php
  templates/dashboard/instructor/instructor-request-alert.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update empty state style
  templates/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update since tag
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Use existing const and method
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Refactor code
  templates/dashboard/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Logged out user gets redirected to 404 page instead of login
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: validate user capability to manage topics during quiz payload submission
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(buttons): add svg color rule for disabled buttons
  assets/core/scss/mixins/_buttons.scss
Due: none

feat: implement database locking to prevent concurrent withdrawal requests in tutor_make_an_withdraw
  classes/Withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: security issue
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Legacy dashboard js files removed
  assets/src/js/front/dashboard.js
  assets/src/js/front/dashboard/export-csv.js
  assets/src/js/front/dashboard/index.js
  assets/src/js/front/dashboard/mobile-nav.js
  assets/src/js/front/dashboard/settings/billing.js
  assets/src/js/front/dashboard/settings/passowrd-reset.js
  assets/src/js/front/dashboard/settings/profile.js
  assets/src/js/front/dashboard/withdrawal.js
  assets/src/js/front/tutor-front.js
Due: none

Legacy dashboard templates removed
  classes/Course.php
  includes/tutor-general-functions.php
  templates/dashboard/announcements/create.php
  templates/dashboard/announcements/details.php
  templates/dashboard/announcements/update.php
  templates/dashboard/assignments/review.php
  templates/dashboard/assignments/submitted.php
  templates/dashboard/my-profile.php
  templates/dashboard/question-answer.php
  templates/dashboard/question-answer/answers.php
  templates/dashboard/reviews/given-reviews.php
  templates/dashboard/settings/profile.php
  templates/dashboard/withdraw-method-fields/email.php
  templates/dashboard/withdraw-method-fields/number.php
  templates/dashboard/withdraw-method-fields/text.php
  templates/dashboard/withdraw-method-fields/textarea.php
  templates/dashboard/withdraw.php
  templates/metabox-wrapper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
