Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(inputs): prevent mobile safari focus zoom
  assets/core/scss/mixins/_inputs.scss
  assets/src/js/frontend/learning-area/sidebar.ts
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(learning-area): improve responsive content layouts
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/layout/_footer.scss
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(settings): update mobile close behavior
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Use printf instead of echo sprintf
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Fix mobile top for header
  assets/src/scss/frontend/dashboard/layout/_account.scss
Due: none

style: Add billing mobile responsive and kids design
  assets/icons/kids/history.svg
  assets/src/scss/frontend/dashboard/_billing.scss
  assets/src/scss/frontend/dashboard/_subscription-history.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/account/billing.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add html support to tutor toast
  assets/core/ts/services/Toast.ts
Due: eslint --fix, prettier --write

feat: Improve mobile responsive kids mode issue
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat: Update dashboard course page style
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/dashboard/pages/_courses.scss
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat: Update account tabs closing behavior
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Login form style breaks if course visibility is on fixed
  classes/Assets.php
  templates/login.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: UPdate border style
  assets/src/scss/frontend/components/_quiz-attempts.scss
Due: none

refactor: Remove max attempt constraints form attempt limit
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Fix: Design in student my quiz attempts and added new icons
  assets/icons/star.svg
  assets/icons/target.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/components/_quiz-attempts.scss
  classes/Icon.php
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
  templates/dashboard/my-quiz-attempts.php
  templates/learning-area/quiz/content.php
  templates/shared/components/quiz/attempt-details/summary.php
  templates/shared/components/student-quiz-attempt-row.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added kids icon
  assets/icons/kids/star.svg
  assets/icons/kids/target.svg
Due: none

feat: Use width 100% instead of stretch
  assets/src/scss/frontend/dashboard/_certificates.scss
Due: none

fix attempts allowed
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve height issue on mobile dashboard menu
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

added rounding to earned grade
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated rounding
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added x-cloak
  templates/dashboard/my-quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: display empty state when order history is accessed in free mode
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Add checkout error message for pause enrollment courses
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: sanitize order filter input
  templates/dashboard/account/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: add variable documentation to order-history template header
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

made course reset error message to error
  assets/src/js/front/pages/course-landing.js
Due: none

Add spacing above and below of tutor-star-rating-icon-btn
  assets/core/scss/components/_star-rating.scss
Due: none

Refactor mobile navigation styles to improve spacing and add hover/focus effects
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
Due: none

fix: Resolve z index issue
  assets/core/scss/tokens/_zIndex.scss
  assets/src/scss/frontend/learning-area/layout/_footer.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

Refactor: Course completion restrict message prepare method refactored
  classes/Course.php
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Reset modal not closing on success
  assets/src/js/frontend/learning-area/sidebar.ts
Due: eslint --fix, prettier --write

Login forms design fixed for both legacy and new
  assets/src/scss/front/__archive.scss
  templates/login-form-legacy.php
  templates/login-form.php
  templates/login.php
  v2-library/src/scss/components/_modal.scss
  views/modal/login.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix course reset and retake settings
  assets/src/js/front/pages/course-landing.js
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/sidebar.ts
  classes/Course.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Show currency with symbol
  classes/Withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Use updated icon for content status
  assets/icons/cross-colorize.svg
  assets/icons/info-colorize.svg
  assets/icons/kids/cross-colorize.svg
  assets/icons/kids/info-colorize.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/Quiz.php
  models/CourseModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Cover photo added to users profile
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated earned marks format
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Update QuestionPreviewModal styles for coordinates graph to prevent scrolling
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

feat: Update z index for profile page header
  assets/src/scss/frontend/dashboard/layout/_profile-pages.scss
Due: none

Updated error message content for enrollment settings and reset progress
  classes/Course.php
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
