Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: cache implementation improved for is_enrolled helper
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add Read More button on bio overflow
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Refactor code for better maintainability
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: dynamic social link rendering and optimized bio collapse behavior using Alpine.js
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update social link class naming and add hover styling to user profile dashboard
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update tutor-meta-value color in course-info learning area
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
Due: none

Hide popover when trigger is not visible
  assets/core/ts/components/popover.ts
Due: eslint --fix, prettier --write

Prevent duplicate subpage menu items render
  assets/src/js/frontend/learning-area/sidebar.ts
  templates/learning-area/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

updated my-profile slug
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Returning bool from the is_instructor_of_this_course
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Defer chart creation and respect reduced-motion
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
Due: eslint --fix, prettier --write

feat: Add autofill button and tighten mixin args
  assets/core/scss/mixins/_inputs.scss
Due: none

Plyr control buttons style fixed
  assets/src/scss/frontend/components/_player.scss
Due: none

Update _profile.scss
  assets/src/scss/frontend/dashboard/_profile.scss
Due: none

refactor: Remove redundant data fetching logic
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Hide WebKit autofill and credential buttons
  assets/core/scss/mixins/_inputs.scss
Due: none

refactor: Remove webkit appearance from autofill buttons
  assets/core/scss/mixins/_inputs.scss
Due: none

feat: Reset margin for hidden input element
  assets/core/scss/mixins/_inputs.scss
Due: none

Update billing pages status badge position
  templates/dashboard/account/billing/edd-order-history-card.php
  templates/dashboard/account/billing/native-order-history-card.php
  templates/dashboard/account/billing/wc-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Show current user's review first in list
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added complete course button backend validation
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Prevent theme override
  assets/core/scss/components/_modal.scss
Due: none

Announcements date filter does not work fixed
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _avatars.scss
  assets/core/scss/mixins/_avatars.scss
Due: none

removed not needed message
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Update `tutor-mark-as-complete-button` style
  assets/src/scss/frontend/learning-area/layout/_footer.scss
Due: none

Alignment fixed
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Rename class name
  assets/src/scss/frontend/learning-area/layout/_footer.scss
Due: none

Dashboard review responsive style fixed
  assets/core/scss/utilities/_layout.scss
  templates/dashboard/instructor/home/recent-student-review-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add kids icon
  assets/icons/kids/categories.svg
  assets/icons/kids/tag.svg
Due: none

Popover position issue in safari browser fixed
  assets/core/ts/components/popover.ts
Due: eslint --fix, prettier --write

refactor: Use readable naming
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

feat: implement caching for cart items and optimize database queries in CartModel
  models/CartModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Keyboard shortcut added for quiz preview
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
Due: eslint --fix, prettier --write

Fix: Partial refund is sending course enrollment mail
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Design issues fixed
  assets/core/scss/components/_calendar.scss
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  templates/dashboard/components/sidebar-nav-mobile.php
  templates/dashboard/my-courses.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
