Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(learning-area): remove aria-disabled and conditional href from disabled nav items
  classes/Quiz.php
  templates/learning-area/lesson/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(sidebar): remove pointer-events none from disabled nav items
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

chore(deps): add pnpm-workspace config
  pnpm-workspace.yaml
Due: none

fix(css): scope body reset under data-tutor-theme attribute
  assets/core/scss/main.scss
Due: none

style: Update body style
  assets/core/scss/main.scss
Due: none

refactor(learning-area): add reusable sidebar-nav-item template and delegate rendering
  classes/Quiz.php
  templates/learning-area/components/sidebar-nav-item.php
  templates/learning-area/lesson/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(sidebar): adjust active indicator height for padding offset
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

refactor(tutor-setup): clean up loading animation and optimize code
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

fix(tutor-setup): enforce minimum loading duration for tutor setup
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

refactor(tutor-setup): remove loadSampleCourse variable and inline check
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

fix: add live meeting date formatting to tutor-countdown script
  assets/lib/countdown/tutor-countdown.min.js
Due: none

fix: add wp-date dependency to tutor-countdown script
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(list-empty-state): add flex column and center alignment classes
  views/elements/list-empty-state.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: SQL injection vulnerability on the insert_multiple_rows method has been fixed
  classes/Utils.php
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add convert to utc to common utils
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

chore: Update phpstan
  composer.json
  composer.lock
Due: none

refactor: Update sidebar nav item template
  templates/learning-area/components/sidebar-nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: add missing type attribute to confirm button
  views/elements/bulk-confirm-popup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add support for separate utc date time
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

fix(common): re-run convertUTCTime on tutor_content_changed_event
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

chore: Remove console log
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

chore: Use constant for custom event
  assets/core/ts/constant.ts
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

refactor: Revert countdown code
  assets/lib/countdown/tutor-countdown.min.js
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): use array index for ordering display and correct dnd review data-option
  templates/learning-area/quiz/questions/ordering.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update bulk confirm button to type submit, add e.preventDefault() in click handler and fix string quotes
  assets/src/js/admin-dashboard/segments/filter.js
  views/elements/bulk-confirm-popup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use data attr instead of class
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

feat(ecommerce): add show_close_button parameter to billing form fields template
  templates/ecommerce/billing-form-fields.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(billing): update kids dashboard styles
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat(billing): update account billing template
  templates/dashboard/account/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(billing): update ecommerce billing form fields
  templates/ecommerce/billing-form-fields.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add new map pin icon
  assets/icons/map-pin.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update doc comments
  templates/ecommerce/billing-form-fields.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Student can submit quiz without enrolling
  assets/src/js/frontend/learning-area/quiz/submission.ts
  classes/Quiz.php
  models/QuizModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Update docs url
  classes/Admin.php
  readme.txt
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Refactor the has_quiz_access method
  classes/Quiz.php
  models/CourseModel.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update platform urls
  views/pages/welcome.php
  views/pages/whats-new.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(course-builder): add centralized quiz question type registry
  assets/src/js/v3/shared/utils/question-type-registry.ts
Due: eslint --fix, prettier --write

refactor(course-builder): use registry for question type icon and label lookups
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
Due: eslint --fix, prettier --write

refactor(course-builder): derive question type options from registry in QuestionList
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

refactor(course-builder): use registry for question type options in content bank
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/FilterFields.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
Due: eslint --fix, prettier --write
