Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Use editorId for WP editor components
  assets/core/ts/components/wp-editor.ts
  assets/core/ts/declaration.d.ts
  components/WPEditor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Used wc native helper to remove markup from wc_price()
  classes/Instructor.php
  classes/Utils.php
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/top-performing-course-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

translate and badge issue fixed
  includes/translate-text.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

review changes
  classes/Instructor.php
  templates/dashboard/instructor/home/upcoming-task-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

where args issue fix for review function
  classes/Utils.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add custom event constant
  assets/core/ts/constant.ts
Due: eslint --fix, prettier --write

refactor: clean up Quiz class and remove unused methods related to pin image handling
  classes/Quiz.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): avoid firing ordering callback on init
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
Due: eslint --fix, prettier --write

Q&A menu adding condition updated
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: onclick handler from outer card to inner wrapper for improved event handling & restructure progress card layout with inner wrapper
  assets/src/scss/frontend/dashboard/_progress-card.scss
  templates/dashboard/courses/course-card.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename variables for clarity in FormPinImage component
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

Used the null coalesce operator
  templates/dashboard/discussions/qna-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): redesign attempt timer and progress header
  assets/icons/clock-frame.svg
  assets/src/js/frontend/learning-area/quiz/timer.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  classes/Icon.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Review Changes
  classes/Icon.php
  models/OrderModel.php
  templates/dashboard/instructor/analytics/stat-card-hover.php
  templates/dashboard/instructor/home/upcoming-task-item.php
  templates/dashboard/instructor/profile-statistics.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed flush rewrite rules
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

$args condition change
  classes/Utils.php
  models/WithdrawModel.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: reduce quiz component vertical padding in the learning area quiz component.
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

refactor: Conditionally render quiz timer frame based on time limit and add bottom margin to timer separator.
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/progress-bar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed icon_class from DateFilter
  components/DateFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: move `default_menus` and `instructor_menus` and refactor `tutor_dashboard_pages` to accept a context parameter for menu retrieval.
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unnecessary function
  templates/dashboard/instructor/home/upcoming-task-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Invalid domain name and prevent direct access
  templates/dashboard/instructor/profile-statistics.php
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactored: Used null coalesce operator instead of isset
  templates/learning-area/subpages/qna/qna-card.php
  templates/learning-area/subpages/qna/qna-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

QNA component file renamed
  classes/Q_And_A.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/form.php
  templates/learning-area/subpages/qna/replies.php
  templates/learning-area/subpages/qna/single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Introduce quiz question and attempt progress indicators and update the quiz shake animation.
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

feat: Display current question number and quiz attempt progress in the learning area.
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): refine v4 single-question footer actions
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add reveal-mode footer feedback states
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

topic completion percentage
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

user id issue fix in user-profile
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

revert
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update indentation
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code format
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changed get_template_output() name to get_template_buffer
  includes/tutor-template-functions.php
  templates/dashboard/instructor/analytics/stat-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changes in avatar_url function.
  classes/Instructor.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

get_monetization_currency_config() rename it and transfer it to Utils
  classes/Instructor.php
  classes/Utils.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code format
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changed where clause variable name
  classes/Utils.php
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed duplicate function
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Translate issue
  templates/dashboard/instructor/home/recent-student-review-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
