Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update course monetization check in entry box buttons
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Student dashboard empty state design added
  assets/images/illustrations/confetti.svg
  assets/images/illustrations/dashboard-empty.svg
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/_profile-completion.scss
  assets/src/scss/frontend/dashboard/pages/_instructor-dashboard.scss
  assets/src/scss/frontend/dashboard/pages/_student-dashboard.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/student-dashboard.php
  templates/dashboard/student/dashboard-empty.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changes for enrollment and earnings graph.
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  models/OrderModel.php
  templates/dashboard/instructor/home.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Student can stay in learning area of unpublished course
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated redirection logic
  classes/Template.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Updated exercise files external link button
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated course post type check and redirect to 404
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated to 404 template method
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated attachment view mode check logic
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added attributes
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added admin and instructor check for course learning area
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update guest checkout logic to use filter instead of direct class check
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Content update across platform
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/DrawImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ScalePreview.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  classes/Quiz.php
  classes/QuizBuilder.php
  classes/Utils.php
  templates/dashboard/account/withdrawals.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/instructor/home.php
  templates/dashboard/my-quiz-attempts.php
  templates/learning-area/quiz/attempt.php
  templates/shared/components/quiz/attempt-details/summary.php
  tutor.php
  views/qna/qna-table.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: content updated across platform
  assets/src/js/v3/entries/coupon-details/components/coupon/CouponDiscount.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/announcements.php
  templates/dashboard/announcements/create.php
  templates/dashboard/components/header.php
  views/fragments/announcement-list.php
  views/options/template/legal_consents.php
  views/pages/ecommerce/coupon-list.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Split student dashboard templates into multiple files with improvements
  assets/src/scss/frontend/dashboard/_stat-card.scss
  components/EmptyState.php
  templates/dashboard.php
  templates/dashboard/courses/course-card.php
  templates/dashboard/student-dashboard.php
  templates/dashboard/student/continue-learning.php
  templates/dashboard/student/dashboard.php
  templates/dashboard/student/stat-card.php
  templates/dashboard/student/stats.php
  templates/dashboard/student/time-spent-modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code simplify
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Optimize js bundle size
  assets/core/ts/ComponentRegistry.ts
  assets/core/ts/components/calendar.ts
  assets/core/ts/components/file-uploader.ts
  assets/core/ts/components/form.ts
  assets/core/ts/components/status-select.ts
  assets/core/ts/services/Location.ts
  assets/core/ts/utils/api.ts
  assets/core/ts/utils/decode-html-entities.ts
  assets/core/ts/utils/error.ts
  assets/core/ts/utils/format.ts
  assets/core/ts/utils/number.ts
  assets/core/ts/utils/string.ts
  assets/src/js/frontend/components/quiz/retry-attempt.ts
  assets/src/js/frontend/components/reviews.ts
  assets/src/js/frontend/dashboard/header.ts
  assets/src/js/frontend/dashboard/pages/announcements.ts
  assets/src/js/frontend/dashboard/pages/discussions.ts
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  assets/src/js/frontend/dashboard/pages/my-courses.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/js/frontend/dashboard/pages/withdrawals.ts
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/lesson/comments.ts
  assets/src/js/frontend/learning-area/lesson/player.ts
  assets/src/js/frontend/learning-area/pages/qna.ts
  assets/src/js/frontend/learning-area/quiz/auto-start.ts
  assets/src/js/frontend/learning-area/quiz/questions/matching.ts
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  assets/src/js/frontend/learning-area/sidebar.ts
  assets/src/js/frontend/services/common.ts
  assets/src/js/v3/shared/utils/form.ts
  assets/src/js/v3/shared/utils/types.ts
Due: eslint --fix, prettier --write

date-fns replaced with dayjs
  assets/core/ts/components/calendar.ts
  assets/core/ts/components/form.ts
  assets/core/ts/components/time-input.ts
  assets/core/ts/date-formats.ts
  package.json
  pnpm-lock.yaml
  rspack.config.mjs
Due: eslint --fix, prettier --write

isRTL util added to core
  assets/core/ts/components/popover.ts
  assets/core/ts/components/tooltip.ts
  assets/core/ts/utils/util.ts
Due: eslint --fix, prettier --write

Fix quiz submission
  assets/core/ts/utils/api.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
Due: eslint --fix, prettier --write

Fixing WordPress Multisite Compatibility Issues in Tutor LMS
  classes/Tutor.php
  classes/Upgrader.php
  helpers/QueryHelper.php
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: route preload naming and drop unused form control
  assets/core/ts/packs/form-controls.ts
  assets/core/ts/types/index.ts
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
Due: eslint --fix, prettier --write

Lazy load option added for components
  assets/core/ts/ComponentRegistry.ts
  assets/core/ts/components/calendar.ts
  assets/core/ts/index.ts
  assets/core/ts/types/index.ts
  assets/core/ts/utils/component-discovery.ts
Due: eslint --fix, prettier --write

Unused components removed
  assets/core/ts/components/select-dropdown.ts
  assets/core/ts/components/stepper-dropdown.ts
  assets/core/ts/index.ts
  assets/core/ts/types/index.ts
Due: eslint --fix, prettier --write

chore: Update content
  templates/dashboard/instructor/home/course-completion-chart.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Depreciation error for php 8.5
  classes/Tools_V2.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Revert formatting change
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix form not found inside modal issue
  assets/core/ts/utils/component-discovery.ts
Due: eslint --fix, prettier --write

chore: Update content
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Location service removed and handled with php
  assets/core/ts/index.ts
  assets/core/ts/services/Location.ts
  templates/ecommerce/billing-form-fields.php
  templates/ecommerce/billing.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(course-builder): Remove unused return statement for coordinates preview in QuestionPreviewModal
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

Add all the icon colors in purge safelist
  purgecss.config.mjs
Due: none

Missing aria label added
  templates/dashboard/components/header.php
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/profile-completion.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(course-builder): Simplify QuestionPreviewModal by removing unused coordinate redraw logic
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

refactor(course-builder): Rearrange ScalePreview component to improve bubble display logic
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ScalePreview.tsx
Due: eslint --fix, prettier --write

Minor query updates on few functions for the new 4.0.0 graph
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  models/OrderModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added content_type to separate variable
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Home graph data was displaying incorrectly after changes made for new graph implementation
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Accordion icon design fixed
  assets/core/scss/components/_accordion.scss
Due: none

refactor: move ABSPATH check to the top of CheckoutController for consistency
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
