Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Refactor draw-image question template to improve quiz attempt handling. Update quiz ID retrieval logic for better type safety and remove unused inline styles for cleaner code.
  templates/learning-area/quiz/questions/draw-image.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove unused elements from draw-image question template to streamline quiz attempt display. Enhance clarity by eliminating redundant markup related to answer zones and student drawings.
  templates/shared/components/quiz/attempt-details/questions/draw-image.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Tab and nav design fixed
  assets/core/scss/components/_nav.scss
  assets/core/scss/components/_tabs.scss
  assets/core/scss/tokens/_tabs.scss
  assets/src/scss/frontend/kids/_tabs.scss
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Fixed the Order confirmation page broken
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(popover): add kids style tokens
  assets/core/scss/components/_popover.scss
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_popover.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_popover.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

fix(qna): update unread action icons
  assets/icons/kids/read.svg
  assets/icons/kids/unread.svg
  assets/icons/unread.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  templates/dashboard/discussions/qna-card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Set permalink reset flag
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Method name updated
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(discussions): refine unread icon styling
  assets/icons/unread.svg
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Remove conflicted forward
  assets/src/scss/frontend/kids/index.scss
Due: none

Break the loop after flag setup
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

refactor: add reset preferences functionality & Update theme attribute to 'data-tutor-theme'
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/ts/components/calendar.ts
  assets/core/ts/services/Preference.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): refine feedback layout spacing
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  templates/dashboard/quiz-attempts/quiz-attempts-feedback.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(qna): remove unused mark-as text
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove outdated comment from FormDrawImage component to enhance code clarity and maintainability.
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

feat: Add transition to sortable section popover
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: allow HTML in user profile bio by switching from esc_html to wp_kses_post
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Use tokens for select dropdown
  assets/core/scss/components/_select.scss
Due: none

Dashboard menu fill icon added
  assets/icons/analytics-fill.svg
  assets/icons/analytics.svg
  assets/icons/announcement-fill.svg
  assets/icons/book_2_fill.svg
  assets/icons/certificate_2_fill.svg
  assets/icons/video-camera-fill.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/Utils.php
  templates/dashboard/components/sidebar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Security Fix: Prepare statement in get quiz attempts
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Active icon support added to dashboard mobile menu
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(reviews): add mobile review actions popover
  assets/src/scss/frontend/dashboard/_reviews.scss
  templates/dashboard/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(icons): add learning mode icon lookup
  components/SvgIcon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(ratings): keep star icons on modern set
  components/StarRating.php
  components/StarRatingInput.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix phpcs
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(modals): add kids modal tokens
  assets/core/scss/components/_modal.scss
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_modal.scss
  assets/core/scss/tokens/_shadows.scss
  assets/src/scss/frontend/kids/_modal.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

feat(forms): allow field wrapper style overrides
  assets/src/js/v3/shared/components/fields/FormFieldWrapper.tsx
  assets/src/js/v3/shared/components/fields/FormInput.tsx
  assets/src/js/v3/shared/components/fields/FormInputWithPresets.tsx
Due: eslint --fix, prettier --write

feat(quiz-settings): refine pagination and timing controls
  assets/icons/quiz-number.svg
  assets/icons/quiz-radio.svg
  assets/icons/quiz-shape.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Add ignore_kids option to SVG icons
  assets/core/ts/components/icon.ts
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  components/SvgIcon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use styles object instead on inline css
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Fix: course bundle legacy style
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement reset preferences feature
  assets/images/illustrations/reset-preferences.svg
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/scss/frontend/dashboard/settings/_preferences.scss
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

updated condition with hook
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove reset preferences SVG and update preferences reset logic
  assets/images/illustrations/reset-preferences.svg
  assets/src/scss/frontend/dashboard/settings/_preferences.scss
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

mend
  assets/images/illustrations/reset-preference.svg
Due: none

chore: Remove unused import
  components/StarRating.php
  components/StarRatingInput.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(file-uploader): tokenize dashed background
  assets/core/scss/components/_file-uploader.scss
  assets/core/scss/tokens/_file-uploader.scss
  assets/core/scss/tokens/_index.scss
  assets/src/scss/frontend/kids/_input.scss
Due: none

fix(templates): clean learning area document structure
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
