Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: replace WebP illustration assets with SVG format and update UI components to use themed SVGs
  assets/images/illustrations/kids/reset-course.svg
  assets/images/illustrations/kids/reset-course.webp
  assets/images/illustrations/kids/retake-course.svg
  assets/images/illustrations/kids/retake-course.webp
  assets/images/illustrations/kids/warning.svg
  assets/images/illustrations/kids/warning.webp
  assets/images/illustrations/reset-course.svg
  assets/images/illustrations/reset-course.webp
  assets/images/illustrations/retake-course.svg
  assets/images/illustrations/retake-course.webp
  assets/images/illustrations/warning.svg
  assets/images/illustrations/warning.webp
  helpers/UrlHelper.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: fatal error on edd deactivation
  classes/TutorEDD.php
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

UI styles, DateFilter option, Table & templates fixes
  assets/core/scss/components/_table.scss
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  components/DateFilter.php
  components/Table.php
  templates/dashboard/account/profile.php
  templates/dashboard/account/settings/security.php
  templates/dashboard/account/settings/withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert the previous expired status logic.
  ecommerce/CouponController.php
  views/pages/ecommerce/coupon-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Comment added
  ecommerce/CouponController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added backend validation for student activities in course
  assets/src/js/front/course/_wishlist.js
  assets/src/js/front/pages/course-landing.js
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/sidebar.ts
  classes/Course.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add side top/bottom placements & fixed-container positioning
  assets/core/ts/components/popover.ts
  components/Constants/Positions.php
  components/Popover.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

added validation in course list
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add cover photo upload UI and handlers
  assets/icons/camera.svg
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/dashboard/settings/_account.scss
  classes/Icon.php
  templates/dashboard/account/settings/account.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: replace webp illustrations with SVG assets and update component references
  assets/core/scss/themes/_dark.scss
  assets/images/illustrations/delete-reviews.svg
  assets/images/illustrations/delete-reviews.webp
  assets/images/illustrations/delete.svg
  assets/images/illustrations/delete.webp
  assets/images/illustrations/kids/delete-reviews.svg
  assets/images/illustrations/kids/delete-reviews.webp
  assets/images/illustrations/kids/delete.svg
  assets/images/illustrations/kids/quiz-intro.svg
  assets/images/illustrations/kids/quiz-submitted.svg
  assets/images/illustrations/kids/quiz-submitted.webp
  assets/images/illustrations/kids/quiz-timeout.svg
  assets/images/illustrations/kids/quiz-timeout.webp
  assets/images/illustrations/kids/reset-preference.svg
  assets/images/illustrations/kids/reset-preference.webp
  assets/images/illustrations/quiz-intro.svg
  assets/images/illustrations/quiz-submitted.svg
  assets/images/illustrations/quiz-submitted.webp
  assets/images/illustrations/quiz-timeout.svg
  assets/images/illustrations/quiz-timeout.webp
  assets/images/illustrations/reset-preference.svg
  assets/images/illustrations/reset-preference.webp
  assets/src/scss/frontend/kids/_dashboard.scss
  components/ConfirmationModal.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/settings/preferences.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/modals/result.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(helpers): add circle element and stroke-dasharray support to SVG allowed HTML
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(assets): add themed SVG illustrations and kids mode variants for empty states
  assets/images/illustrations/comments-empty.svg
  assets/images/illustrations/kids/comments-empty.svg
  assets/images/illustrations/kids/learning-empty.svg
  assets/images/illustrations/kids/no-announcements.svg
  assets/images/illustrations/kids/order-empty.svg
  assets/images/illustrations/kids/qna-empty.svg
  assets/images/illustrations/kids/quiz-empty.svg
  assets/images/illustrations/kids/reviews-empty.svg
  assets/images/illustrations/kids/wishlist-empty.svg
  assets/images/illustrations/learning-empty.svg
  assets/images/illustrations/no-announcements.svg
  assets/images/illustrations/order-empty.svg
  assets/images/illustrations/qna-empty.svg
  assets/images/illustrations/quiz-empty.svg
  assets/images/illustrations/reviews-empty.svg
  assets/images/illustrations/wishlist-empty.svg
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

feat(templates): integrate themed SVG illustrations across dashboard and learning area templates
  templates/dashboard/account/billing/order-history.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/withdrawals.php
  templates/dashboard/announcements.php
  templates/dashboard/courses.php
  templates/dashboard/discussions/comment-list.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-list.php
  templates/dashboard/my-courses.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/dashboard/wishlist.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/reviews.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(helpers): consolidate SVG allowed HTML attributes into reusable groups
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update version typo
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add medium tooltip size
  assets/core/scss/components/_tooltip.scss
  assets/core/ts/components/tooltip.ts
  components/Tooltip.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor cover photo actions and add tooltip
  assets/src/scss/frontend/dashboard/settings/_account.scss
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add display utilities and use force classes
  assets/core/scss/utilities/_layout.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
  templates/dashboard/announcements.php
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/qna-card.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/subpages/qna/card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: decode unicode sequences in coupon controller term titles
  ecommerce/CouponController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Simplify DateFilter and use ?? in Table
  components/DateFilter.php
  components/Table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added check for checkout courses and used hooks
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/sidebar.ts
  classes/Course.php
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
  models/EnrollmentModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

updated condition and changed alert to toast
  assets/src/js/front/course/_wishlist.js
  assets/src/js/front/pages/course-landing.js
Due: none

update checkout error message
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

revert phpcs
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

background color changed
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

button component used
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

Icons updated
  assets/icons/ascending.svg
  assets/icons/descending.svg
Due: none

updated learning area quiz attempts list design
  assets/core/scss/components/_preview-trigger.scss
  assets/src/scss/frontend/components/_quiz-attempts.scss
  classes/Quiz_Attempts_List.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Body open function called on the frontend custom template files
  includes/tutor-general-functions.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix quiz attempt list learning area design
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  classes/Quiz_Attempts_List.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(build): add replace-svg-colors build script for tokenizing SVG hex colors at build time
  assets/core/ts/utils/replace-svg-colors.ts
Due: eslint --fix, prettier --write

Variant used instead of class
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(assets): tokenize kids SVG illustrations with CSS variable colors
  assets/images/illustrations/kids/comments-empty.svg
  assets/images/illustrations/kids/delete-reviews.svg
  assets/images/illustrations/kids/delete.svg
  assets/images/illustrations/kids/learning-empty.svg
  assets/images/illustrations/kids/no-announcements.svg
  assets/images/illustrations/kids/order-empty.svg
  assets/images/illustrations/kids/qna-empty.svg
  assets/images/illustrations/kids/quiz-empty.svg
  assets/images/illustrations/kids/quiz-intro.svg
  assets/images/illustrations/kids/quiz-retry.svg
  assets/images/illustrations/kids/quiz-submitted.svg
  assets/images/illustrations/kids/quiz-timeout.svg
  assets/images/illustrations/kids/reset-course.svg
  assets/images/illustrations/kids/reset-preference.svg
  assets/images/illustrations/kids/retake-course.svg
  assets/images/illustrations/kids/reviews-empty.svg
  assets/images/illustrations/kids/warning.svg
  assets/images/illustrations/kids/wishlist-empty.svg
Due: none

feat(assets): tokenize root SVG illustrations with CSS variable colors
  assets/images/illustrations/comments-empty.svg
  assets/images/illustrations/delete-reviews.svg
  assets/images/illustrations/delete.svg
  assets/images/illustrations/learning-empty.svg
  assets/images/illustrations/no-announcements.svg
  assets/images/illustrations/order-empty.svg
  assets/images/illustrations/qna-empty.svg
  assets/images/illustrations/quiz-empty.svg
  assets/images/illustrations/quiz-intro.svg
  assets/images/illustrations/quiz-retry.svg
  assets/images/illustrations/quiz-submitted.svg
  assets/images/illustrations/quiz-timeout.svg
  assets/images/illustrations/reset-course.svg
  assets/images/illustrations/reset-preference.svg
  assets/images/illustrations/retake-course.svg
  assets/images/illustrations/reviews-empty.svg
  assets/images/illustrations/warning.svg
  assets/images/illustrations/wishlist-empty.svg
Due: none

chore(assets): remove unused quiz-retry webp in favor of SVG
  assets/images/illustrations/quiz-retry.webp
Due: none

refactor(helpers): remove runtime color map from themed_svg, colors pre-tokenized at build time
  helpers/UrlHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(build): add replace-svg-colors npm scripts for build-time SVG tokenization
  package.json
Due: none

Auto dark theme not working fixed
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Dark theme flicker issue fixed
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_deuteranomaly.scss
  assets/core/scss/themes/_deuteranopia.scss
  assets/core/scss/themes/_high-contrast.scss
  assets/core/scss/themes/_protanopia.scss
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
