Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

Meta added added for the dashboard & learning area
  classes/Assets.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: undefined current user id
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: learning area globals not accessable to filter hook
  classes/Template.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

new state card design for instructor home
  assets/icons/arrow-down.svg
  assets/icons/arrow-up.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/Instructor.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Instructor home state card
  classes/Instructor.php
  templates/dashboard/instructor/analytics/stat-card-hover.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove embedded PNG image data from `quiz-intro.svg`.
  assets/images/quiz-intro.svg
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Consolidate confirmation message handling by replacing `message_html` with `allowed_html_tags` for `wp_kses` sanitization.
  components/ConfirmationModal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add draw image question type to quiz functionality
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionForm.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/utils/types.ts
  classes/Quiz.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add TODO comment for sticky behavior and apply `tutor-table-bordered` class to course info table
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update conditional rendering logic
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added review changes
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Quiz_Attempts_List.php
  templates/dashboard/components/quiz-attempts-group.php
  templates/dashboard/components/student-quiz-attempt-row.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

revert old changes for utils
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Enhance learning area page detection using URL path segments and update TypeScript module resolution settings.
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/pages/quiz.ts
  package-lock.json
  tsconfig.json
Due: eslint --fix, prettier --write

stat-card hover ( instructor-home)
  assets/src/scss/frontend/dashboard/_stat-card.scss
  classes/Instructor.php
  templates/dashboard/instructor/analytics/stat-card-hover.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(user-preferences): add user preferences for theme, font scale, and auto-play-next
  assets/core/ts/index.ts
  assets/core/ts/services/Preference.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Tutor.php
  classes/UserPreference.php
  templates/account.php
  templates/dashboard.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove App.ThemeApply from plugin registration
  assets/core/ts/index.ts
Due: eslint --fix, prettier --write

chore: update version annotations from 1.0.0 to 4.0.0
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

new color added
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_surfaces.scss
Due: none

Ajax response type added to the core
  assets/core/ts/types/index.ts
Due: eslint --fix, prettier --write

tutor player variable updated
  assets/src/js/front/tutor-front.js
Due: none

unnecessary nonce_key removed
  assets/src/js/frontend/learning-area/lesson/player.ts
Due: eslint --fix, prettier --write

Update comments.php
  templates/learning-area/lesson/comments.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(templates): improve template structure and conditional rendering
  templates/account.php
  templates/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: improve theme handling and error response
  assets/core/ts/index.ts
  assets/core/ts/services/Preference.ts
  classes/UserPreference.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: save preference loading added
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: add missing mutation state to save button loading class
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Hover stat card done
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code formate
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Stat card issue when report addon is disable
  classes/Instructor.php
  models/WithdrawModel.php
  templates/dashboard/instructor/analytics/stat-card.php
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: prevent theme application for non-system themes
  assets/core/ts/index.ts
Due: eslint --fix, prettier --write

Fix: Admin cannot update student or instructor profile photo
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added changes
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Quiz_Attempts_List.php
  templates/dashboard/my-quiz-attempts.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: change default auto_play_next preference to false
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: centralize font scale options and improve theme handling
  assets/core/ts/index.ts
  assets/core/ts/services/Preference.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Lesson comment files refactored
  assets/core/ts/constant.ts
  assets/src/js/frontend/learning-area/lesson/comments.ts
  classes/Lesson.php
  templates/learning-area/lesson/comment-card.php
  templates/learning-area/lesson/comment-form.php
  templates/learning-area/lesson/comment-replies.php
  templates/learning-area/lesson/comments.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Different function added for reply and edit
  assets/src/js/frontend/learning-area/lesson/comments.ts
  templates/learning-area/lesson/comment-card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor comment DOM ID and class usage
  assets/src/js/frontend/learning-area/lesson/comments.ts
Due: eslint --fix, prettier --write

refactor(Preference): move theme initialization to constructor
  assets/core/ts/services/Preference.ts
Due: eslint --fix, prettier --write

constant added for modal id
  assets/src/js/frontend/learning-area/lesson/comments.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
