Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement stale cleanup for DrawImage and PinImage components
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/PinImage.tsx
Due: eslint --fix, prettier --write

added review changes
  classes/Quiz_Attempts_List.php
  models/QuizModel.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Accessibility options added to user preferences
  assets/core/ts/services/Preference.ts
  assets/icons/vision.svg
  assets/images/vision/deuteranomaly.png
  assets/images/vision/deuteranopia.png
  assets/images/vision/normal.png
  assets/images/vision/protanopia.png
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/dashboard/settings/_preferences.scss
  classes/Icon.php
  classes/UserPreference.php
  templates/dashboard/account/settings/preferences.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor quiz sidebar nav rendering
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  classes/Quiz.php
  templates/learning-area/quiz/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Called the method form sidebar view file
  templates/learning-area/quiz/nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance quiz answer management for mask image question types
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove v4 beta notice permanently on close button click
  assets/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove stale cleanup logic from DrawImage and PinImage components
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/PinImage.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

updated template loading and format quiz attempt method
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
  models/QuizModel.php
  templates/dashboard/components/quiz-attempts-group.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: streamline quiz payload processing and introduce normalization for mask question answers
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

Display beta notice only to admins
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): add is_attempt_answer_skipped() and fix docblock
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): refactor review_quiz_answer to handle skipped questions
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): use status_badges array for multiple badges
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): correct status fallback values
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add question_id data attribute for manual review
  assets/src/js/lib/modules/quiz.js
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): show skipped questions in attempt details
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(preview): disable pointer cursor for non-interactive question options
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

blocked / pending instructor are redirecting to instructor dashboard instead of student if profile mode is save as instructor.
  classes/Instructors_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Checkbox design fixed in registration pages
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Remove default padding in FormSelectUser
  assets/src/js/v3/shared/components/fields/FormSelectUser.tsx
Due: eslint --fix, prettier --write

fix filter and move quiz attempt group template to my-quiz-attempts
  classes/Quiz_Attempts_List.php
  templates/dashboard/components/quiz-attempts-group.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unused components removed
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated formatted_attempts
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Broken order history page for failed subscription orders
  models/OrderModel.php
  templates/dashboard/account/billing/order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed make_group
  classes/Quiz.php
  models/QuizModel.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

comment added
  classes/Instructors_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: param name
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

reuse current user id and fix security issue
  templates/dashboard/my-quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _badges.scss
  assets/core/scss/mixins/_badges.scss
Due: none

Custom display text and html option support added
  assets/core/ts/components/select.ts
  components/InputField.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Update header.php
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Custom label and value added to font size options
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _avatars.scss
  assets/core/scss/mixins/_avatars.scss
Due: none

Missing selected style added
  assets/core/scss/components/_select.scss
Due: none

Moved assignment css and update FileUploader
  assets/src/scss/frontend/learning-area/components/_assignment.scss
  assets/src/scss/frontend/learning-area/components/_index.scss
  components/FileUploader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix quiz table design
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

Refactor(🛠) : Move normalizeSingleMaskQuestionAnswers function to shared utils and update quiz service to use it
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/utils/quiz.ts
Due: eslint --fix, prettier --write

refactor: inline order history filters and add filter hooks for order normalization and retrieval
  classes/Utils.php
  models/OrderModel.php
  templates/dashboard/account/billing/order-history-filters.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
