Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Reviews menu register if enabled from settings
  classes/Reviews.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(styles): avoid hover styling on tabs focus
  assets/core/scss/components/_tabs.scss
Due: none

fix(styles): improve quiz attempt details layout
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
Due: none

refactor(styles): use layout mixin for dashboard container
  assets/src/scss/frontend/dashboard/layout/_layout.scss
Due: none

fix(templates): tweak account settings field config
  templates/dashboard/account/settings/preferences.php
  templates/dashboard/account/settings/social-accounts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update course completion chart style
  assets/src/scss/frontend/dashboard/instructor/dashboard.scss
  templates/dashboard/instructor/home/course-completion-chart.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Unset Anchor tags style
  assets/core/scss/main.scss
Due: none

fix avatar size
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Profile image loading indicator
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/scss/frontend/dashboard/settings/_account.scss
  templates/dashboard/account/settings/account.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Add Profile image placeholder
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

change method name
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

formating header.php file
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve anchor tag underline
  assets/core/scss/main.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
Due: none

Refactor database queries to use prepared statements for improved security and performance
  classes/QuizBuilder.php
  classes/Tutor.php
  helpers/QueryHelper.php
  models/CourseModel.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Exercise files design improved
  assets/core/scss/components/_attachment-card.scss
  assets/src/scss/frontend/learning-area/_index.scss
  assets/src/scss/frontend/learning-area/_lesson-exercise.scss
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): align account layout
  assets/src/scss/frontend/dashboard/_billing.scss
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_profile-pages.scss
  templates/account-header.php
  templates/dashboard/account/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(modal): emit closed event
  assets/core/ts/components/modal.ts
  assets/core/ts/constant.ts
Due: eslint --fix, prettier --write

feat(quiz): add radar auto-start component
  assets/src/js/frontend/learning-area/quiz/auto-start.ts
  assets/src/js/frontend/learning-area/quiz/constants.ts
  assets/src/js/frontend/learning-area/quiz/helpers.ts
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/radar.ts
  assets/src/js/frontend/learning-area/quiz/submission.ts
  assets/src/js/frontend/learning-area/quiz/timer.ts
Due: eslint --fix, prettier --write

feat(quiz): add result modals and assets
  assets/images/quiz-sibmitted.svg
  assets/images/quiz-timeout.svg
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  classes/Quiz.php
  components/Modal.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/modals/auto-start.php
  templates/learning-area/quiz/modals/result.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added endpoint and changed attachment card style
  assets/src/js/v3/shared/utils/endpoints.ts
  assets/src/scss/frontend/learning-area/components/_assignment.scss
Due: eslint --fix, prettier --write

feat: Add Scale question type support in quiz templates
  templates/learning-area/quiz/questions/scale.php
  templates/shared/components/quiz/attempt-details/questions/scale.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use centralized container layout
  assets/src/scss/frontend/dashboard/layout/_account.scss
  classes/Quiz.php
  templates/account-header.php
  templates/dashboard/account/billing.php
  templates/dashboard/account/profile.php
  templates/dashboard/account/reviews.php
  templates/dashboard/account/withdrawals.php
  templates/demo-components/certificates.php
  templates/demo-components/dashboard/components/profile-pages-header.php
  templates/demo-components/reviews.php
  templates/demo-components/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: remove unused class
  assets/src/scss/frontend/dashboard/layout/_profile-pages.scss
Due: none

Fix(🛠) : Non-course pages appearing in enrollment list in admin panel
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Variant added to progress component
  assets/core/scss/components/_progress.scss
  components/Constants/Variant.php
  components/Progress.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Review pages design improved
  classes/Reviews.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated in_clause to use query helper
  classes/QuizBuilder.php
  classes/Tutor.php
  helpers/QueryHelper.php
  models/CourseModel.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Course completion functionalities added
  assets/icons/tick-mark.svg
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/pages/course-info.ts
  classes/Course.php
  templates/learning-area/subpages/course-info.php
  views/modal/review.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Missing icon color add
  assets/core/scss/tokens/_icons.scss
Due: none

Color constant added
  components/Constants/Color.php
  components/SvgIcon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

deprecated message added
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

SvgIcon component used inside other components
  components/Accordion.php
  components/Alert.php
  components/AttachmentCard.php
  components/Badge.php
  components/Button.php
  components/ConfirmationModal.php
  components/DateFilter.php
  components/DropdownFilter.php
  components/FileUploader.php
  components/InputField.php
  components/Modal.php
  components/SearchFilter.php
  components/Sorting.php
  components/StatusSelect.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Review modal getting open when user click on the complete course button
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Missing default variables added
  components/InputField.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Modal inital open state support added
  assets/core/ts/components/modal.ts
  components/Modal.php
  views/modal/review.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: WP_Editor attributes and assignment error state
  assets/src/scss/frontend/learning-area/components/_assignment.scss
  components/WPEditor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(buttons): update kids mode shadows
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/themes/_index.scss
  assets/core/scss/themes/_kids.scss
  assets/core/scss/tokens/_buttons.scss
  stories/core/Button.stories.tsx
  templates/demo-components/components/button.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

moved error styles to _input.scss
  assets/core/scss/components/_input.scss
  assets/src/scss/frontend/learning-area/components/_assignment.scss
Due: none

feat: Add hand swipe right icon and update scale question instructions
  assets/icons/hand-swipe-right.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Scale.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
  classes/Icon.php
  templates/learning-area/quiz/questions/scale.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use printf for dynamic question number
  templates/learning-area/quiz/modals/result.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
