Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(course-builder): derive AI question type options from registry
  assets/src/js/v3/entries/course-builder/components/curriculum/GenerateQuizWithAi.tsx
Due: eslint --fix, prettier --write

feat(course-builder): add sort asc/desc icons and table sort support
  assets/icons/sort-asc.svg
  assets/icons/sort-desc.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/molecules/Table.tsx
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

add an optional bool parameter to control RTL flipping, maintain backward compatibility with default value true
  components/SvgIcon.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(course-builder): remove unused getEffectiveQuestionType
  assets/src/js/v3/shared/utils/question-type-registry.ts
Due: eslint --fix, prettier --write

feat(quiz): Add tooltip to quiz question icon
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
Due: eslint --fix, prettier --write

fix(quiz): make entire option draggable instead of only grab handle
  assets/src/js/frontend/learning-area/quiz/questions/matching.ts
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
Due: eslint --fix, prettier --write

chore: commit scss changes separately
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

fix(quiz): make grab handle non-focusable and pass events through to parent
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/ordering.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): update preview components to match full-option dragging
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OrderingPreview.tsx
Due: eslint --fix, prettier --write

fix(quiz): move grab handle styles to SCSS, remove inline styles
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OrderingPreview.tsx
  assets/src/scss/frontend/learning-area/_quiz.scss
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/ordering.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

updated parameter to pass status
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Enhance certificate kids mode design
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

fix: Resolve ordering not getting updated
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OrderingPreview.tsx
Due: eslint --fix, prettier --write

Redirecting to the welcome page disabled
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Redirecting user to the course list page instead of Welcome
  classes/Admin.php
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Check given status before use
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use wp_kses instead of wp_kses_post
  templates/learning-area/components/sidebar-nav-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(quiz): Instead of cover image now use contain object fit
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

style(nav): Resolve bottom nav not showing on medium devices
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
Due: none

replace the redundant and is_array checks with tutor_utils()->count to streamline code and reduce redundant validation
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: use tutor_utils count for payment_methods check
  ecommerce/Settings.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add methods to billing controller
  ecommerce/BillingController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Move methods to model
  ecommerce/BillingController.php
  models/BillingModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

remove commit
  rspack.config.mjs
Due: none

Plugin version updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Chnage the password reset email link
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

fix(coupon-details): fix coupon display issues
  assets/src/js/v3/entries/coupon-details/components/coupon/CouponDiscount.tsx
Due: eslint --fix, prettier --write

Add cart button integration for block and classic themes
  CART_BUTTON_INTEGRATION.md
  assets/src/js/front/tutor-cart-button.js
  assets/src/js/front/tutor-front.js
  assets/src/js/gutenberg/cart-button/block.json
  assets/src/js/gutenberg/cart-button/edit.js
  assets/src/js/gutenberg/cart-button/index.js
  assets/src/js/gutenberg/cart-button/render.php
  assets/src/js/gutenberg/cart-button/save.js
  assets/src/scss/blocks/cart-button.scss
  classes/Assets.php
  classes/Gutenberg.php
  classes/Shortcode.php
  includes/ecommerce-functions.php
  rspack.config.mjs
Due: prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠️): Update course content if main author is changed and multi-instructor addon is disabled.
  classes/Course.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix invalid quiz ID issue in legacy learning mode
  templates/single/quiz/parts/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update now URL updated
  views/pages/whats-new.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Readme updated
  readme.txt
Due: none

Version updated
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Icon comment out on the quiz type true-false
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update CART_BUTTON_INTEGRATION.md
  CART_BUTTON_INTEGRATION.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
