Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(settings): revert save button state on toggle turnoff cancellation
  assets/src/js/admin-dashboard/segments/options.js
Due: none

refactor(settings): simplify toggle save button state capture
  assets/src/js/admin-dashboard/segments/options.js
Due: none

fix: strip quotes and whitespace from array values in QueryHelper prepare_in_clause
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): sync student quick tips with site configuration
  templates/dashboard/student/dashboard-empty.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor reveal timeout and submit flow
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

Restrict instant answer verification
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update API documentation for authentication permissions
  docs/api/Authentication/Login.bru
  docs/api/Courses/course-announcement-{id}.bru
  docs/api/Courses/course-contents-{id}.bru
  docs/api/Courses/course-rating-{id}.bru
  docs/api/Courses/courses-{id}.bru
  docs/api/Courses/courses.bru
  docs/api/Curriculum/lessons.bru
  docs/api/Curriculum/topics.bru
  docs/api/Instructors/author-information-{id}.bru
  docs/api/Quizzes/quiz-attempt-details-{id}.bru
  docs/api/Quizzes/quiz-question-answer-{id}.bru
  docs/api/Quizzes/quizzes-{id}.bru
  docs/api/Quizzes/quizzes.bru
  docs/api/environments/Tutorlms.bru
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update API documentation for permission details
  docs/api/README.md
Due: prettier --write

Ensure skipped questions are recorded in attempt answers
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update API documentation for course and quiz endpoints
  docs/api/Courses/course-announcement-{id}.bru
  docs/api/Courses/course-contents-{id}.bru
  docs/api/Courses/course-rating-{id}.bru
  docs/api/Courses/courses-{id}.bru
  docs/api/Courses/courses.bru
  docs/api/Curriculum/lessons.bru
  docs/api/Curriculum/topics.bru
  docs/api/Instructors/author-information-{id}.bru
  docs/api/Quizzes/quiz-attempt-details-{id}.bru
  docs/api/Quizzes/quiz-question-answer-{id}.bru
  docs/api/Quizzes/quizzes-{id}.bru
  docs/api/Quizzes/quizzes.bru
Due: none

Remove pending-review gating from attempts
  classes/Quiz.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Security Fix] Coupon race condition
  ecommerce/CheckoutController.php
  ecommerce/CouponController.php
  ecommerce/HooksHandler.php
  models/CouponModel.php
  templates/ecommerce/checkout-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
