Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

If multi instructor is disabled then only main author will get a mail after a student submits an assignment.
  classes/Course.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Delete CART_BUTTON_INTEGRATION.md
  CART_BUTTON_INTEGRATION.md
Due: prettier --write

fix(dashboard): Resolve resize event trigger and nested overflow container
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  templates/dashboard/account/settings.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠️) : Canceling an unpaid duplicate order was removing student enrollment, even when a valid paid order existed for the course and student.
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Only accept the requested author override if it targets a real,approved instructor or admin
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code reviewer agent added for claude
  .claude/agents/code-reviewer.md
Due: prettier --write

feat(quiz): add sanitize_quiz_content method
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): prevent pointer events on read-only quiz options
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

fix(quiz): sanitize quiz content in learning area templates
  templates/learning-area/quiz/question-header.php
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/ordering.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): sanitize quiz content in attempt details templates
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/questions/fill-in-the-blank.php
  templates/shared/components/quiz/attempt-details/questions/multiple-choice.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): show correct/incorrect icons on true-false questions
  templates/learning-area/quiz/questions/true-false.php
  templates/shared/components/quiz/attempt-details/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Resolve php stan warnings
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused component anf fix php stan warnings
  templates/learning-area/quiz/questions/true-false.php
  templates/shared/components/quiz/attempt-details/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): Resolve php stan warnings
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(icons): add dark mode icon
  assets/icons/dark.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(brand-logo): add brand logo template and frontend styles
  assets/src/scss/frontend/components/_brand-logo.scss
  assets/src/scss/frontend/components/_index.scss
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  templates/dashboard/components/sidebar.php
  templates/shared/brand-logo.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(brand-logo): add brand logo settings field
  assets/src/js/admin-dashboard/segments/options.js
  views/options/field-types/brand_logo.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(brand-logo): add brand logo settings field
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(page-elements): replace spotlight mode with page element header/footer controls
  assets/src/scss/frontend/learning-area/layout/_header.scss
  includes/tutor-general-functions.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
  templates/single-content-loader.php
  templates/single-quiz.php
  views/options/field-types/page_elements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(icons): replace dashicons with custom footer svg icon in page elements settings
  assets/icons/footer.svg
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Icon.php
  views/options/field-types/page_elements.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused CSS selectors from brand logo and page elements fields
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

refactor: rename brand logo CSS classes from BEM to hyphenated
  assets/src/scss/frontend/components/_brand-logo.scss
  templates/shared/brand-logo.php
  views/options/field-types/page_elements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: preserve spotlight mode behavior in page elements default visibility
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Add `show_learning_site` header and footer options check
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Revert unintentional changes
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update code readability
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  views/options/field-types/brand_logo.php
  views/options/field-types/page_elements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update header positioning
  assets/src/scss/frontend/learning-area/layout/_header.scss
Due: none

fix(i18n): add missing translations and calendar locale support
  assets/core/ts/index.ts
  classes/Assets.php
  classes/User.php
  templates/dashboard/account/billing/order-history.php
  templates/dashboard/discussions/comment-list.php
  templates/dashboard/discussions/qna-list.php
  templates/dashboard/instructor/logged-in.php
  templates/dashboard/my-courses.php
  templates/learning-area/lesson/comments.php
  templates/learning-area/subpages/qna.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Add iframe support and resolve phpstan warnings
  classes/Course.php
  phpstan.neon
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(calendar): replace fixed 700px width with min-width 700px and max-width 750px, retain 300px width on mobile breakpoints
  assets/core/scss/components/_calendar.scss
Due: none

fix(course-builder): Add data attr for theme
  views/pages/course-builder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  .husky/pre-commit
  .lintstagedrc
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

feat(motion): Add custom hook to determine current motion settings
  assets/src/js/v3/shared/hooks/usePrefersReducedMotion.ts
Due: eslint --fix, prettier --write

feat: Use custom hook to determine when to animate
  assets/src/js/v3/shared/components/fields/FormDateInput.tsx
Due: eslint --fix, prettier --write

fix(curriculum): Resolve title layout shift
  assets/src/js/v3/entries/course-builder/pages/Curriculum.tsx
Due: eslint --fix, prettier --write

style(header): Fix top for course builder header
  assets/src/js/v3/entries/course-builder/components/layouts/header/Header.tsx
Due: eslint --fix, prettier --write

fix(datepicker): replace legacy date format tokens with yyyy-MM-dd
  v2-library/src/components/datapicker/TutorDateRangePicker.js
  v2-library/src/components/datapicker/TutorDateTimePicker.js
  v2-library/src/components/datapicker/TutorDatepicker.js
Due: none

fix(datepicker): parse date param via stringToDate and coerce to string
  v2-library/src/components/datapicker/TutorDatepicker.js
  v2-library/src/components/datapicker/utils.js
Due: none

chore(icons): add back-2 icon
  assets/icons/back-2.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1
