Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat: Make question preview modal interactive
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/FillInTheBlankPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ImageAnsweringPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MultipleChoicePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OpenEndedPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OrderingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/TrueFalsePreview.tsx
Due: eslint --fix, prettier --write

chore: Update styles and use For instead of map
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/FillInTheBlankPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ImageAnsweringPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MultipleChoicePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/OrderingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/TrueFalsePreview.tsx
Due: eslint --fix, prettier --write

Improve accessibility: add ARIA roles/labels
  components/Sorting.php
  templates/dashboard.php
  templates/dashboard/components/sidebar-nav-mobile.php
  templates/dashboard/components/sidebar.php
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove unused component styles
  assets/core/scss/components/_index.scss
  assets/core/scss/components/_select-dropdown.scss
  assets/core/scss/components/_stepper-dropdown.scss
Due: none

working on tutor meta for dashboard pages & learning area
  classes/Dashboard.php
  templates/account.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Double initialization fixed
  assets/core/ts/components/wp-editor.ts
  components/WPEditor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Support added for component used in spread operator
  assets/core/ts/utils/component-discovery.ts
Due: eslint --fix, prettier --write

File support added to toFormData
  assets/core/ts/utils/api.ts
Due: eslint --fix, prettier --write

Showing success toast even if upload fails fixed
  assets/src/js/frontend/dashboard/pages/settings.ts
Due: eslint --fix, prettier --write

Improve API and error handling
  assets/core/ts/utils/api.ts
  assets/core/ts/utils/error.ts
  assets/src/js/frontend/dashboard/pages/settings.ts
Due: eslint --fix, prettier --write

Old convertToFormData used
  assets/core/ts/utils/api.ts
Due: eslint --fix, prettier --write

Fix(🛠):Invalid course count was showing on instructor home page.
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Style fixed
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed unnecessary import
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix : alpine x-show variable is being called
  classes/Quiz.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve quiz accessibility with keyboard navigation, focus states, and aria labels while refining quiz summary display logic.
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
  classes/Quiz.php
  templates/learning-area/quiz/content.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update button hover and focus states to correctly handle shadow, border, and focus ring styling
  assets/core/scss/mixins/_buttons.scss
Due: none

Autoload next content response updated
  assets/src/js/frontend/learning-area/lesson/player.ts
Due: eslint --fix, prettier --write

Missing loader condition added
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard,seo): update page meta tags and dashboard meta handling
  classes/Announcements.php
  classes/Dashboard.php
  classes/Q_And_A.php
  classes/Reviews.php
  classes/Template.php
  classes/Utils.php
  templates/account.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use generic error param and refine reload logic
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/sidebar.ts
Due: eslint --fix, prettier --write

Refactored the time spent calculation
  classes/Course.php
  helpers/DateTimeHelper.php
  models/CourseModel.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Broaden tutor component regex detection
  assets/core/ts/utils/component-discovery.ts
Due: eslint --fix, prettier --write

Remove webpack-bundle-analyzer
  package.json
  pnpm-lock.yaml
  rspack.config.mjs
Due: none

refactor: clean up code and improve meta handling
  classes/Dashboard.php
  templates/account.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unnecessary type casting
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Modal close icons style fixed
  assets/core/scss/components/_modal.scss
Due: none

Fix: deprecation error for php 8.5
  classes/Tools_V2.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement keyboard-only focus ring indicators for quiz questions
  assets/src/js/frontend/learning-area/quiz/layout.ts
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: eslint --fix, prettier --write

Refactored the base prefix settings mechanism
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement keyboard navigation and focus-visible styling for question preview modals
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MatchingPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/MultipleChoicePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/TrueFalsePreview.tsx
Due: eslint --fix, prettier --write

refactor(dashboard): rewrite meta handling, add stats and fix typos
  classes/Dashboard.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/dashboard/components/header.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added null check for attempt time calculation
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: update nav meta descriptions and page titles
  classes/Announcements.php
  classes/Dashboard.php
  classes/Reviews.php
  classes/Template.php
  classes/Utils.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠): Active user issue fix on home page
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance quiz interaction with new accessibility hooks and keyboard navigation support
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
  assets/src/js/v3/shared/hooks/useDrawOnImageField.ts
  assets/src/js/v3/shared/utils/quizBuilderA11y.ts
  rspack.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

remvoe meta_description
  classes/Announcements.php
  classes/Dashboard.php
  classes/Q_And_A.php
  classes/Reviews.php
  classes/Template.php
  classes/Utils.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance quiz question previews with improved accessibility features and keyboard navigation support
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/CoordinatesPreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/DrawImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PinImagePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/ScalePreview.tsx
Due: eslint --fix, prettier --write

feat: add meta title & description filters
  classes/Dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Bump @rsdoctor/rspack-plugin to v1.5.12
  package.json
  pnpm-lock.yaml
Due: none
