Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

refactor: Use updated params
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
Due: eslint --fix, prettier --write

chore: Update translation comment
  GDPR/Controllers/UserConsent.php
  assets/core/ts/components/copy-to-clipboard.ts
  assets/core/ts/components/form.ts
  assets/core/ts/services/WPMedia.ts
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
  assets/src/js/v3/shared/hooks/useWpMedia.ts
  classes/Course.php
  helpers/DateTimeHelper.php
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
  templates/dashboard/instructor/home/recent-student-review-item.php
  templates/dashboard/question-answer/answers.php
  templates/learning-area/lesson/comment-card.php
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/replies.php
  templates/learning-area/subpages/qna/single.php
  templates/learning-area/subpages/reviews/review-card.php
  templates/single/course/enrolled/announcements.php
  templates/single/course/reviews-loop.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(core): prevent preload chain errors from blocking initialization
  assets/core/ts/packs/base.ts
  assets/core/ts/packs/form-controls.ts
  assets/core/ts/packs/media-editor.ts
  assets/src/js/frontend/route-preload.ts
  rspack.config.mjs
Due: eslint --fix, prettier --write

fix(dashboard): add core-media-editor pack to quiz-attempts and discussions routes
  assets/src/js/frontend/dashboard/index.ts
Due: eslint --fix, prettier --write

fix(quiz): add missing x-data expanded state to quiz attempt wrapper
  assets/src/scss/frontend/learning-area/_quiz.scss
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: add clarifying comment for answers vs questions parameter in quiz attempt-details template
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

perf(progress): replace width with translateX for GPU-composited progress bar animation
  assets/core/scss/components/_progress.scss
Due: none

Remove redundant markup and styles form withdrawls
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: register missing Alpine components for review modal and star rating
  assets/core/ts/packs/form-controls.ts
  assets/src/js/frontend/components/reviews.ts
  assets/src/js/frontend/learning-area/common.ts
  assets/src/js/frontend/learning-area/index.ts
Due: eslint --fix, prettier --write

Remove user certificates style from free version
  assets/src/scss/frontend/dashboard/_certificates.scss
  assets/src/scss/frontend/dashboard/_index.scss
Due: none

refactor(quiz): add TimerHelper utility and refactor progress bar timer tokens
  helpers/TimerHelper.php
  templates/learning-area/quiz/progress-bar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unused styles and style fixed
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/_subscription-history.scss
  templates/dashboard/account/billing/order-history.php
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): use translated time units in quiz content template
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: add code splitting guide and API reference
  assets/core/docs/code-splitting-guide.md
Due: prettier --write

docs: add JSDoc reference to code splitting guide in route-preload.ts
  assets/src/js/frontend/route-preload.ts
Due: eslint --fix, prettier --write

label_html support added
  components/InputField.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Modal design improved
  assets/core/scss/components/_modal.scss
Due: none

clearable removed
  templates/ecommerce/billing-form-fields.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update withdrawal-history-filters.php
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update quiz settings `availableQuestionInPool` logic
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Pagination error fixed
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Enhance quiz puzzle question styling and review layout
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

Social links added to profile completion
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Profile completion support added for students
  templates/dashboard/components/profile-completion.php
  templates/dashboard/dashboard.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): Simplify quiz review item styling and enhance shadow effects
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

Refund data issue fix for analytics graph
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
  helpers/QueryHelper.php
  models/OrderModel.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

refactor: improve type safety, update build configurations, and address minor bugs in various UI components
  .storybook/preview.tsx
  assets/src/js/frontend/learning-area/quiz/questions/matching.ts
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/CategoryListTable.tsx
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/CourseListTable.tsx
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/MembershipPlanListTable.tsx
  assets/src/js/v3/entries/coupon-details/components/modals/CourseListModal/index.tsx
  assets/src/js/v3/entries/course-builder/components/additional/meeting/ZoomMeetingCard.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/payment-settings/fields/OptionWebhookUrl.tsx
  assets/src/js/v3/entries/tax-settings/components/EuropeanUnionTax.tsx
  assets/src/js/v3/entries/tax-settings/components/TaxRates.tsx
  assets/src/js/v3/shared/components/fields/FormCategoriesInput.tsx
  assets/src/js/v3/shared/components/fields/FormImageInput.tsx
  assets/src/js/v3/shared/components/fields/FormRangeSliderField.tsx
  assets/src/js/v3/shared/components/fields/FormVideoInput.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormImageAnswering.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormMatching.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormMultipleChoiceAndOrdering.tsx
  assets/src/js/v3/shared/components/modals/CourseCategorySelectModal/CategoryListTable.tsx
  assets/src/js/v3/shared/components/subscription/SubscriptionItem.tsx
  assets/src/js/v3/shared/hooks/useFormWithGlobalError.ts
  assets/src/js/v3/shared/hooks/useResetForm.ts
  assets/src/js/v3/shared/utils/local-storage.ts
  cypress/support/commands.ts
  package.json
  pnpm-lock.yaml
  stories/molecules/DropdownButton.stories.tsx
Due: eslint --fix, prettier --write

Fix: If the pagination setting not set, per page limit becomes 0
  views/pages/students.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Payments style added in payment modal
  assets/src/scss/frontend/dashboard/_billing.scss
Due: none

chore: add type checking to lint-staged configuration and pre-push hook
  .husky/pre-push
  .lintstagedrc
Due: none

chore: upgrade TS target to es2015 and update path mapping configuration
  tsconfig.json
Due: none

fix: student enrollment is not showing on live site on dashboard
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "chore: Update translation comment"
  GDPR/Controllers/UserConsent.php
  assets/core/ts/components/copy-to-clipboard.ts
  assets/core/ts/components/form.ts
  assets/core/ts/services/WPMedia.ts
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
  assets/src/js/v3/shared/hooks/useWpMedia.ts
  classes/Course.php
  helpers/DateTimeHelper.php
  templates/dashboard/discussions/comment-replies.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-replies.php
  templates/dashboard/discussions/qna-single.php
  templates/dashboard/instructor/home/recent-student-review-item.php
  templates/dashboard/question-answer/answers.php
  templates/learning-area/lesson/comment-card.php
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/replies.php
  templates/learning-area/subpages/qna/single.php
  templates/learning-area/subpages/reviews/review-card.php
  templates/single/course/enrolled/announcements.php
  templates/single/course/reviews-loop.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update translation comments
  GDPR/Controllers/UserConsent.php
  assets/src/js/v3/shared/utils/util.ts
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Multisite support added for wp_users & wp_usermeta table
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Reflect attachment view mode settings on lesson exercise files
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: str_replace(): Passing null to parameter deprecation warning
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
