Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat(admin): hide What's New in v4 from sidebar, add dismiss bar with responsive styling
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
  classes/WhatsNew.php
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

New brand color 450 added
  assets/core/scss/mixins/_utilities.scss
  assets/core/scss/tokens/_colors.scss
  assets/core/scss/tokens/_shadows.scss
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Content updated
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Brand color reset default not working fixed
  classes/Options_V2.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(tour): add Alpine component with modal integration
  assets/src/js/frontend/dashboard/tour.ts
Due: eslint --fix, prettier --write

feat(tour): add tour styles with directional slide animations
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/_tour.scss
Due: none

feat(tour): create tour modal templates
  templates/dashboard/components/tour-content.php
  templates/dashboard/components/tour.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): register tour component and include in dashboard
  assets/src/js/frontend/dashboard/index.ts
  templates/dashboard/student/dashboard.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add tour assets
  assets/images/tour/tour-1-sm.webp
  assets/images/tour/tour-1.webp
  assets/images/tour/tour-2-sm.webp
  assets/images/tour/tour-2.webp
  assets/images/tour/tour-3-sm.webp
  assets/images/tour/tour-3.webp
  assets/images/tour/tour-4-sm.webp
  assets/images/tour/tour-4.webp
  assets/images/tour/tour-5-sm.webp
  assets/images/tour/tour-5.webp
  templates/dashboard/components/tour.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(tour): Update tour modal padding
  assets/src/scss/frontend/dashboard/_tour.scss
  templates/dashboard/components/tour-content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use existing methods
  templates/dashboard/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(dashboard): resolve tour modal close event listener not firing
  assets/src/js/frontend/dashboard/tour.ts
Due: eslint --fix, prettier --write

feat(tour): move tour component to shared location
  assets/images/tour/tour-1-sm.webp
  assets/images/tour/tour-1.webp
  assets/images/tour/tour-2-sm.webp
  assets/images/tour/tour-2.webp
  assets/images/tour/tour-3-sm.webp
  assets/images/tour/tour-3.webp
  assets/images/tour/tour-4-sm.webp
  assets/images/tour/tour-4.webp
  assets/images/tour/tour-5-sm.webp
  assets/images/tour/tour-5.webp
  assets/src/js/frontend/components/tour.ts
  assets/src/scss/frontend/components/_index.scss
  assets/src/scss/frontend/components/_tour.scss
  assets/src/scss/frontend/dashboard/_index.scss
Due: eslint --fix, prettier --write

feat(learning-area): add tour support to learning area
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
  templates/learning-area/index.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): show tour on all dashboard pages
  templates/dashboard.php
  templates/dashboard/student/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): only show tour for student users
  templates/dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(tour): add inset box-shadow to tour slide images
  assets/src/scss/frontend/components/_tour.scss
Due: none

fix(tour): use ::after pseudo-element for visible inset box-shadow
  assets/src/scss/frontend/components/_tour.scss
Due: none

style(tour): update inset box-shadow values
  assets/src/scss/frontend/components/_tour.scss
Due: none

style(tour): reduce inset box-shadow spread to 0
  assets/src/scss/frontend/components/_tour.scss
Due: none

fix(tour): scope localStorage key to user ID
  assets/src/js/frontend/components/tour.ts
  templates/dashboard/components/tour.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(tour): extract localStorage key prefix to constant
  assets/src/js/frontend/components/tour.ts
Due: eslint --fix, prettier --write

fix(tour): correct slide 2 small screen shadow to left+bottom
  assets/src/scss/frontend/components/_tour.scss
Due: none

fix(tour): use data-attribute selectors instead of :nth-child
  assets/src/scss/frontend/components/_tour.scss
  templates/dashboard/components/tour-content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(tour): Update shadow style in slide image
  assets/images/tour/tour-1-sm.webp
  assets/images/tour/tour-1.webp
  assets/images/tour/tour-2-sm.webp
  assets/images/tour/tour-2.webp
  assets/images/tour/tour-3-sm.webp
  assets/images/tour/tour-3.webp
  assets/images/tour/tour-4-sm.webp
  assets/images/tour/tour-4.webp
  assets/images/tour/tour-5-sm.webp
  assets/images/tour/tour-5.webp
  assets/src/scss/frontend/components/_tour.scss
Due: none

Fix RTL issues across dashboard and learning area
  assets/core/scss/components/_modal.scss
  assets/core/scss/components/_popover.scss
  assets/core/scss/components/_progress.scss
  assets/core/scss/components/_result-badge.scss
  assets/core/scss/components/_tabs.scss
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/components/_discussion-single.scss
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
  assets/src/scss/frontend/dashboard/_billing.scss
  assets/src/scss/frontend/dashboard/_course-card.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  assets/src/scss/frontend/dashboard/settings/_account.scss
  assets/src/scss/frontend/dashboard/settings/_preferences.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  assets/src/scss/frontend/learning-area/_lesson-comments.scss
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/pages/_certificate.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
Due: none

sidebar rtl fixed
  assets/src/scss/frontend/learning-area/layout/_sidebar.scss
Due: none

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add User::can helper method and remove redundant break statement in User class
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update addon permission check to use User::can instead of User::is_admin
  classes/Addons.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added reviewed changes
  classes/Quiz_Attempts_List.php
  classes/Template.php
  classes/Utils.php
  ecommerce/CheckoutController.php
  models/OrderModel.php
  models/QuizModel.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  templates/ecommerce/checkout-details.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Workflow title updated
  .github/workflows/demo-build-and-deploy.yml
Due: none

added comments and updated code
  classes/Utils.php
  models/OrderModel.php
  templates/dashboard/components/header.php
  templates/dashboard/dashboard.php
  templates/dashboard/student/stats.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security: Improve lesson attachment output escaping
  templates/global/attachments.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update addon authorization check from is_admin to User::can permission check
  classes/Addons.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(tour): add server-side tour completion endpoint
  assets/core/ts/utils/endpoints.ts
  classes/User.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(tour): expose is_tour_completed to JS config
  assets/core/ts/config/config.ts
  assets/src/js/v3/@types/index.d.ts
  classes/Assets.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(tour): replace localStorage with server-side tour check
  assets/src/js/frontend/components/tour.ts
Due: eslint --fix, prettier --write

refactor(tour): move tour templates from dashboard to shared
  assets/src/scss/frontend/components/_tour.scss
  templates/dashboard.php
  templates/learning-area/index.php
  templates/shared/tour-content.php
  templates/shared/tour.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
