Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

refactor: removed unused template
  templates/dashboard/purchase_history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(): Retake button doesn't work on quiz attempt.
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Update Puzzle question type to include difficulty levels and improve styling
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Puzzle.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

update: return data updated for get_orders_by_user_id method
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: unify order history retrieval and status filtering by moving logic to OrderController hooks
  ecommerce/OrderController.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Course completion condition added to reset progress
  classes/Options_V2.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: quiz js file is getting added.
  templates/learning-area/quiz/attempt.php
  templates/single/quiz/body.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): polish learning area intro layout
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): refine mobile attempt rows
  assets/core/scss/components/_table.scss
  assets/src/scss/frontend/components/_quiz-attempts.scss
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): stabilize mobile pagination layout
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): improve mobile review summary
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(kids): align mobile quiz learning area surfaces
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

fix(dashboard): animate mobile more menu
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(learning-area): centralize responsive footer layout
  assets/core/scss/main.scss
  assets/src/scss/frontend/learning-area/layout/_footer.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  templates/learning-area/lesson/footer.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(quiz): remove legacy intro subpage template
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  classes/Quiz.php
  templates/learning-area/subpages/quiz-intro.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Use tokens and update dragging shadow
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Enhancement: Refactor QuestionPreviewModal and PuzzlePreview components for improved styling and layout of puzzle question previews
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
Due: eslint --fix, prettier --write

Enhancement: Improve layout and responsiveness of puzzle question previews in QuestionPreviewModal and PuzzlePreview components
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
Due: eslint --fix, prettier --write

Enhancement: Update QuestionPreviewModal to utilize a constant for Tutor Pro stylesheet path and improve puzzle question styling for better layout and responsiveness
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

Enhancement: Refactor question types to streamline scale and puzzle configurations, removing unnecessary useEffect hooks and improving initial state handling for better performance and maintainability
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Coordinates.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/PinImage.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Puzzle.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Scale.tsx
Due: eslint --fix, prettier --write

fix: showing only single record
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Refactor Puzzle question type to improve state management and styling, removing unnecessary hooks and integrating difficulty level selection for better user experience
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Puzzle.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

feat: filter order history by status added
  classes/Utils.php
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused order imports and add null coalescing operators to order history template filters
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: move order history status option formatting logic into filter callbacks
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update order history status options structure and add active state support
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update filter_order_history_status_options to accept selected status and format return array structure
  ecommerce/OrderController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Remove unused styles from quiz progress meta
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

refactor: remove unused get_total_orders_by_user_id method from Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: h5p quiz abandon and lesson completion
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  templates/learning-area/lesson/content.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Init GDPR
  GDPR/Controllers/ComplianceController.php
  GDPR/Controllers/ConsentController.php
  GDPR/DB/Compliances.php
  GDPR/DB/Consents.php
  GDPR/DB/DB.php
  GDPR/DB/Logs.php
  GDPR/GDPR.php
  classes/Tutor.php
  composer.json
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): use current settings for retry visibility
  classes/Quiz_Attempts_List.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠):The withdrawal section on settings is showing HTML markup when the monetization is set to WooCommerce.
  templates/dashboard/account/settings/withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

code formate
  templates/dashboard/account/settings/withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): remove duplicate retry helper
  classes/Quiz_Attempts_List.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Add new SVG icon for puzzle question type and update related components to use the new icon, improving visual consistency across the course builder.
  assets/icons/quiz-puzzle.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/FilterFields.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
  assets/src/js/v3/shared/icons/types.ts
Due: eslint --fix, prettier --write

Enhancement: Refactor DrawImage question type to improve state management by removing unnecessary hooks and integrating question data status handling for better performance and maintainability.
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

refactor: move order retrieval logic from Utils to WooCommerce filter using an arguments array
  classes/Utils.php
  classes/WooCommerce.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: standardize order history pagination by replacing per_page with limit and refactoring filter_get_orders_by_user_id to accept an arguments array
  classes/WooCommerce.php
  ecommerce/OrderController.php
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update order query parameters to use default sort order and direct integer casting
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
