Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Add missing date filter in Instructor Students page
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(avatar): simplify wrapper and enforce square media
  assets/core/scss/mixins/_avatars.scss
  components/Avatar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(tabs): add small tab size variant
  assets/core/scss/components/_tabs.scss
  assets/core/ts/components/tabs.ts
Due: eslint --fix, prettier --write

feat(notifications): add notification status endpoints
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

feat: Handle tutor_push_notify_students in announcements
  assets/src/js/frontend/dashboard/pages/announcements.ts
Due: eslint --fix, prettier --write

feat: Add endpoint
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Code refactor.
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

v4-fixes
  assets/src/scss/frontend/components/_quiz-attempts.scss
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Missing Social Media link added in profile page.
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): enhance filtering for total marks and answer data processing
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): correct formatting of custom answer data filter application
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance Q&A reply functionality with context-aware replies and UI updates
  assets/src/js/frontend/learning-area/pages/qna.ts
  templates/dashboard/account/billing.php
  templates/learning-area/subpages/qna.php
  templates/learning-area/subpages/qna/card.php
  templates/learning-area/subpages/qna/single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: remove unused Q&A list container ID and update reply mutation success handler
  assets/src/js/frontend/learning-area/pages/qna.ts
  templates/learning-area/subpages/qna.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Dropdown filter trigger button style fixed
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

helper method added and date range query support added
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: introduce instructor withdrawal management with new dashboard page, request modal, and history filters
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  classes/Dashboard.php
  classes/Withdraw.php
  templates/dashboard/account/withdrawal/withdrawal-history-filters.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(query): auto-refetch active queries on invalidation
  assets/core/ts/services/Query.ts
Due: eslint --fix, prettier --write

feat: implement frontend dashboard page for withdrawal requests with API endpoint
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/pages/withdrawals.ts
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

fix: correct withdraw preference link URL in dashboard withdrawals
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Dynamically pass form and modal IDs to the withdrawal request modal and reset the form when opened.
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Start Rating edit color
  components/StarRatingInput.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: rename helper method
  helpers/ComponentHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update badge rendering by renaming status badge helper, using new Badge component for payment methods, and including 'rejected' status.
  helpers/ComponentHelper.php
  templates/dashboard/account/billing/order-history-card.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed tutor-btn-link style
  assets/src/scss/frontend/components/_quiz-attempts.scss
Due: none

feat: enhance discussion reply functionality with context-aware reply context and UI improvements
  assets/src/js/frontend/dashboard/pages/discussions.ts
  templates/dashboard/discussions/qna-card.php
  templates/dashboard/discussions/qna-single.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: remove unnecessary comment in discussionsPage function for clarity
  assets/src/js/frontend/dashboard/pages/discussions.ts
Due: eslint --fix, prettier --write

fix(quiz): remove redundant filter for draw_image answer data
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add StatusSelect component
  assets/core/scss/components/_index.scss
  assets/core/scss/components/_status-select.scss
  assets/core/ts/components/status-select.ts
  assets/core/ts/index.ts
  components/StatusSelect.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Code format
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add custom grid split utilities
  assets/core/scss/utilities/_layout.scss
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add menu min-width option to Popover
  components/Popover.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): update action hooks for rendering custom question type answers
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance withdrawal history display by masking sensitive method data and adding status tooltips.
  models/WithdrawModel.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security Fixes for 3.9.8
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: asterisks_center_text method updated for reuse
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update asterisks_email
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Centralize withdrawal method definitions and icons, improve sensitive data masking, and update the dashboard withdrawal icon.
  classes/Dashboard.php
  models/WithdrawModel.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add v4 quiz settings layout
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/components/fields/FormInputWithContent.tsx
Due: eslint --fix, prettier --write

Fix(🛠): Missing Authorization in pay_incomplete_order()
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
