Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Course info design fixed
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
Due: none

fix: reload page after saving preferences and fix CSS syntax
  assets/src/js/frontend/dashboard/pages/settings.ts
  assets/src/scss/frontend/dashboard/_stat-card.scss
  templates/dashboard/courses/course-card.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Update coordinates question type to handle multiple points and validation
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/Coordinates.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
  assets/src/js/v3/shared/utils/quiz.ts
Due: eslint --fix, prettier --write

fix(quiz): Enhance validation for quiz question answers
  assets/src/js/v3/shared/utils/quiz.ts
Due: eslint --fix, prettier --write

Remove Spotlight Mode option and usage
  classes/Options_V2.php
  includes/tutor-general-functions.php
  templates/single-content-loader.php
  templates/single-quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Condition added before showing review form
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Missing button style added
  assets/core/scss/tokens/_buttons.scss
Due: none

style(instructor-analytics): add flex class to stat card icon for proper alignment
  templates/dashboard/instructor/analytics/stat-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Update help text for DrawImage component to clarify scoring criteria
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
Due: eslint --fix, prettier --write

Header avatar style fixed
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: prevent duplicate course enrollment during WooCommerce checkout by adding a filter and validation check
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Import Google Fonts and update typography
  assets/core/scss/main.scss
  assets/core/scss/tokens/_buttons.scss
Due: none

Fix: Become instructor button showing even if disabled from settings
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: JS script not loading when base permalink updated
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/v3/@types/index.d.ts
  classes/Assets.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): support legacy image matching labels
  templates/learning-area/quiz/questions/matching.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add new SVG icon for 'graph' question type and update references in quiz components
  assets/icons/quiz-graph.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
  assets/src/js/v3/shared/icons/types.ts
Due: eslint --fix, prettier --write

refactor: Simplify comments and improve clarity in quiz grading filter logic
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Wrong id passed to comment reply fixed
  templates/dashboard/discussions/comment-card.php
  templates/dashboard/discussions/comment-single.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Discussion card edit does not reflect changes fixed
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: enrollment list
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Course creation from admin toolbar not working
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/dashboard/pages/instructor/common.ts
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Using tutorConfig instead of window
  assets/src/js/frontend/learning-area/index.ts
Due: eslint --fix, prettier --write

Fix(🛠) : Button issue when subscription add on is disable and guest checkout is enable for guest user
  ecommerce/CartController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code formate
  ecommerce/CartController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add lasso drawing state management to FormDrawImage and FormPinImage components
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

fix tutor flex class
  templates/dashboard/instructor/logged-in.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Enhance FormCoordinates component with tooltips for duplicate and delete actions
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

refactor: Adjust FormCoordinates component for improved coordinate handling and styling
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

fix: undefined index comment_status
  templates/dashboard/account/reviews/review-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Modal width issue fixed
  components/Modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

flex center utility added
  assets/core/scss/utilities/_layout.scss
Due: none

Add block option to Button component
  components/Button.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated common location and added try catch
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/services/common.ts
Due: eslint --fix, prettier --write

Remove global margin/padding and list resets
  assets/core/scss/main.scss
Due: none

Use flex center column in EmptyState
  components/EmptyState.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Use `tutor-frontend-layout` mixing
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Update _profile.scss
  assets/src/scss/frontend/dashboard/_profile.scss
Due: none

Fix: Admin can not access learning area subpages
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): enhance button accessibility and styling in FormDrawImage and FormPinImage components
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

Fix: Manual payment methods not showing when added media files
  ecommerce/Settings.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
