Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Wrong view indentifier to see the student profile
  views/pages/ecommerce/order-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update(docs): Update spec docs
  openspec/changes/quiz-partial-negative-marking/README.md
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-attempt-answer-status/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-scoring/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-settings/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: prettier --write

Security Fix: Check if the current user can check a user profile
  classes/User.php
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(quiz): Update docs to match the required behavior
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-scoring/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-settings/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: prettier --write

docs(openspec): update quiz-partial-negative-marking with manual grading, feedback flows, and grandfathering
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-attempt-answer-status/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-manual-grading/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-settings/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: prettier --write

docs(openspec): Update requirements
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-settings/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: prettier --write

feat(quiz): add attempt-answer correctness constants and status resolver
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(settings): support turn-off confirmation modals for grading settings
  assets/src/js/admin-dashboard/segments/options.js
  views/options/field-types/toggle_switch.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(course-builder): add partial and negative marking controls in quiz settings
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/config/config.ts
  classes/Course.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): display partial results and non-binary status across attempt views
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/learning-area/quiz/content.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/review-answers.php
  templates/shared/components/quiz/attempt-details/summary.php
  views/quiz/attempt-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): implement numeric manual marks and question feedback flows
  assets/core/ts/utils/endpoints.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/js/frontend/dashboard/pages/quiz-attempts.ts
  assets/src/js/lib/modules/quiz.js
  assets/src/js/v2/quiz-attempt.js
  classes/Quiz.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  views/quiz/attempt-details.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

docs(quiz): update task checklist and add verification report
  openspec/changes/quiz-partial-negative-marking/tasks.md
  openspec/changes/quiz-partial-negative-marking/verification-report.md
Due: prettier --write

refactor(quiz): use QueryHelper for feedback persistence and track manual overrides
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): filter skipped questions and add feedback and override labels in legacy attempt details
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): display auto-grade override notice in v4 question header
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(quiz): mark all remaining verification tasks complete
  openspec/changes/quiz-partial-negative-marking/tasks.md
  openspec/changes/quiz-partial-negative-marking/verification-report.md
Due: prettier --write

refactor(quiz): address review feedback, centralize answer counts, and tag @since 4.1.0
  assets/src/js/admin-dashboard/segments/options.js
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  classes/Quiz.php
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/summary.php
  views/options/field-types/toggle_switch.php
  views/quiz/attempt-details.php
  views/quiz/attempt-table.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): specify N/M correct badge and archive legacy workflows
  .agents/workflows/opsx-apply.md.bak
  .agents/workflows/opsx-archive.md.bak
  .agents/workflows/opsx-explore.md.bak
  .agents/workflows/opsx-propose.md.bak
  .agents/workflows/opsx-sync.md.bak
  .agents/workflows/opsx-update.md.bak
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-attempt-answer-status/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: prettier --write

feat(quiz): display N/M correct badge for partially graded questions and use tutor_utils count
  models/QuizModel.php
  openspec/changes/quiz-partial-negative-marking/tasks.md
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  views/quiz/attempt-details.php
Due: prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): import QuizModel at top of file instead of inline
  templates/shared/components/quiz/attempt-details/question-header.php
  views/quiz/attempt-table.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add tutor_quiz_summary_parameters filter and partial icon
  assets/icons/partial.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/Quiz.php
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-settings/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

docs(openspec): update quiz-partial-negative-marking plan with header score and breakdown specs
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-attempt-answer-status/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-scoring/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
Due: prettier --write

fix(quiz): streamline instructor feedback submission process and enhance feedback state management
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/js/lib/tutor.js
  classes/Quiz.php
  views/quiz/instructor-feedback.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): polish open-ended review, form validation, and header score breakdown
  assets/core/ts/components/form.ts
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/modules/quiz-attempts.scss
  openspec/changes/quiz-partial-negative-marking/tasks.md
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  views/quiz/attempt-details.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): centralize attempt answer badge metadata and rendering in QuizModel
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): remove override notice and remove redundant penalty styles in core
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  templates/shared/components/quiz/attempt-details/question-header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): streamline v4 attempt question feedback and manual grading flow
  assets/src/js/frontend/dashboard/pages/quiz-attempt-feedback.ts
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  classes/Quiz.php
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-manual-grading/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): simplify score formatting and remove redundant floor checks
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Improve quiz types
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

feat(quiz): make attempt mark breakdown conditional on partial or negative marking
  models/QuizModel.php
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-attempt-answer-status/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): resolve question type and marks in manual quiz answer review
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update admin feedback flow
  assets/src/js/v2/quiz-attempt.js
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Hide skipped questions from student view
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): introduce notify_quiz_attempt_graded method for improved notification handling
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

AI Connector: Integrated WP AI connectors
  assets/src/js/v3/entries/course-builder/hooks/useGenerateCourseContent.ts
  assets/src/js/v3/shared/components/fields/FormImageInput.tsx
  assets/src/js/v3/shared/components/modals/SetupOpenAiModal.tsx
  classes/Course.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Import statement wrong placement fixed
  templates/user-profile.php
  views/pages/ecommerce/order-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

style: Update Instructor Feedback style
  assets/src/scss/modules/quiz-attempts.scss
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
