Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Enhancement: Refactor FormDrawImage and FormPuzzle components to improve state management and question data status handling, ensuring better performance and maintainability across quiz question types.
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

Fix(🛠) : Next/Previous button issue on learning area
  templates/learning-area/lesson/footer.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

hestia theme compatibility added
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  includes/theme-compatibility/common/assets/css/style.css
  includes/theme-compatibility/hestia/assets/css/style.css
  includes/theme-compatibility/hestia/functions.php
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Remove precisionTextDomain prop from FormDrawImage and FormPuzzle components, replacing it with a constant for improved consistency in text domain usage across quiz question types.
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

fix: conditionally unset order_type only when subscription addon is enabled
  ecommerce/OrderController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: prevent order filtering errors by returning data early when user_id is empty
  ecommerce/OrderController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: conditionally render payment method in native order history card
  templates/dashboard/account/billing/native-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

review changes
  ecommerce/OrderController.php
  templates/dashboard/account/billing/native-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Update quiz-puzzle SVG icon for improved visual consistency and performance, streamlining the SVG structure while maintaining design integrity.
  assets/icons/quiz-puzzle.svg
Due: none

style: update typography and spacing for improved consistency across themes
  assets/core/scss/mixins/_typography.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  assets/src/scss/frontend/learning-area/layout/_header.scss
  includes/theme-compatibility/astra/assets/css/style.css
  includes/theme-compatibility/astra/functions.php
  includes/theme-compatibility/common/assets/css/style.css
  includes/theme-compatibility/flatpro/functions.php
  includes/theme-compatibility/generatepress/assets/css/style.css
  includes/theme-compatibility/generatepress/functions.php
  includes/theme-compatibility/hello-elementor/functions.php
  includes/theme-compatibility/hestia/assets/css/style.css
  includes/theme-compatibility/oceanwp/assets/css/style.css
  includes/theme-compatibility/oceanwp/functions.php
  includes/theme-compatibility/storefront/assets/css/style.css
  includes/theme-compatibility/storefront/functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update quiz icons with improved SVG structure and styling for various question types, enhancing visual consistency and performance.
  assets/icons/quiz-essay.svg
  assets/icons/quiz-fill-in-the-blanks.svg
  assets/icons/quiz-graph.svg
  assets/icons/quiz-image-answer.svg
  assets/icons/quiz-image-matching.svg
  assets/icons/quiz-mark-in-the-image.svg
  assets/icons/quiz-multi-choice.svg
  assets/icons/quiz-ordering.svg
  assets/icons/quiz-pin.svg
  assets/icons/quiz-range.svg
  assets/icons/quiz-short-answer.svg
  assets/icons/quiz-true-false.svg
Due: none

Remove unnecessary class attribute from SVG icon rendering in attempt details view to streamline code and improve performance.
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Local variable added for editorRef.current inside useEffect
  assets/src/js/v3/shared/atoms/WPEditor.tsx
Due: eslint --fix, prettier --write

Tutor shortcode buttons removed from WPEditor
  assets/src/js/v3/shared/atoms/WPEditor.tsx
Due: eslint --fix, prettier --write

Button variants updated
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz modal style issues fixed
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/shared/components/fields/quiz/FormQuestionDescription.tsx
  assets/src/js/v3/shared/components/fields/quiz/FormQuestionTitle.tsx
Due: eslint --fix, prettier --write

tutor_button removed
  assets/src/js/v3/shared/atoms/WPEditor.tsx
  assets/src/js/v3/shared/components/fields/quiz/FormQuestionDescription.tsx
Due: eslint --fix, prettier --write

Enhancement: Refactor FormScale component to normalize scale configuration, ensuring consistent step values and improving state management for better performance and maintainability
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
Due: eslint --fix, prettier --write

DropdownFilter used instead of Nav
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: add text-transform property to button styles for theme compatibility
  includes/theme-compatibility/astra/assets/css/style.css
  includes/theme-compatibility/generatepress/assets/css/style.css
  includes/theme-compatibility/hello-elementor/assets/css/style.css
Due: none

Added new param in help_text() for showing sanitized price data
  components/InputField.php
  templates/dashboard/account/settings/withdraw.php
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Class name updated
  GDPR/Controllers/ComplianceController.php
  GDPR/Controllers/ConsentController.php
  GDPR/DB/Compliances.php
  GDPR/DB/Consents.php
  GDPR/DB/DB.php
  GDPR/GDPR.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Class files renamed
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/LegalConsentLogs.php
  GDPR/Controllers/UserConsent.php
  GDPR/DB/DB.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/UserConsents.php
  GDPR/GDPR.php
  GDPR/Models/LegalConsentLogs.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserContents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor DrawImage component to remove unnecessary useEffect hook, simplifying state management and improving performance in quiz question handling.
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
Due: eslint --fix, prettier --write

Fix: Back url with wpml and completed status card query update
  templates/account.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fillable fields updated
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/UserConsents.php
  GDPR/Models/LegalConsents.php
  GDPR/Models/UserConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: integrate Kirki plugin support and add automated installation scripts
  .gitignore
  classes/Tutor.php
  composer.json
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Legal consents creating functionalities added
  GDPR/Controllers/LegalConsent.php
  GDPR/DB/LegalConsents.php
  GDPR/DB/Logs.php
  GDPR/DB/UserConsents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Using JsonResponse trait for sending response
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

current_page removed from dropdown links
  classes/Quiz_Attempts_List.php
  components/DropdownFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Used DB transaction for storing legal consents and log data
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Empty query name after search clear fixed
  components/SearchFilter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve id duplication on getOrder return value
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
Due: eslint --fix, prettier --write

fix: Resole Preview modal overflow and svg icon size
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
Due: eslint --fix, prettier --write

fix: Text color in attempt list
  assets/src/scss/frontend/components/_quiz-attempts.scss
Due: none

feat: Use Progress component for quiz attempt
  classes/Quiz_Attempts_List.php
  components/Progress.php
  templates/shared/components/quiz/attempt-details/summary.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Use calc instead of static height
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

chore: Remove unused modal
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Reformat code
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Resolve typo in course info
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
