Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Pass and display available balance, minimum withdrawal, and selected method in the withdrawal request modal.
  templates/dashboard/account/withdrawal/withdrawal-request-modal.php
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Use `QueryHelper` for fetching withdrawal history instead of manual `wpdb` queries.
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code Refactor( Review Changes)
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed: deleted unused template
  templates/dashboard/withdraw.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

sass variables used for colors
  assets/core/scss/mixins/_cards.scss
Due: none

Support x-small progress size
  assets/core/ts/components/statics.ts
  components/Progress.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

New design implemented for profile completion
  assets/src/scss/frontend/dashboard/instructor/dashboard.scss
  classes/Utils.php
  templates/dashboard/dashboard.php
  templates/dashboard/instructor/home/profile-completion.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unused templated removed
  templates/dashboard/notifications/profile-completion.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: prevent applying empty status, date, and search filters in withdraw queries.
  models/WithdrawModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated save_course_content_order to take the order of content as parameter
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(nav): working on mobile nav
  assets/core/scss/mixins/_badges.scss
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Display rejection comments or types in withdrawal status tooltips for rejected withdrawals.
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

StatusSelect: use arrow fn and safe label
  components/StatusSelect.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): remove deprecated pin image question answer processing
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated save_course_content_order
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

check sorting_order count before
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : All announcement list was not showing.
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(fields): add small size variants for shared form controls
  assets/src/js/v3/shared/components/fields/FormInput.tsx
  assets/src/js/v3/shared/components/fields/FormInputWithContent.tsx
  assets/src/js/v3/shared/components/fields/FormInputWithPresets.tsx
  assets/src/js/v3/shared/components/fields/FormSelectInput.tsx
  stories/components/fields/FormInput.stories.tsx
  stories/components/fields/FormInputWithContent.stories.tsx
  stories/components/fields/FormInputWithPresets.stories.tsx
  stories/components/fields/FormSelectInput.stories.tsx
Due: eslint --fix, prettier --write

feat(quiz): refine compact settings inputs and attempts controls
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

Update WPEditor.php
  components/WPEditor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add form quiz layout selector for navigation display
  assets/src/js/v3/entries/course-builder/components/curriculum/FormQuizLayoutSelect.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/public/images/quiz-fullpage.svg
  assets/src/js/v3/public/images/quiz-single-question.svg
Due: eslint --fix, prettier --write

feat(quiz): revamp navigation display controls and add layout icons
  assets/icons/quiz-number.svg
  assets/icons/quiz-radio.svg
  assets/icons/quiz-shape.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): make overview sticky and dynamic
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/shared/config/styles.ts
Due: eslint --fix, prettier --write

fix(quiz): refine quiz settings overview calculations
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

get_account_page_url used from Dashboard
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Size constant used
  components/Progress.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠):Improve input handling for course-id
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(styles): adjust dashboard header layout styles
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

Design improved
  assets/src/scss/frontend/dashboard/_withdrawals.scss
  templates/dashboard/account/withdrawals.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code refactor
  templates/dashboard/announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unwanted shadow
  templates/permission-denied.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Hook: New action hook added
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: support image URLs for confirmation modal icons and handle empty icon values.
  components/ConfirmationModal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz-attempt-details): move reusable components to shared
  templates/learning-area/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/review-answers.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Missing props added
  components/Progress.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz-attempt-details): add read-only review question templates
  templates/shared/components/quiz/attempt-details/questions/fill-in-the-blank.php
  templates/shared/components/quiz/attempt-details/questions/multiple-choice.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
  templates/shared/components/quiz/attempt-details/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz-ui): style attempt review states and layouts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  assets/src/scss/frontend/learning-area/pages/_quiz-summary.scss
Due: none

refactor(quiz-questions): remove attempt-review correctness logic
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Tooltip component improved
  assets/core/scss/components/_tooltip.scss
  assets/core/ts/components/tooltip.ts
  components/Tooltip.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz-attempt-details): resolve attempt from url and harden status
  templates/learning-area/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
