Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: use static text instead of links for hidden quiz details
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Icon size fixed
  templates/dashboard/student/dashboard-empty.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Improve LegalConsent consent field style
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Add a11y to nav
  assets/core/scss/components/_nav.scss
Due: none

add id suffix to field name
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Return early if validation errors present
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Login transient added
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update toast max width
  assets/core/scss/tokens/_toast.scss
Due: none

Quiz attempt details link fixed
  assets/src/scss/frontend/components/_quiz-attempts.scss
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Update type import
  assets/core/ts/declaration.d.ts
Due: eslint --fix, prettier --write

update: moved method to quiz model
  classes/Utils.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace tutor_utils with QuizModel for question type retrieval
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add filter for question types in QuizModel
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused methods
  assets/core/ts/services/toast/Toast.ts
  assets/core/ts/services/toast/runtime.ts
  assets/core/ts/types/toast.ts
Due: eslint --fix, prettier --write

refactor: Removed actions
  assets/core/ts/services/toast/runtime.ts
  assets/core/ts/types/toast.ts
Due: eslint --fix, prettier --write

Used '%%' for literal percentage(%) sign in wp_prepare query.
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove unnecessary polished use
  assets/src/js/v3/shared/config/styles.ts
Due: eslint --fix, prettier --write

added google classroom import icon
  assets/images/import-icon.svg
Due: none

feat: add new question types to QuizModel
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Use start/end date range for quiz attempts
  classes/Quiz_Attempts_List.php
  models/QuizModel.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  views/pages/quiz_attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Resolve table column not showing
  assets/core/scss/components/_table.scss
Due: none

fix: deprecated error
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update toast width and style conflict
  assets/core/scss/components/_toast.scss
  assets/core/scss/tokens/_toast.scss
Due: none

feat: add modern mode quiz types to QuizModel
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

announcements response updated
  assets/src/js/frontend/dashboard/pages/announcements.ts
Due: eslint --fix, prettier --write

style: Update max width and close icon
  assets/core/scss/tokens/_toast.scss
  assets/core/ts/services/toast/runtime.ts
Due: eslint --fix, prettier --write

feat: Add sort import config to eslint
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

Fix: Redirecting to cart page after error
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Remove unused date param
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: active course count for instructor
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Broken lesson topic image
  assets/src/scss/frontend/learning-area/_lesson-content.scss
Due: none

fix(preview-trigger): make popover keyboard-accessible and allow link navigation
  assets/core/scss/components/_preview-trigger.scss
  assets/core/ts/components/preview-trigger.ts
  components/PreviewTrigger.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(scss): update input mixins and typography tokens
  assets/core/scss/mixins/_inputs.scss
  assets/core/scss/tokens/_typography.scss
Due: none

feat(kids-theme): add typography and update dashboard styles
  assets/src/scss/frontend/kids/_dashboard.scss
  assets/src/scss/frontend/kids/_typography.scss
  assets/src/scss/frontend/kids/index.scss
Due: none

feat(lesson-card): update upcoming lesson card styles
  assets/src/scss/frontend/components/_upcoming-lesson-card.scss
Due: none

chore(assets): update asset registration
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
