Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Refactor courses.php
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

Use constant for course status
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Chnagelog & version tag updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Space added above the onboard button
  views/onboarding.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(course-builder): reformat conditional CSS blocks and add isEdit prop to header content
  assets/src/js/v3/entries/course-builder/components/curriculum/Topic.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/TopicHeader.tsx
Due: eslint --fix, prettier --write

refactor(dashboard): add line break formatting to empty dashboard template strings
  templates/dashboard/instructor/dashboard-empty.php
  templates/dashboard/student/dashboard-empty.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(dashboard): remove max-width constraint from welcome content and add play-line-2 icon
  assets/icons/kids/play-line-2.svg
  assets/src/scss/frontend/dashboard/pages/_student-dashboard.scss
Due: none

refactor: remove conditional slug check for loading common CSS assets
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: add changelog entry for version 3.9.15 to readme
  readme.txt
Due: none

remove margin top
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
Due: eslint --fix, prettier --write

feat: add dismissible 4.0 launch offer admin notice with countdown timer
  assets/src/js/admin-dashboard/tutor-admin.js
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: internationalize error toast messages in admin dashboard script
  assets/src/js/admin-dashboard/tutor-admin.js
Due: none

refactor: update offer notice transient to version-based check and improve method documentation
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: add missing DocBlock spacing and remove commented-out code in Admin.php
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update onboarding spacing and arrow icons
  assets/src/scss/admin-dashboard/tutor-setup.scss
  views/onboarding.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(notice): correct typo in offer CTA label
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(notice): redesign offer admin notice with responsive layout and SVG assets
  assets/images/offer-notice-bg.svg
  assets/images/offer-notice-shadow.svg
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(notice): add live countdown timer for offer notice expiry
  assets/src/js/admin-dashboard/tutor-admin.js
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

feat(onboarding): add inter font, tweak onboarding UI and defaults
  assets/src/scss/admin-dashboard/tutor-setup.scss
  classes/Tutor_Setup.php
  views/onboarding.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: rename inter-font style handle to tutor-inter-font
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(notice): add responsive styles and fix dismiss button overlap
  assets/src/js/admin-dashboard/tutor-admin.js
  assets/src/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add dismiss attr
  assets/src/js/admin-dashboard/tutor-admin.js
Due: none

chore: remove setTimeout
  assets/src/js/admin-dashboard/tutor-admin.js
Due: none

feat: Make the margin rtl aware
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

feat(welcome): add milestone section with gradient counter and ratings
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update border radius for custom radio input
  assets/src/scss/admin-dashboard/v2/components/_custom-input-field.scss
Due: none

feat: Updated styles
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

style: Update styles
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

docs: Update g2 rating
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: centralize hardcoded import URL in a class constant for better maintainability
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Update text
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Update content
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Upadte padding
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Link color added
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
Due: none

Default cover photo updated
  assets/images/cover-photo-kids.webp
  assets/images/cover-photo.jpg
  assets/images/cover-photo.webp
  classes/User.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: undefined variable $form_id
  templates/ecommerce/billing.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update whats new page design
  views/pages/welcome.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
