Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update whats new padding
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
Due: none

style: Remove data attr from whats new
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: improve code readability and standardize comments in Course_List class
  classes/Course_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed unused method
  classes/Course_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: correct spelling of 'Tabs' in Course_Settings_Tabs class comment
  classes/Course_Settings_Tabs.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(course-info): replace accordion with card layout for course info
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: enhance course ID validation and improve error handling in Course class
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: correct spelling in Custom Validation trait and enforce strict comparison in validate_order method
  classes/Custom_Validation.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Deployment workflow added
  .github/workflows/demo-build-and-deploy.yml
Due: none

PHPStan workflow removed
  .github/workflows/phpstan.yml
Due: none

Fix run command issue
  .github/workflows/demo-build-and-deploy.yml
Due: none

Instructor quiz attempt list, analytics and student order invoice duplicate query fixes
  classes/Quiz_Attempts_List.php
  classes/Utils.php
  models/OrderModel.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(styles): remove dedicated resources stylesheet and consolidate
  assets/src/scss/frontend/kids/_learning-area.scss
  assets/src/scss/frontend/learning-area/pages/_index.scss
  assets/src/scss/frontend/learning-area/pages/_resources.scss
Due: none

refactor: fix typo in prepare_bulk_actions method and clean up instructors view template code
  classes/Instructors_List.php
  views/pages/instructors.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Node version updated
  .github/workflows/demo-build-and-deploy.yml
Due: none

Removed staging build & deploy
  .github/workflows/demo-build-and-deploy.yml
  .github/workflows/staging-build-and-deploy.yml
Due: none

refactor: simplify lesson detail and save AJAX handlers using response_bad_request and streamlined permission checks
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(user): fix spacing in return type declaration
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update lesson management authorization to include ID validation and standardized bad request response
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Add margin bottom to lesson content
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

refactor: clean up docblock formatting and optimize ABSTPATH check in Course class
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: enforce course enrollment validation before lesson completion and restrict get_course_id_by return type to integer
  classes/Lesson.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: tax rate duplicate query on checkout and instructor list admin page slow query
  classes/Instructors_List.php
  ecommerce/CheckoutController.php
  templates/ecommerce/checkout-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Design improved
  assets/images/vision/deuteranomaly.webp
  assets/images/vision/deuteranopia.webp
  assets/images/vision/normal.webp
  assets/images/vision/protanopia.webp
  assets/src/scss/frontend/dashboard/settings/_social-accounts.scss
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

feat(avatar): show initials placeholder while image loads
  assets/core/scss/mixins/_avatars.scss
  components/Avatar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

perf(course-card): add lazy loading to course thumbnail
  templates/dashboard/courses/course-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: improve lesson access validation and error handling using standardized methods
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

webp used instead of png
  assets/images/images-v2/default-theme/auto.png
  assets/images/images-v2/default-theme/auto.webp
  assets/images/images-v2/default-theme/dark.png
  assets/images/images-v2/default-theme/dark.webp
  assets/images/images-v2/default-theme/light.png
  assets/images/images-v2/default-theme/light.webp
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Moved color functions to utils
  classes/Assets.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update radio_horizontal_image.php
  views/options/field-types/radio_horizontal_image.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Legacy primary color support added
  classes/Assets.php
  classes/Options_V2.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz-modal): update confirmation popover with icon and clearer labels
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/shared/molecules/ConfirmationPopover.tsx
Due: eslint --fix, prettier --write

feat(progress): add hybrid animation start threshold to avoid full re-animation
  assets/core/scss/components/_progress.scss
  components/Progress.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(course-card): use Progress component for progress bar
  templates/dashboard/courses/course-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix learning area sidebar duplicate query
  classes/Template.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(account): improve cover and profile photo UX with modal preview
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/account/settings/account.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: wc block checkout page issue
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(types): improve config type definitions and assertions
  assets/core/ts/config/config.ts
  assets/core/ts/declaration.d.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/config/config.ts
Due: eslint --fix, prettier --write

Announcement notice style removed
  assets/src/scss/frontend/dashboard/_announcement-notice.scss
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
