Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

feat(quiz): align question validation and errors
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/questions/fill-in-the-blank.php
  templates/learning-area/quiz/questions/image-answering.php
  templates/learning-area/quiz/questions/matching.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/open-ended.php
  templates/learning-area/quiz/questions/ordering.php
  templates/learning-area/quiz/questions/true-false.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: streamline DrawImage component and introduce FormDrawImage
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

Add tooltips to QnA actions; update tooltip styles
  assets/core/scss/components/_tooltip.scss
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Heading added for smaller devices
  templates/dashboard/discussions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(dashboard): Use site-wide autoload setting as default for auto_play_next preference when user preference is not set, consolidate user preferences sections into single card
  templates/dashboard/account/settings/preferences.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update TutorDrawOnImage type definitions and clean up FormDrawImage component
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

feat(quiz): improve ordering defaults and submit errors
  assets/src/js/frontend/learning-area/quiz/questions/ordering.ts
  assets/src/js/frontend/learning-area/quiz/quiz.ts
Due: eslint --fix, prettier --write

feat(quiz): wire submit error toast
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance FormDrawImage component to manage image replacement and drawing state
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

Show toast on quiz form errors
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: replace tutor_dashboard_course_card_buttons with new action button function
  includes/tutor-template-functions.php
  templates/course-embed.php
  templates/dashboard/courses/course-card.php
  templates/dashboard/student-dashboard.php
  templates/loop/add-to-cart-tutor.php
  templates/loop/add-to-cart-woocommerce.php
  templates/loop/course-continue.php
  templates/loop/course-price-edd.php
  templates/loop/course-price-tutor.php
  templates/loop/course-price-woocommerce.php
  templates/loop/course-price.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

keep course loop template file as it was before
  templates/course-embed.php
  templates/loop/add-to-cart-tutor.php
  templates/loop/add-to-cart-woocommerce.php
  templates/loop/course-continue.php
  templates/loop/course-price-edd.php
  templates/loop/course-price-tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠): Wc formate issue in analytics
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

QnA Edit option added to the list
  assets/src/js/frontend/learning-area/pages/qna.ts
  templates/learning-area/subpages/qna-card.php
  templates/learning-area/subpages/qna.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Translators comment added
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): align template validation output
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/questions/image-answering.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): correct submission typings
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Fix quiz.ts typing mismatch
  assets/src/scss/frontend/components/_quiz-attempts.scss
  classes/Quiz_Attempts_List.php
  components/Constants/Positions.php
  components/Popover.php
  templates/dashboard/components/header.php
  templates/dashboard/components/quiz-attempt-row.php
  templates/dashboard/components/quiz-attempts-group.php
  templates/dashboard/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add radius and column styles to quiz
  assets/src/scss/frontend/learning-area/pages/_quiz-intro.scss
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix quiz header rendering
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/question-header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add quiz auto-start flow
  assets/src/js/frontend/learning-area/quiz/index.ts
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  templates/learning-area/quiz/content.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace course action button with hook-based rendering
  classes/Course.php
  includes/tutor-template-functions.php
  templates/dashboard/courses/course-card.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix indentation and remove unused import
  includes/tutor-template-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): handle timer expiry
  assets/core/ts/constant.ts
  assets/src/js/frontend/learning-area/quiz/timer.ts
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): wire auto-start and submit
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  templates/learning-area/quiz/content.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): normalize question index
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(quiz): tighten layout spacing
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Update quiz auto start logic
  assets/src/js/frontend/learning-area/quiz/quiz.ts
Due: eslint --fix, prettier --write

Adjust quiz abandon handling
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/frontend/learning-area/quiz/timer.ts
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add total marks to quiz summary
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Tidy quiz templates
  templates/dashboard/components/student-quiz-attempt-row.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add on_change callback support to InputField
  components/InputField.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added meet settings endpoint
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

change pre-increment to post-increment for consistency
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add pin_image question type and enhance quiz functionality
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/v3/entries/course-builder/components/curriculum/Question.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionForm.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/PinImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPinImage.tsx
  assets/src/js/v3/shared/utils/types.ts
  classes/Quiz.php
  classes/QuizBuilder.php
  models/CourseModel.php
  models/QuizModel.php
  views/quiz/attempt-details.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update question components to reflect answer save state
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write

refactor: remove unused imports from Course.php
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Wire quiz abandon request event
  assets/core/ts/constant.ts
  assets/src/js/frontend/learning-area/quiz/quiz.ts
  assets/src/js/frontend/learning-area/quiz/timer.ts
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Tidy quiz templates
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance DrawImage and FormDrawImage components for improved state management
  assets/src/js/v3/entries/course-builder/components/curriculum/question-types/DrawImage.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormDrawImage.tsx
Due: eslint --fix, prettier --write
