Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Use error message method for utils
  classes/User.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: validate enrollment status before autoloading next course content
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(tabs): Update tab content position on small screen
  assets/core/scss/components/_tabs.scss
Due: none

Changelog updated
  readme.txt
Due: none

asset(tour): Update tour assets
  assets/images/tour/tour-1-sm.webp
  assets/images/tour/tour-1.webp
  assets/images/tour/tour-2.webp
  assets/images/tour/tour-3-sm.webp
  assets/images/tour/tour-3.webp
  assets/images/tour/tour-4.webp
  assets/images/tour/tour-5-sm.webp
  assets/images/tour/tour-5.webp
Due: none

style: Fix nav overflow issue
  assets/src/scss/frontend/kids/_dashboard.scss
Due: none

refactor: Remove global quiz_attempt_allowed option
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/config/config.ts
  assets/src/js/v3/shared/config/constants.ts
  classes/Course.php
  classes/Options_V2.php
  classes/Tutor.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

RTL support added for icons
  assets/core/scss/components/_calendar.scss
  assets/core/scss/main.scss
  components/Button.php
  components/Pagination.php
  components/SvgIcon.php
  templates/account-header.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/components/header.php
  templates/dashboard/components/profile-completion.php
  templates/dashboard/components/sidebar.php
  templates/dashboard/discussions/comment-single.php
  templates/dashboard/discussions/qna-single.php
  templates/dashboard/instructor/home/upcoming-task-item.php
  templates/dashboard/student/dashboard-empty.php
  templates/learning-area/components/header.php
  templates/learning-area/index.php
  templates/learning-area/lesson/footer.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/subpages/qna/single.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Header top bar now showing when admin bar is enabled fixed
  assets/src/scss/frontend/dashboard/layout/_header.scss
Due: none

Apply user preferences only in dashboard and learning area for logged in users
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _preview-trigger.scss
  assets/core/scss/components/_preview-trigger.scss
Due: none

refactor: rename tutor setup to tutor onboarding
  assets/src/js/admin-dashboard/tutor-setup.js
  assets/src/scss/admin-dashboard/tutor-setup.scss
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix wrong average rating in wishlist courses
  templates/dashboard/wishlist/star-rating.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(avatar): Update border width for avatar
  assets/core/scss/mixins/_avatars.scss
Due: none

refactor: Revert unnecessary changes
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Rewrite loading text animation to return promises for proper async handling Remove unused tutor_setup_attributes_callback filter and related code
  assets/src/js/admin-dashboard/tutor-setup.js
  assets/src/scss/admin-dashboard/tutor-setup.scss
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace current_user_can( 'administrator' ) with User::is_admin() and add admin capability check to tutor_option_search
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: standardize admin privilege checks using User::is_admin() across settings methods
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused tutor_default_settings method and add phpcs ignore to file upload data
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Progress stroke color changed
  components/Progress.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix lesson comments error with double quotes
  templates/learning-area/lesson/comment-card.php
  templates/learning-area/lesson/comment-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Update code structure and assets url
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unused assets
  assets/images/whats-new/announcements.webp
  assets/images/whats-new/assignments.webp
  assets/images/whats-new/courses.webp
  assets/images/whats-new/dashboard-dark.webp
  assets/images/whats-new/dashboard-light.webp
  assets/images/whats-new/dashboard.webp
  assets/images/whats-new/discussions.webp
  assets/images/whats-new/graph.webp
  assets/images/whats-new/image-marking.webp
  assets/images/whats-new/learners.webp
  assets/images/whats-new/native-app-kids.webp
  assets/images/whats-new/native-app.webp
  assets/images/whats-new/navigation-bg.webp
  assets/images/whats-new/navigation.webp
  assets/images/whats-new/notes.webp
  assets/images/whats-new/ordering-bg.webp
  assets/images/whats-new/ordering.webp
  assets/images/whats-new/pin.webp
  assets/images/whats-new/puzzle.webp
  assets/images/whats-new/quiz-attempts.webp
  assets/images/whats-new/range.webp
  assets/images/whats-new/smooth-navigation-kids.webp
  assets/images/whats-new/smooth-navigation.webp
  assets/images/whats-new/whats-new-hero.webp
Due: none

feat(tutor-setup): add fade animations, error handling and localized URLs
  assets/src/js/admin-dashboard/tutor-setup.js
  assets/src/scss/admin-dashboard/tutor-setup.scss
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(build): support dot notation in prerelease version parsing
  rspack.config.mjs
Due: none

fix(tutor-setup): update welcome page admin url
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused placeholder image variables
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Loading state added to complete lesson button
  templates/learning-area/lesson/footer.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Do not display statistics to student profile
  templates/dashboard/account/profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(tutor setup): replace png hero image with webp and adjust input styles
  assets/images/tutor-onboard-hero-img.png
  assets/images/tutor-onboard-hero-img.webp
  assets/src/scss/admin-dashboard/tutor-setup.scss
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(admin-dashboard/tutor-setup): localize error messages and clean up code
  assets/src/js/admin-dashboard/tutor-setup.js
Due: none

used unified flip_rtl method and param removed
  components/Button.php
  components/SvgIcon.php
  templates/account-header.php
  templates/dashboard/account/settings/header.php
  templates/dashboard/components/header.php
  templates/dashboard/instructor/home/upcoming-task-item.php
  templates/dashboard/student/dashboard-empty.php
  templates/learning-area/components/header.php
  templates/learning-area/lesson/footer.php
  templates/learning-area/quiz/attempt.php
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: clean up onboarding and add translations
  assets/src/js/admin-dashboard/tutor-setup.js
  classes/Tutor_Setup.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added hook for wpml learning area subpage url
  classes/Template.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(onboarding): restructure onboarding setup
  assets/images/greeting-img.png
  assets/images/setup/background-shape.png
  assets/images/setup/individual.svg
  assets/images/setup/marketplace.svg
  assets/images/setup/welcome-to-tutor-lms.png
  assets/src/js/admin-dashboard/tutor-setup.js
  classes/Tutor_Setup.php
  views/onboarding.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add whats new page redirection
  classes/WhatsNew.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update action button url
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update background image
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
Due: none

refactor: Remove redundant method
  classes/WhatsNew.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update icon position
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
