Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Used httphelper for paypal
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Helper.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Extra Meta data added for payment gateway
  ecommerce/CheckoutController.php
  ecommerce/PaymentGateways/Paypal/src/Core/Support/System.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

condition added for invalid order id.
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Put and Patch function added
  ecommerce/PaymentGateways/Paypal/src/Core/Support/System.php
  helpers/HttpHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Always load legacy scripts in admin
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

User capability added before generating pages
  classes/Tools.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(course-builder): update quiz negative marking settings and mismatch notice condition
  assets/src/js/v3/entries/course-builder/components/curriculum/NegativeMarkTypeMismatchNotice.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

Simplified req and response
  ecommerce/PaymentGateways/Configs/PaymentUrlsTrait.php
  ecommerce/PaymentGateways/Paypal/src/Core/Support/System.php
  helpers/HttpHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(restapi): update permission callbacks for enhanced access control
  classes/RestAPI.php
  restapi/REST_Author.php
  restapi/REST_Course.php
  restapi/REST_Lesson.php
  restapi/REST_Posts.php
  restapi/REST_Rating.php
  restapi/REST_Topic.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Warning message fix
  helpers/HttpHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add full support for v4 design system in registration forms
  assets/core/scss/components/_feature-disabled.scss
  assets/core/scss/components/_index.scss
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(quiz): Update input label
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

version tag added
  helpers/HttpHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance API permission handling in RestAuth
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor permission handling in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(payment): harden payment field validation patterns
  assets/src/js/v3/shared/utils/validation.ts
Due: eslint --fix, prettier --write

$this->json_response used instead of wp_send_json
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/frontend/learning-area/quiz/layout.ts
  classes/Quiz.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Unnecessary authentication check removed
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix quiz attempt JS escaping
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(views): audit and remediate security issues in elements and fragments
  bin/security-audit-baseline.txt
  bin/security-audit.jq
  bin/security-audit.sh
  phpcs.xml.dist
  views/elements/bulk-confirm-popup.php
  views/elements/common-confirm-popup.php
  views/elements/create-course-empty-state.php
  views/elements/filters.php
  views/elements/list-empty-state.php
  views/elements/list-filters.php
  views/elements/list-navbar.php
  views/elements/navbar.php
  views/elements/pagination.php
  views/elements/purchase-history-filter.php
  views/elements/search-filter.php
  views/elements/trashed-course-empty-state.php
  views/fragments/announcement-list.php
  views/fragments/attachments.php
  views/fragments/quiz-list-single.php
  views/fragments/thumbnail-uploader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Security] GDPR security issue fixes
  GDPR/Controllers/UserConsent.php
  assets/src/js/admin-dashboard/segments/consent-logs.js
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

Improve error handling in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Added csv injection sanitization method
  GDPR/Controllers/UserConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(filters): add deprecation tag and fix loose comparison
  views/elements/filters.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(elements): Use previous doc block
  views/elements/pagination.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

misc/fixes
  GDPR/Controllers/LegalConsent.php
  GDPR/Controllers/UserConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Made separate class for Http request and helper function.
  ecommerce/PaymentGateways/Http.php
  ecommerce/PaymentGateways/Paypal/src/Core/Support/System.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Helper.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
  ecommerce/PaymentGateways/Utils.php
  helpers/HttpHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated abspath check to use shorthand syntax
  models/CourseModel.php
  models/EnrollmentModel.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed unused code from paypal
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Helper.php
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Paypal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated abspath check to use shorthand syntax
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor REST API response handling across multiple classes
  restapi/REST_Author.php
  restapi/REST_Course.php
  restapi/REST_Course_Announcement.php
  restapi/REST_Lesson.php
  restapi/REST_Quiz.php
  restapi/REST_Rating.php
  restapi/REST_Response.php
  restapi/REST_Topic.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Persist verified answers and restore reveal state on reload
  assets/src/js/front/course/_spotlight-quiz.js
  assets/src/js/frontend/learning-area/quiz/layout.ts
  classes/Quiz.php
  classes/Utils.php
  models/QuizModel.php
  templates/learning-area/quiz/attempt.php
  templates/learning-area/quiz/question.php
  templates/learning-area/quiz/questions/multiple-choice.php
  templates/learning-area/quiz/questions/true-false.php
  templates/single/quiz/body.php
  templates/single/quiz/parts/choice-box.php
  templates/single/quiz/parts/meta.php
  templates/single/quiz/parts/question.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add native WordPress Abilities API support
  classes/Abilities.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Initialize Tutor LMS abilities
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Test Tutor LMS abilities integration
  tests/phpunit/AbilitiesTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): Allow skipping reveal wait timer on user navigation in legacy mode
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

fix(quiz): Add loading spinner to buttons during answer verification in legacy mode
  assets/src/js/front/course/_spotlight-quiz.js
Due: none

Resolve warning message
  ecommerce/PaymentGateways/Paypal/src/Payments/Paypal/Api.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
