Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactored
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fixed the back URL
  templates/dashboard-isolated.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactored the get_total_course_duration method
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix some formatting
  classes/Course.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Total min and total second calculation.
  classes/Course.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added OnFileRemove method in FileUploader
  assets/core/ts/components/file-uploader.ts
  assets/src/js/v3/shared/utils/endpoints.ts
  assets/src/scss/frontend/learning-area/components/_assignment.scss
  components/FileUploader.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

commented code removed
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Loading spinner in lesson video fixed
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/learning-area/lesson/player.ts
  assets/src/scss/frontend/learning-area/_lesson-content.scss
Due: eslint --fix, prettier --write

refactor: Add 3 digit hex support to hexToRgba
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
Due: eslint --fix, prettier --write

feat: Add instructor check for retry button
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Sortable section label will not show if data is empty
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Course info and learning area layout fixed
  assets/src/scss/frontend/learning-area/_lesson-content.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  assets/src/scss/frontend/learning-area/pages/_course-info.scss
  templates/learning-area/index.php
  templates/learning-area/subpages/course-info.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

multiple design issues fixed
  assets/src/scss/frontend/learning-area/pages/_resources.scss
  templates/dashboard/discussions.php
  templates/learning-area/subpages/announcements.php
  templates/learning-area/subpages/qna.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: update jigsaw quiz component to support new grid size options and adjust default piece count
  assets/src/js/v3/shared/components/fields/quiz/questions/FormJigsaw.tsx
Due: eslint --fix, prettier --write

Reset password modal style fixed
  templates/dashboard/account/settings/reset-password-modal.php
  templates/dashboard/account/settings/security.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update _progress-card.scss
  assets/src/scss/frontend/dashboard/_progress-card.scss
Due: none

Fix(🛠): Upcoming class showing for instructor without assigned course.
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code format
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Exercise files tab added on the lesson section
  assets/src/scss/frontend/learning-area/_index.scss
  assets/src/scss/frontend/learning-area/_lesson-exercise.scss
  classes/Lesson.php
  templates/learning-area/lesson/exercise-files.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Enhance certificate button hover effect and adjust constant alignment in Dashboard class
  assets/src/scss/frontend/dashboard/_certificates.scss
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Code formate
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: adjust notification toggle icon rotation
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

Sidebar divider added
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
Due: none

feat(styles): add 3xl breakpoint and frontend layout mixin
  assets/core/scss/mixins/_layout.scss
  assets/core/scss/tokens/_breakpoints.scss
Due: none

refactor(styles): use shared frontend layout mixin
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
Due: none

fix(styles): tweak instructor dashboard action spacing
  assets/src/scss/frontend/dashboard/instructor/dashboard.scss
Due: none

feat: Introduce an editable flag to conditionally render the toggle switch button.
  views/options/field-types/toggle_switch_button.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Header design fixed
  assets/src/scss/frontend/dashboard/layout/_header.scss
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(styles): use shared layout mixin for quiz UI
  assets/src/scss/frontend/components/_quiz-question.scss
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

Duplicate design removed
  assets/src/scss/frontend/learning-area/pages/_certificate.scss
Due: none

Reviews added on the learning area
  assets/src/scss/frontend/learning-area/_index.scss
  assets/src/scss/frontend/learning-area/_reviews.scss
  classes/Reviews.php
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(form): keep single checkbox boolean
  assets/core/ts/components/form.ts
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
Due: eslint --fix, prettier --write

fix: Add x-cloak to x-show
  templates/dashboard/instructor/home.php
  templates/dashboard/instructor/home/overview-chart.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Review time diff added
  templates/learning-area/subpages/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Undefined array key PHP error fixed
  components/Nav.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(styles): add success button variant
  assets/core/scss/mixins/_buttons.scss
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_buttons.scss
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

fix: correct icon rotation in profile settings
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

Keep first topic expanded when in subpages
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix rotation
  assets/src/scss/frontend/dashboard/settings/_profile.scss
Due: none

fix mobile profile missing issue
  templates/dashboard/components/sidebar-nav-mobile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
