Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix: security issue fix for quiz update
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Error due to quiz feedback being null
  templates/dashboard/quiz-attempts/quiz-reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

duplicate queries for instructor home page
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Check login cookie before usage
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: create and reply lesson comment security issue
  classes/Lesson.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Appearance settings option added
  assets/images/images-v2/default-theme/dark.svg
  assets/images/images-v2/default-theme/light.svg
  assets/images/images-v2/learning-mode/kids.svg
  assets/images/images-v2/learning-mode/legacy.svg
  assets/images/images-v2/learning-mode/modern.svg
  assets/src/scss/admin-dashboard/v2/components/_custom-input-field.scss
  classes/Options_V2.php
  v2-library/src/scss/mixins/_svg-icons-static.scss
  views/options/field-types/color_field.php
  views/options/field-types/radio_horizontal_image.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "Check login cookie before usage"
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: update version to 3.9.13 and patch multiple security vulnerabilities
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed unused code
  assets/react/v3/shared/utils/localStorage.ts
Due: eslint --fix, prettier --write

cs fix and consistent permission checking added
  classes/Addons.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated get_course_price is getting called two times
  models/CourseModel.php
  templates/dashboard/components/header.php
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(whats-new): add v4 menu item and page handler method
  classes/WhatsNew.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(whats-new): add v4 what's new view template
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(whats-new): add v4 feature showcase images
  assets/images/whats-new/announcements.webp
  assets/images/whats-new/assignments.webp
  assets/images/whats-new/courses.webp
  assets/images/whats-new/dashboard-dark.webp
  assets/images/whats-new/dashboard-light.webp
  assets/images/whats-new/dashboard.webp
  assets/images/whats-new/discussions.webp
  assets/images/whats-new/graph.webp
  assets/images/whats-new/image-marking.webp
  assets/images/whats-new/learners.webp
  assets/images/whats-new/native-app-kids.webp
  assets/images/whats-new/native-app.webp
  assets/images/whats-new/navigation-bg.webp
  assets/images/whats-new/navigation.webp
  assets/images/whats-new/notes.webp
  assets/images/whats-new/ordering-bg.webp
  assets/images/whats-new/ordering.webp
  assets/images/whats-new/pin.webp
  assets/images/whats-new/puzzle.webp
  assets/images/whats-new/quiz-attempts.webp
  assets/images/whats-new/range.webp
  assets/images/whats-new/smooth-navigation-kids.webp
  assets/images/whats-new/smooth-navigation.webp
  assets/images/whats-new/whats-new-hero.webp
Due: none

feat(whats-new): add v4 styles and wire up import
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
  assets/src/scss/admin-dashboard/index.scss
Due: none

student dashboard area duplicate query fixes
  classes/Utils.php
  templates/dashboard/student/dashboard.php
  templates/dashboard/student/stats.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: streamline ABSPATH check in Admin and Ajax classes
  classes/Admin.php
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update the comparison card shadow
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
Due: none

Color palette generation from brand color added
  classes/Assets.php
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update top for the shadow
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
Due: none

Duplicate assignment to window removed
  assets/core/ts/index.ts
Due: eslint --fix, prettier --write

feat: Add upgrader action
  classes/WhatsNew.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

auto option added to default theme
  assets/images/images-v2/default-theme/auto.png
  assets/images/images-v2/default-theme/dark.png
  assets/images/images-v2/default-theme/dark.svg
  assets/images/images-v2/default-theme/light.png
  assets/images/images-v2/default-theme/light.svg
  assets/src/scss/admin-dashboard/v2/components/_custom-input-field.scss
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Update action buttons gap
  components/ConfirmationModal.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update login transient expiration and standardize nonce verification in Ajax handler
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Remove margin from profile bio
  assets/src/scss/frontend/dashboard/_profile.scss
Due: none

Reset option added for appearance settings
  assets/src/js/admin-dashboard/segments/reset.js
Due: none

Prevent variable override of brand color not changed
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security Fix: Prevent arbitrary access to course content
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Updated user preference according to admin settings
  classes/Options_V2.php
  classes/UserPreference.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: restrict lesson completion tracking to enrolled users and remove redundant nopriv video playback action
  assets/react/front/tutor-front.js
  classes/Ajax.php
  templates/single/lesson/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: correct spelling of announcement in Ajax class methods
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: implement tablet responsive design
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
  views/pages/whats-new-in-v4.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: improve code readability by standardizing comments and formatting in Announcements class
  classes/Announcements.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Brand color support added for legacy pages
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: Implement mobile responsive design
  assets/src/scss/admin-dashboard/_whats-new-v4.scss
Due: none

fix: standardize comments and improve code readability in Course_Filter class
  classes/Course_Filter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Do not override variables if color not changed
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Legacy color settings removed
  assets/src/js/admin-dashboard/segments/reset.js
  classes/Options_V2.php
  classes/Tutor.php
  views/options/template/color_picker.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

css variable used for brand colors
  assets/core/scss/tokens/_colors.scss
  classes/Assets.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
