Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Layout shift on hover fixed
  assets/src/scss/frontend/dashboard/pages/_instructor-dashboard.scss
  templates/dashboard/instructor/home/upcoming-task-item.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Position updated for free version
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz attempt style fixed
  assets/src/scss/frontend/components/_quiz-attempts.scss
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Pagination style fixed across pages
  assets/src/scss/frontend/components/_quiz-attempts.scss
  assets/src/scss/frontend/dashboard/pages/_courses.scss
  templates/dashboard/courses.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
  templates/dashboard/wishlist.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: filter quiz attempt details for reviewed skipped answers
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: wrong status count for date range
  classes/WooCommerce.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Dashboard logo style improved
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  templates/dashboard/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: make quiz timer frame adaptive
  assets/src/js/frontend/learning-area/quiz/timer.ts
  assets/src/scss/frontend/learning-area/_quiz.scss
  templates/learning-area/quiz/progress-bar.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: restrict billing menu to students
  classes/Dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Transition issue fixed
  assets/core/scss/main.scss
  assets/core/scss/mixins/_buttons.scss
Due: none

fix: set quiz modal pagination defaults
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

fix: stabilize quiz settings row heights
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

refactor: comment out subscription-history module in dashboard styles
  assets/src/scss/frontend/dashboard/_index.scss
Due: none

Fix: User can purchase unpublished courses
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Responsive design fixed
  assets/src/scss/frontend/dashboard/pages/_instructor-dashboard.scss
  templates/dashboard/instructor/home/course-completion-chart.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Duplicate foreach loop merged
  templates/dashboard/account/reviews.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix quiz settings normalization and UI visibility
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  classes/Quiz.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix: adjust quiz timeout modal for auto abandon
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update checkout error message content
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: allow quiz submit after reveal timeout
  classes/Quiz.php
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: increase quiz action button specificity
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

Misc fixes
  templates/dashboard/courses/course-card.php
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: name async chunks with tutor prefixes
  assets/core/ts/index.ts
  rspack.config.mjs
Due: eslint --fix, prettier --write

Refactor route preload for core packs
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/route-preload.ts
Due: eslint --fix, prettier --write

Fix: Show earned grade only if there is an attempt
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: adjust dashboard chart tooltip positioning
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
Due: eslint --fix, prettier --write

mintue value added to card if time spent is less than hour.
  templates/dashboard/student-dashboard.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Stat cards responsive design fixed
  assets/src/scss/frontend/dashboard/_stat-card.scss
  assets/src/scss/frontend/dashboard/pages/_instructor-dashboard.scss
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Release date updated
  readme.txt
Due: none

Updated logic for course buy and plan buy
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: hoist back_url generation to account template and inject via template arguments
  templates/account.php
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

made the multiline code into one line
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add back_url support to edit profile link and implement secure dashboard URL filtering
  classes/Dashboard.php
  templates/user-profile.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

updated hook name
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Account pages layout and header style unified
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  assets/src/scss/frontend/dashboard/layout/_profile-pages.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  templates/account-header.php
  templates/dashboard/account/settings.php
  templates/dashboard/account/settings/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: implement reusable Alpine.js ReadMore component and replace legacy bio toggle implementation
  assets/core/ts/components/read-more.ts
  assets/core/ts/index.ts
  assets/src/scss/frontend/components/_discussion-card.scss
  assets/src/scss/frontend/dashboard/_profile.scss
  templates/user-profile.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

update error message for add to cart
  ecommerce/CartController.php
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove resize and mutation observers from read-more component
  assets/core/ts/components/read-more.ts
Due: eslint --fix, prettier --write

refactor: update deleteZoomMeeting mutation to use TutorMutationResponse and refine success toast logic
  assets/src/js/v3/entries/course-builder/services/course.ts
Due: eslint --fix, prettier --write

Preview trigger design fixed in quiz overview
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
