Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Correct login_form_middle filter parameter type
  templates/login-form-legacy.php
  templates/login-form.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Quiz answer image_id empty string causes insertion failure on MariaDB
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

Fix: Switching language throws error on translated courses dashboard
  classes/Utils.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: Update since tag
  assets/src/js/admin-dashboard/segments/options.js
  includes/tutor-general-functions.php
  templates/learning-area/index.php
  templates/shared/brand-logo.php
  views/options/field-types/image_upload_list.php
  views/options/field-types/toggle_matrix.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: One instructor can read private post from other instructor
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

stye(assignments): Update assignment styles
  assets/src/scss/frontend/kids/_learning-area.scss
Due: none

refactor: Use ignore-kids to resolve unintentional icon changes
  views/options/field-types/image_upload_list.php
  views/options/field-types/toggle_matrix.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

FF Fix(🛠) : Lesson auto-completion not triggering completion email
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Arbitary template load and callable function execution issue resolved
  classes/Course_Filter.php
  includes/tutor-template-functions.php
  templates/archive-course.php
  templates/single-content-loader.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Unauthenticated SQL injection via the question and answer listing
  classes/Utils.php
  templates/dashboard/discussions/qna-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

'tutor_lesson_completed_after' removed this hook
  classes/Ajax.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Arbitary file path setting issue fixed
  classes/Course.php
  classes/Lesson.php
  classes/Utils.php
  classes/Video_Stream.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(brand-logo): migrate course builder logo to light brand logo setting
  assets/core/ts/config/config.ts
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/components/Logo.tsx
  assets/src/js/v3/shared/config/config.ts
  classes/Course.php
  classes/Options_V2.php
  templates/shared/brand-logo.php
  views/options/field-types/image_upload_list.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(settings): reset image_upload_list and toggle_matrix fields
  assets/src/js/admin-dashboard/segments/reset.js
Due: none

style(admin): hide isolated course details wrappers when options disabled
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

refactor(page-elements): migrate spotlight mode to per-shell visibility
  templates/dashboard.php
  templates/dashboard/components/sidebar.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: add project context glossary and learning-area ADR
  CONTEXT.md
  docs/adr/0001-learning-area-theme-shell-layout.md
Due: prettier --write

feat(learning-area): wrap quiz attempt and details in site shell
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(learning-area): track site-header overlay offset for quiz layout
  assets/src/js/frontend/learning-area/site-shell.ts
  assets/src/scss/frontend/learning-area/layout/_layout.scss
Due: eslint --fix, prettier --write

style(learning-area): bound quiz and summary layout to theme shell
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

refactor(dashboard): move mobile nav into dashboard layout flow
  assets/src/scss/frontend/dashboard/layout/_layout.scss
  assets/src/scss/frontend/dashboard/layout/_nav-mobile.scss
  templates/dashboard.php
  templates/dashboard/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Improve: Improved the filter_video_meta method
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

WP_TESTS_DIR example path added
  .env.example
Due: none

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): expose question index on pagination items
  assets/src/js/frontend/learning-area/quiz/constants.ts
  templates/learning-area/quiz/attempt.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add pagination scroll state and auto-scroll to active question
  assets/src/js/frontend/learning-area/quiz/layout.ts
Due: eslint --fix, prettier --write

style(quiz): support horizontal scroll with edge fades on pagination
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: none

refactor(template): centralize site-shell data resolution
  classes/Template.php
  templates/account.php
  templates/dashboard-isolated.php
  templates/dashboard.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(dashboard): apply site-shell offset controller to dashboard layouts
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/site-shell.ts
Due: eslint --fix, prettier --write

style(dashboard): offset dashboard layout beneath theme header in site shell
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
Due: none

fix(quiz): bound quiz summary within site shell and reserve header overlay offset
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/learning-area/layout/_layout.scss
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(logo): use site title as logo alt text
  assets/src/js/v3/shared/components/Logo.tsx
Due: eslint --fix, prettier --write

refactor(site-shell): move site-shell controller to frontend services
  assets/src/js/frontend/dashboard/index.ts
  assets/src/js/frontend/learning-area/index.ts
  assets/src/js/frontend/services/site-shell.ts
Due: eslint --fix, prettier --write

style: Remove unwanted scss
  assets/src/scss/admin-dashboard/_tutor-admin.scss
Due: none

fix(qna): Add proper closest wrapper
  assets/src/js/v2/qna.js
Due: none

fix(qna): Remove vanilla js use inside jQuery
  assets/src/js/v2/qna.js
Due: none

docs(quiz): Add missing translation
  assets/src/js/frontend/learning-area/quiz/constants.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
