Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Ajax action updated
  assets/src/js/admin-dashboard/segments/students.js
Due: none

Added 'tutor-my-none' class to header titles in learning area components for consistent styling.
  templates/learning-area/components/header.php
  templates/learning-area/components/sidebar.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove deprecated signup/signin constants
  GDPR/Controllers/LegalConsent.php
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: resolve button loading state persistence
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

feat: Add courses page styles and update dashboard courses layout
  assets/src/scss/frontend/dashboard/_index.scss
  assets/src/scss/frontend/dashboard/pages/_courses.scss
  assets/src/scss/frontend/kids/_dashboard.scss
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Added 'tutor-my-none' class to the courses header for improved styling consistency in the dashboard.
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove commented code for background color adjustment on small screens in courses SCSS
  assets/src/scss/frontend/dashboard/pages/_courses.scss
Due: none

fix: Correct class name for courses tab in SCSS and PHP files
  assets/src/scss/frontend/dashboard/pages/_courses.scss
  templates/dashboard/courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Get param course removed from the get_course_id_by method
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(gdpr): render legal consent on instructor and checkout flows
  GDPR/Controllers/LegalConsent.php
  classes/Instructor.php
  ecommerce/CheckoutController.php
  templates/dashboard/instructor/registration.php
  templates/ecommerce/checkout.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(gdpr): populate consent log timeline metadata
  GDPR/Controllers/UserConsent.php
  assets/src/js/admin-dashboard/segments/students.js
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(admin): restore settings save button outside legal consents
  assets/src/js/admin-dashboard/segments/legal-consents.js
Due: none

chore: Remove unused comment
  assets/src/js/admin-dashboard/segments/students.js
Due: none

chore: remove legacy tutor-droip and tutor-kirki directories from gitignore and build exclusion list
  .gitignore
  gulpfile.mjs
Due: none

Refactor: keep header as it was previously
  templates/dashboard/components/header.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update where clause
  GDPR/Controllers/LegalConsent.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update default consent
  assets/src/js/admin-dashboard/segments/legal-consents.js
  views/options/template/legal_consents.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

Remove unused styles for specific question layouts in quiz component SCSS, streamlining the code and improving maintainability.
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

refactor: remove template import functionality and related assets
  assets/react/admin-dashboard/template-import-script.js
  assets/scss/admin-dashboard/template-import.scss
  classes/Admin.php
  classes/Assets.php
  composer.json
  composer.lock
  rspack.config.mjs
  template-import/TemplateImportInit.php
  template-import/TemplateImporter.php
  views/template-import/templates-list.php
  views/template-import/templates.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove template import initialization from Tutor class
  classes/Tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(gdpr): simplify accepted consent log export
  assets/src/js/admin-dashboard/segments/students.js
Due: none

chore: update composer.lock for dependency version changes and remove unused imports in Tutor class
  classes/Tutor.php
  composer.lock
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(gdpr): persist instructor and checkout consent
  GDPR/Controllers/UserConsent.php
  classes/Instructor.php
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix(🛠) : Upcoming coupon is showing expired on coupon list.
  ecommerce/CouponController.php
  includes/translate-text.php
  models/CouponModel.php
  views/pages/ecommerce/coupon-list.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update pagination styles
  assets/src/scss/frontend/learning-area/components/quiz/_quiz.scss
Due: none

fix: Use quiz answers_reveal_duration
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: Remove unused echo
  templates/learning-area/quiz/attempt.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Set default value on toggle
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

feat: Toast initial structure
  assets/core/scss/components/_toast.scss
  assets/core/ts/components/toast.ts
  assets/core/ts/services/Toast.ts
  assets/core/ts/types/toast.ts
  assets/src/js/v3/entries/addon-list/components/App.tsx
  assets/src/js/v3/entries/coupon-details/components/App.tsx
  assets/src/js/v3/entries/course-builder/components/App.tsx
  assets/src/js/v3/shared/atoms/Toast.tsx
Due: eslint --fix, prettier --write

fix: enrollment is active even EDD order is get cancelled or refunded.
  classes/TutorEDD.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: edd clause added enrollment order check
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

new: enrollment model added
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add new SVG icons for graph markers and unit indicators, enhancing visual representation in quiz components. Update SVGIcon utility to support dynamic icon naming conventions.
  assets/icons/graph-marker-hover.svg
  assets/icons/graph-marker-selected.svg
  assets/icons/graph-marker-wrong.svg
  assets/icons/unit-10.svg
  assets/icons/unit-20.svg
  assets/src/js/v3/shared/atoms/SVGIcon.tsx
  assets/src/js/v3/shared/components/fields/FormSelectInput.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

update: methods moved to enrollment model and ref updated
  classes/Utils.php
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: used constant instead of hardcoded string
  models/EnrollmentModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update toast styles
  assets/core/scss/components/_toast.scss
  assets/core/ts/services/Toast.ts
  assets/src/js/v3/shared/atoms/Toast.tsx
  classes/Course.php
  stories/atoms/Toast.stories.tsx
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: replace hardcoded meta keys and legacy utility methods with EnrollmentModel constants and methods in TutorEDD
  classes/TutorEDD.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove unused complete_course_enroll method from Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
