Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

fix(site-shell): handle transparent and sticky headers and prevent mobile offscreen overflow
  assets/src/js/frontend/services/site-shell.ts
Due: eslint --fix, prettier --write

changes added for testing. will be removed later
  classes/Tutor.php
  ecommerce/CheckoutController.php
  includes/tutor-general-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(learning-area): remove redundant quiz top padding and clean up site-shell offsets
  assets/src/js/frontend/services/site-shell.ts
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_header.scss
  assets/src/scss/frontend/dashboard/layout/_profile-header.scss
  assets/src/scss/frontend/dashboard/layout/_sidebar.scss
  assets/src/scss/frontend/learning-area/_quiz.scss
Due: eslint --fix, prettier --write

fix(site-shell): align site-shell controller with dev structure and improve boundary tracking
  assets/src/js/frontend/services/site-shell.ts
  assets/src/scss/frontend/dashboard/layout/_account.scss
  assets/src/scss/frontend/dashboard/layout/_layout.scss
Due: eslint --fix, prettier --write

fix(site-shell): attach scroll listener conditionally when admin bar or sticky header is present
  assets/src/js/frontend/services/site-shell.ts
Due: eslint --fix, prettier --write

removed hook and added instructor capability migrator
  classes/Instructor.php
  migrations/InstructorCapabilityMigrator.php
  migrations/Migration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update: Showing course completion rate for the courses that belongs to the current user
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

added instructor status approval check
  migrations/InstructorCapabilityMigrator.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

removed meta check
  migrations/InstructorCapabilityMigrator.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): ensure quiz summary total marks uses get_quiz_total_marks
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Fix the security vulnerability on the api_auth method
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Agent skills added
  .agent/skills/core-development-skill/SKILL.md
  .agent/skills/wpcs-security-skill/SKILL.md
Due: prettier --write

feat: add API documentation collection using Bruno for Tutor LMS endpoints
  .gitignore
  docs/api/Courses/course-announcement-{id}.bru
  docs/api/Courses/course-contents-{id}.bru
  docs/api/Courses/course-rating-{id}.bru
  docs/api/Courses/courses-{id}.bru
  docs/api/Courses/courses.bru
  docs/api/Courses/folder.bru
  docs/api/Curriculum/folder.bru
  docs/api/Curriculum/lessons.bru
  docs/api/Curriculum/topics.bru
  docs/api/Ecommerce & Webhooks/ecommerce-webhook-{payment-method}.bru
  docs/api/Ecommerce & Webhooks/folder.bru
  docs/api/Instructors/author-information-{id}.bru
  docs/api/Instructors/folder.bru
  docs/api/Quizzes/folder.bru
  docs/api/Quizzes/quiz-attempt-details-{id}.bru
  docs/api/Quizzes/quiz-question-answer-{id}.bru
  docs/api/Quizzes/quizzes-{id}.bru
  docs/api/Quizzes/quizzes.bru
  docs/api/README.md
  docs/api/bruno.json
  docs/api/environments/local.bru.example
  docs/api/environments/production.bru
Due: prettier --write

chore: exclude docs directory from gulp build process
  gulpfile.mjs
Due: none

Fix: Security issues on the course content order
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Test: Unit test added for this method: validate_course_content_order
  GDPR/DB/LegalConsents.php
  GDPR/DB/Logs.php
  GDPR/DB/UserConsents.php
  classes/Tutor.php
  phpunit.xml.dist
  tests/bootstrap.php
  tests/phpunit/CourseTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

scroll to course tab without js
  assets/src/js/front/pages/course-landing.js
  templates/dashboard/discussions/qna-single.php
  templates/single-course.php
  templates/single/course/enrolled/nav.php
  v2-library/src/scss/components/_course-details-elements.scss
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update YouTube API key description and placeholder text for clarity in Options_V2.php
  classes/Options_V2.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(button): add focus ring to legacy button to match v4
  classes/Options_V2.php
  v2-library/src/scss/elements/_buttons.scss
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refatored the code
  classes/Course.php
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security Fix: Any logged in user can fetch lesson comments
  classes/Lesson.php
  templates/learning-area/lesson/comments.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Unused variable removed
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

validate_course_content_order test methods updated
  tests/phpunit/CourseTest.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Validate before using save_course_content_order
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Removed logging exception error
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(button): Update focus ring
  v2-library/src/scss/elements/_buttons.scss
Due: none

Update label and help text for puzzle answer background toggle in FormPuzzle component
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

Changelog updated
  readme.txt
Due: none

fix(quiz-attempt): Add missing div in my quiz attempts
  templates/dashboard/my-quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(question-preview): Enhance mobile styling for pin image questions and improve accessibility
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PinImagePreview.tsx
Due: eslint --fix, prettier --write

fix(pin-image-preview): Add handle element for improved pin image marker accessibility
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PinImagePreview.tsx
Due: eslint --fix, prettier --write

fix(q&a): Assign question id correctly
  templates/dashboard/discussions/qna-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(quiz): Add context, task and specs markdown
  CONTEXT.md
  docs/spec.md
  task.md
Due: prettier --write

fix(quiz): decouple free version from tutor-pro dependency
  assets/core/ts/declaration.d.ts
  assets/src/js/v3/shared/hooks/useDrawOnImageField.ts
  eslint.config.mjs
  rspack.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

Security Fix: Arbitrary Post Deletion via 'lesson_id' Parameter
  classes/Course.php
  classes/Lesson.php
  classes/User.php
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: update @since tags from 4.0.8 to 4.1.0
  classes/DashboardSectionManager.php
  classes/InstructorMetricsAdapter.php
  components/DateFilter.php
  components/Skeleton.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove the inline presetLabels object in applyPreset() and use the existing PRESET_LABELS
  assets/core/ts/components/calendar.ts
Due: eslint --fix, prettier --write

Security Fix: Fixed Cross-Site Scripting via 'redirect_url' Parameter
  assets/src/js/v3/entries/order-details/components/layout/Topbar.tsx
Due: eslint --fix, prettier --write

fix(my-courses): Add nonce value for course duplication action
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Security Fix: Multiple XSS security issues have been fixed
  classes/Dashboard.php
  templates/dashboard/account/settings.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
