Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: An instructor update another instructor course
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): drop Pro-owned partial constant and tidy quiz summary labels
  assets/src/js/v2/quiz-attempt.js
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/config/config.ts
  assets/src/js/v3/shared/config/constants.ts
  classes/Quiz.php
  classes/Quiz_Attempts_List.php
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

chore(quiz): update version annotations for quiz methods to reflect changes in version 4.1.0
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore: update version to 4.1.0 in readme and main plugin file
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Resolved PR reviews
  assets/src/js/v3/shared/components/modals/SetupOpenAiModal.tsx
Due: eslint --fix, prettier --write

Add WordPress editor UI dependencies
  package.json
  pnpm-lock.yaml
Due: none

Update version annotation for fullscreen utility function in Plyr video player
  assets/core/ts/utils/player-fullscreen.ts
Due: eslint --fix, prettier --write

Fix: SQL injection and placeholder injection in instructor list and course queries
  classes/Instructors_List.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Image response format error
  assets/src/js/v3/shared/components/magic-ai-image/ImageGeneration.tsx
  assets/src/js/v3/shared/services/magic-ai.ts
  assets/src/js/v3/shared/utils/magic-ai.ts
Due: eslint --fix, prettier --write

Refactor: Use QueryHelper get_valid_sort_order and prepare_in_clause in Utils
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Use QueryHelper get_valid_sort_order and prepare_in_clause in QuizModel
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor: Use QueryHelper get_valid_sort_order in Instructors_List and CourseModel
  classes/Instructors_List.php
  models/CourseModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(utils): Update `get_students_data_by_course_id` and add filter hook
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(skeleton): Add background color to table skeleton
  components/Skeleton.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(icons): Add kids mode icon
  assets/icons/kids/minus-circle.svg
  assets/icons/kids/partial.svg
Due: none

Fix YouTube focus and fullscreen class for player
  assets/core/ts/components/player.ts
  assets/src/js/frontend/learning-area/lesson/player.ts
Due: eslint --fix, prettier --write

refactor(quiz): Update quiz default value and validation
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/components/fields/FormInputWithContent.tsx
Due: eslint --fix, prettier --write

Fix: SQL injection, placeholder injection, and parameter handling in reviews, Q&A, and orders
  classes/Utils.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

AI connector warning modal content updated
  assets/src/js/v3/shared/components/modals/SetupOpenAiModal.tsx
Due: eslint --fix, prettier --write

fix(quiz): ensure attempt earned marks floor at zero on submission
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Optimization] Instructor list query
  classes/Instructors_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Optimization] Quiz attempt nav data query
  classes/Quiz_Attempts_List.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(auth): add REST API routes for login, refresh, and logout
  classes/RestAPI.php
  restapi/REST_Author.php
  restapi/REST_Course.php
  restapi/REST_Quiz.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Optimization] Several Frontend pages query cached
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): enhance API key permission handling in RestAuth class
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Optimization] Order title query and tax rate query
  ecommerce/CheckoutController.php
  models/OrderModel.php
  templates/ecommerce/checkout-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): recalculate attempt earned marks from answers on review
  assets/src/js/admin-dashboard/segments/options.js
  classes/Quiz.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Optimization] Instructor and student dashboard query with passing variable and Quiz Attempt cache
  models/QuizModel.php
  templates/dashboard.php
  templates/dashboard/dashboard.php
  templates/dashboard/instructor/home.php
  templates/learning-area/components/sidebar.php
  templates/learning-area/index.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

[Optimization] Course count query updated and Instructor and Student Dashboard query improved
  models/CourseModel.php
  templates/dashboard/components/header.php
  templates/dashboard/my-courses.php
  templates/dashboard/student/dashboard.php
  templates/dashboard/student/stats.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: XSS security vulnerability fixed on user content log view
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): simplify permission handling for REST API routes
  classes/RestAPI.php
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(auth): update permission checks for API key management
  restapi/RestAuth.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Stored XSS in profile display name consent logs and IDOR in quiz builder question deletion
  GDPR/Controllers/UserConsent.php
  assets/src/js/admin-dashboard/segments/consent-logs.js
  assets/src/js/admin-dashboard/segments/students.js
  classes/QuizBuilder.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update: Sanitize & strip out html tags before storing user profile data
  classes/Input.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add dark editor/media styles & theme refactor
  assets/core/scss/components/_index.scss
  assets/core/scss/components/_wp-editor.scss
  assets/core/scss/components/_wp-media-modal.scss
  assets/core/scss/themes/_high-contrast.scss
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/layouts/Notebook.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/shared/atoms/ImageInput.tsx
  assets/src/js/v3/shared/atoms/Tooltip.tsx
  assets/src/js/v3/shared/atoms/WPEditor.tsx
  assets/src/js/v3/shared/components/fields/FormCategoriesInput.tsx
  assets/src/js/v3/shared/components/fields/FormFieldWrapper.tsx
  assets/src/js/v3/shared/components/fields/FormMultiLevelSelect.tsx
  assets/src/js/v3/shared/components/fields/FormWPEditor.tsx
  assets/src/js/v3/shared/config/styles.ts
  assets/src/js/v3/shared/molecules/ThreeDots.tsx
  views/pages/course-builder.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Use theme tokens for coordinate graph
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

feat(quiz-settings): Add negative mark type mismatch alert
  assets/src/js/v3/entries/course-builder/components/curriculum/NegativeMarkTypeMismatchNotice.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/shared/atoms/Alert.tsx
Due: eslint --fix, prettier --write

refactor(quiz): Resolve earned marks not showing
  classes/Quiz.php
  templates/learning-area/quiz/content.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: Remove unnecessary code
  assets/src/js/admin-dashboard/segments/options.js
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  classes/Quiz.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
