Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Refactor FormScale validation functions to use arrow function syntax for improved readability and consistency
  assets/src/js/v3/shared/components/fields/quiz/questions/FormScale.tsx
Due: eslint --fix, prettier --write

refactor: update order history components to use small button and sorting sizes
  templates/dashboard/account/billing/order-history.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Hook placement, query helper issue
  GDPR/Controllers/UserConsent.php
  assets/src/js/admin-dashboard/segments/consent-logs.js
  classes/Instructor.php
  classes/Student.php
  helpers/QueryHelper.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Checkout consent not working
  GDPR/Controllers/LegalConsent.php
  ecommerce/CheckoutController.php
  templates/ecommerce/checkout.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: enhance button mixins for consistency and readability; update course card styles with background, padding, and border; refine wishlist template structure for improved layout
  assets/core/scss/mixins/_buttons.scss
  assets/src/scss/frontend/dashboard/_course-card.scss
  templates/dashboard/courses.php
  templates/dashboard/wishlist.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style: update icon_class formatting in wishlist template
  templates/dashboard/wishlist.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: qna tab is showing even it disabled for course
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs: add docblock for delete question functionality in Q_And_A class
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: suppress phpcs warning for escaped variable in Q&A deletion query
  classes/Q_And_A.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Quiz generate popover initial design added
  assets/icons/difficulty-easy.svg
  assets/icons/difficulty-hard.svg
  assets/icons/difficulty-normal.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/GenerateQuizWithAi.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/contexts/QuizModalContext.tsx
  assets/src/js/v3/shared/components/fields/FormSelectInput.tsx
  assets/src/js/v3/shared/icons/types.ts
  assets/src/js/v3/shared/molecules/Popover.tsx
  assets/src/js/v3/shared/utils/endpoints.ts
  classes/Icon.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Add AI quiz generation flow & mutation
  assets/src/js/v3/entries/course-builder/components/curriculum/GenerateQuizWithAi.tsx
  assets/src/js/v3/shared/services/magic-ai.ts
Due: eslint --fix, prettier --write

z-index issue with toast fixed
  assets/src/js/v3/shared/atoms/Toast.tsx
  assets/src/js/v3/shared/config/styles.ts
Due: eslint --fix, prettier --write

Split question types and revamp UI/styles
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
Due: eslint --fix, prettier --write

Rename 'Mark in the Image' to 'Draw on Image'
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionConditions.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/DrawImagePreview.tsx
  classes/QuizBuilder.php
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Revamp notebook collapse trigger & styles
  assets/src/js/v3/entries/course-builder/components/layouts/Notebook.tsx
Due: eslint --fix, prettier --write

Revert "fix: Set default value on toggle"
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
Due: eslint --fix, prettier --write

fix: Popover not respecting viewport safe area
  assets/src/js/v3/shared/components/fields/FormInputWithPresets.tsx
Due: eslint --fix, prettier --write

fix: Default value now always shows correct value
  assets/src/js/v3/entries/course-builder/services/quiz.ts
Due: eslint --fix, prettier --write

feat(scss): add toast design tokens and separate SCSS entry point
  assets/core/scss/components/_toast.scss
  assets/core/scss/toast.scss
  assets/core/scss/tokens/_index.scss
  assets/core/scss/tokens/_toast.scss
Due: none

feat(ts): add configurable theme support to toast system
  assets/core/ts/toast/index.ts
  assets/core/ts/toast/react.tsx
  assets/core/ts/toast/runtime.ts
  assets/core/ts/toast/styles.ts
  assets/core/ts/types/toast.ts
Due: eslint --fix, prettier --write

refactor(ts): remove unused re-exports and redundant constructor from ToastService
  assets/core/ts/services/Toast.ts
Due: eslint --fix, prettier --write

refactor(react): update toast imports across all React app entries
  assets/src/js/v3/entries/addon-list/components/AddonCard.tsx
  assets/src/js/v3/entries/addon-list/components/App.tsx
  assets/src/js/v3/entries/addon-list/services/addons.ts
  assets/src/js/v3/entries/coupon-details/components/App.tsx
  assets/src/js/v3/entries/coupon-details/services/coupon.ts
  assets/src/js/v3/entries/course-builder/components/App.tsx
  assets/src/js/v3/entries/course-builder/components/ai-course-modal/ContentGeneration.tsx
  assets/src/js/v3/entries/course-builder/components/curriculum/TopicFooter.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/course.ts
  assets/src/js/v3/entries/course-builder/services/curriculum.ts
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/entries/import-export/components/App.tsx
  assets/src/js/v3/entries/import-export/components/Import.tsx
  assets/src/js/v3/entries/import-export/components/modals/import-export-states/ImportInitialState.tsx
  assets/src/js/v3/entries/import-export/services/import-export.ts
  assets/src/js/v3/entries/order-details/components/App.tsx
  assets/src/js/v3/entries/order-details/services/order.ts
  assets/src/js/v3/entries/payment-settings/components/App.tsx
  assets/src/js/v3/entries/payment-settings/fields/OptionWebhookUrl.tsx
  assets/src/js/v3/entries/payment-settings/services/payment.ts
  assets/src/js/v3/entries/tax-settings/components/App.tsx
  assets/src/js/v3/shared/atoms/Toast.tsx
  assets/src/js/v3/shared/components/magic-ai-image/ImageGeneration.tsx
  assets/src/js/v3/shared/hooks/useWpMedia.ts
  assets/src/js/v3/shared/services/category.ts
  assets/src/js/v3/shared/services/magic-ai.ts
  assets/src/js/v3/shared/services/subscription.ts
  assets/src/js/v3/shared/services/tags.ts
Due: eslint --fix, prettier --write

build(config): add toast SCSS entry and update PHP asset registration
  assets/src/js/@types/styles.d.ts
  assets/src/js/v3/shared/atoms/CheckBox.tsx
  classes/Course.php
  rspack.config.mjs
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): update attempt details templates
  classes/Utils.php
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: simplify attempt answer assignment in quiz detail templates
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove redundant whitespace in Utils class
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: remove redundant attempt_answer variable in favor of direct question object usage across quiz attempt templates
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions/fill-in-the-blank.php
  templates/shared/components/quiz/attempt-details/questions/multiple-choice.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  templates/shared/components/quiz/attempt-details/questions/review-answer-dnd.php
  templates/shared/components/quiz/attempt-details/questions/true-false.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename attempt_answers variables to questions for consistent naming across quiz attempt templates
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/review-answers.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Update progress tokens
  classes/Quiz_Attempts_List.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: Add kids icon
  assets/icons/kids/animation.svg
  assets/icons/kids/contrast.svg
Due: none

feat: add url configuration to PreviewTrigger
  assets/core/ts/components/preview-trigger.ts
  components/PreviewTrigger.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: update quiz attempt summary layout with sticky sidebar responsiveness and improved spacing
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
Due: none

refactor: replace hardcoded quiz question exclusion with a filterable mechanism to safely merge query conditions
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Skills added for claude & cursor
  .claude/skills/core-development-skill/SKILL.md
  .claude/skills/wpcs-security-skill/SKILL.md
  .cursor/skills/core-development-skill/SKILL.md
  .cursor/skills/wpcs-security-skill/SKILL.md
Due: prettier --write

Removed skill from build
  gulpfile.mjs
Due: none

fix: add null check to order date retrieval in billing order history card
  templates/dashboard/account/billing/wc-order-history-card.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add options param to get_assignment_deadline
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Quiz preview question mark is not showing correctly on preview
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

Core development & wp security skills updated
  .claude/skills/core-development-skill/SKILL.md
  .cursor/skills/core-development-skill/SKILL.md
Due: prettier --write

refactor: Convert function declarations to arrow functions in FormCoordinates component for consistency and improved readability
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
