Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": ["./vendor/bin/phpstan analyze --memory-limit=-1"]
}

Showing alert if AI connector setup is not there
  assets/src/js/v3/shared/components/modals/SetupOpenAiModal.tsx
Due: eslint --fix, prettier --write

Move cart-button block to assets/blocks
  .gitignore
  assets/src/blocks/cart-button/block.json
  assets/src/blocks/cart-button/edit.js
  assets/src/blocks/cart-button/index.js
  assets/src/blocks/cart-button/render.php
  assets/src/blocks/cart-button/save.js
  assets/src/blocks/cart-button/style.scss
  classes/Assets.php
  classes/Gutenberg.php
  rspack.config.mjs
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): decouple partial and negative marking to pro via hooks
  classes/Quiz.php
  models/QuizModel.php
  openspec/changes/quiz-partial-negative-marking/research-pro-disabled-leakage.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/summary.php
  views/quiz/attempt-details.php
  views/quiz/attempt-table.php
Due: prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): consolidate manual quiz review logic
  classes/Quiz.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): use QuizModel attempt info maps in templates
  templates/dashboard/quiz-attempts/quiz-reviews.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  templates/shared/components/quiz/attempt-details/review-answers.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(admin): proceed toggle turn-off when not in use
  assets/src/js/admin-dashboard/segments/options.js
  views/options/field-types/toggle_switch.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

docs(quiz): add quiz review fix plan
  docs/quiz-review-fix-plan.md
Due: prettier --write

refactor(options): decouple turnoff confirmation from toggle template
  assets/src/js/admin-dashboard/segments/options.js
  views/options/field-types/toggle_switch.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): drop partial marking from core attempt details
  classes/Course.php
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question.php
  templates/shared/components/quiz/attempt-details/questions-sidebar.php
  templates/shared/components/quiz/attempt-details/review-answers.php
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

chore(openspec): remove openspec planning files and skills
  .agents/skills/.openspec-target
  .agents/skills/openspec-apply-change/SKILL.md
  .agents/skills/openspec-archive-change/SKILL.md
  .agents/skills/openspec-explore/SKILL.md
  .agents/skills/openspec-propose/SKILL.md
  .agents/skills/openspec-sync-specs/SKILL.md
  .agents/skills/openspec-update-change/SKILL.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-update-change/SKILL.md
  .cursor/skills/openspec-apply-change/SKILL.md
  .cursor/skills/openspec-archive-change/SKILL.md
  .cursor/skills/openspec-explore/SKILL.md
  .cursor/skills/openspec-propose/SKILL.md
  .cursor/skills/openspec-sync-specs/SKILL.md
  .cursor/skills/openspec-update-change/SKILL.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-update-change/SKILL.md
  openspec/changes/archive/.gitkeep
  openspec/changes/quiz-partial-negative-marking/.openspec.yaml
  openspec/changes/quiz-partial-negative-marking/README.md
  openspec/changes/quiz-partial-negative-marking/design.md
  openspec/changes/quiz-partial-negative-marking/proposal.md
  openspec/changes/quiz-partial-negative-marking/research-pro-disabled-leakage.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-attempt-answer-status/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-manual-grading/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-scoring/spec.md
  openspec/changes/quiz-partial-negative-marking/specs/quiz-partial-negative-settings/spec.md
  openspec/changes/quiz-partial-negative-marking/tasks.md
  openspec/changes/quiz-partial-negative-marking/verification-report.md
  openspec/config.yaml
  openspec/specs/.gitkeep
Due: prettier --write

chore(opsx): remove opsx workflows and commands
  .agents/workflows/opsx-apply.md.bak
  .agents/workflows/opsx-archive.md.bak
  .agents/workflows/opsx-explore.md.bak
  .agents/workflows/opsx-propose.md.bak
  .agents/workflows/opsx-sync.md.bak
  .agents/workflows/opsx-update.md.bak
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/update.md
  .cursor/commands/opsx-apply.md
  .cursor/commands/opsx-archive.md
  .cursor/commands/opsx-explore.md
  .cursor/commands/opsx-propose.md
  .cursor/commands/opsx-sync.md
  .cursor/commands/opsx-update.md
  .opencode/commands/opsx-apply.md
  .opencode/commands/opsx-archive.md
  .opencode/commands/opsx-explore.md
  .opencode/commands/opsx-propose.md
  .opencode/commands/opsx-sync.md
  .opencode/commands/opsx-update.md
Due: prettier --write

docs(quiz): remove quiz review fix plan
  docs/quiz-review-fix-plan.md
Due: prettier --write

fix(quiz): polish instructor feedback panel in attempt details
  assets/src/js/v2/quiz-attempt.js
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  models/QuizModel.php
  templates/shared/components/quiz/attempt-details/question-header.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(settings): resync toggle-dependent fields after turn-off confirm flow
  assets/src/js/admin-dashboard/segments/options.js
Due: none

refactor(quiz): enhance access control for quiz attempt details by consolidating permission checks
  templates/shared/components/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(quiz): inline negative marking penalty and regroup grading settings
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/shared/components/fields/FormInputWithContent.tsx
Due: eslint --fix, prettier --write

feat(field): Add tooltip support
  views/options/template/common/field_heading.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: PHP error null passing to array_merge
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Cart button: rename class, RTL & markup refactor
  assets/src/blocks/cart-button/block.json
  assets/src/blocks/cart-button/edit.js
  assets/src/blocks/cart-button/render.php
  assets/src/blocks/cart-button/style.scss
  classes/Shortcode.php
  includes/ecommerce-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Image base64 string issue
  assets/src/js/v3/shared/components/magic-ai-image/ImageGeneration.tsx
  classes/Utils.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Fix base64 image generation issue
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/shared/config/config.ts
Due: eslint --fix, prettier --write

Fix: Sanitize and prepare dynamic SQL query parameters in Utils
  classes/Utils.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): Add partial status to attempt details
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  assets/src/scss/frontend/components/_quiz-summary.scss
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): Update admin manual grading flow
  assets/src/js/lib/modules/quiz.js
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): Rework manual review actions and question feedback modal
  assets/src/js/lib/modules/quiz.js
  assets/src/js/v2/quiz-attempt.js
  assets/src/scss/modules/quiz-attempts.scss
  views/quiz/attempt-details.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): Make attempt summary statics filterable and orderable
  classes/Quiz_Attempts_List.php
  templates/shared/components/quiz/attempt-details/summary.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(instructor-dashboard): show skeleton pre-JS, hide empty sections, add no-JS fallback
  templates/dashboard/instructor/home.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix(instructor-dashboard): give tiny completion-chart segments a minimum width
  assets/src/js/frontend/dashboard/pages/instructor/home-charts.ts
Due: eslint --fix, prettier --write

fix(quiz): gate mark breakdown to instructors and reorder summary parameters
  assets/icons/minus-circle.svg
  assets/src/js/v3/shared/icons/types.ts
  classes/Icon.php
  classes/Quiz.php
  views/quiz/attempt-details.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

feat(quiz): add settings filter and standardize negative marking config keys
  assets/src/js/v3/@types/index.d.ts
  assets/src/js/v3/entries/course-builder/components/curriculum/QuizSettings.tsx
  assets/src/js/v3/entries/course-builder/components/modals/QuizModal.tsx
  assets/src/js/v3/entries/course-builder/services/quiz.ts
  assets/src/js/v3/shared/config/config.ts
  classes/QuizBuilder.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

refactor(quiz): separate quiz settings sanitization from filter
  classes/QuizBuilder.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Cart button block style fixed
  assets/src/blocks/cart-button/block.json
  assets/src/blocks/cart-button/style.scss
Due: none

Removed the AI connectors localize data
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

style(quiz): Update styles and icons
  assets/icons/comment-outline.svg
  assets/src/js/v3/entries/course-builder/components/curriculum/QuestionList.tsx
  assets/src/js/v3/shared/icons/types.ts
  assets/src/scss/frontend/components/_quiz-attempt-details.scss
  classes/Icon.php
  templates/shared/components/quiz/attempt-details/questions/open-ended.php
  views/quiz/attempt-details.php
Due: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

Enhancement: Implement mobile fullscreen fix for Plyr video player
  assets/core/ts/components/player.ts
  assets/core/ts/utils/player-fullscreen.ts
  assets/src/js/front/tutor-front.js
  assets/src/js/frontend/learning-area/lesson/player.ts
  assets/src/scss/front/course-spotlight/_players.scss
  assets/src/scss/frontend/components/_player.scss
  assets/src/scss/frontend/learning-area/_lesson-content.scss
Due: eslint --fix, prettier --write

Add selectable cart icons and size support
  assets/icons/bag.svg
  assets/icons/basket.svg
  assets/src/blocks/cart-button/block.json
  assets/src/blocks/cart-button/edit.js
  assets/src/blocks/cart-button/render.php
  assets/src/blocks/cart-button/style.scss
  classes/Shortcode.php
  includes/ecommerce-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update style.scss
  assets/src/blocks/cart-button/style.scss
Due: none

Add @Icons alias and update icon imports
  assets/src/blocks/cart-button/edit.js
  rspack.config.mjs
  tsconfig.json
Due: none

Fix: SQL injection in withdraw request tabs and quiz attempts query
  classes/Withdraw_Requests_List.php
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Return cart button HTML and add $echo param
  classes/Shortcode.php
  includes/ecommerce-functions.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1
