Repository themeum/tutor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./vendor/bin/phpstan analyze --memory-limit=-1

🆕 : Pending status added for both order and payment status.
  ecommerce/HooksHandler.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Pending status added for pending type capture order from payment gateway
  ecommerce/HooksHandler.php
  models/OrderModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: rename instructor home section AJAX handlers and optimize code style formatting
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: wp_ajax does not required login check
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Admin notice added for version 4 beta release
  assets/images/v4-notice-illustration.svg
  assets/images/v4-notice-logo.svg
  assets/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: integrate JsonResponse trait and add instructor authorization checks to home section AJAX handlers
  classes/Instructor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Missing alt text added
  templates/dashboard/my-courses.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Terms & conditions checkbox added to the registration pages
  classes/Instructor.php
  classes/Student.php
  templates/dashboard/instructor/registration.php
  templates/dashboard/registration.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: UX improved for immediate dashboard section updates
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
Due: eslint --fix, prettier --write

refactor: update image input handling in FormPuzzle component
  assets/src/js/v3/shared/components/fields/quiz/questions/FormPuzzle.tsx
Due: eslint --fix, prettier --write

Update Admin.php
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

nocache added to the blog post link
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add random nocache token to beta notice link
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Revert "Add random nocache token to beta notice link"
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Since version updated
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Improve code
  classes/Course.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Version & changelog updated
  readme.txt
  tutor.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

update: used endpoints constants
  assets/src/js/frontend/dashboard/pages/instructor/sort-sections.ts
  assets/src/js/v3/shared/utils/endpoints.ts
Due: eslint --fix, prettier --write

Fixed invalid condition checking.
  ecommerce/HooksHandler.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: add CoordinatesPreview component for quiz question type
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/CoordinatesPreview.tsx
  assets/src/js/v3/shared/components/fields/quiz/questions/FormCoordinates.tsx
Due: eslint --fix, prettier --write

Add heading link styles and feedback link
  assets/scss/admin-dashboard/_tutor-admin.scss
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Set terms & condition required check if the page is there
  classes/Instructor.php
  classes/Student.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Add rel and tighten kses for beta notice links
  classes/Admin.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

refactor: enhance quiz attempt details template
  templates/shared/components/quiz/attempt-details/question.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Fix: Wrong user id set
  ecommerce/CheckoutController.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Changelog updated
  readme.txt
Due: none

Add progressStrokeColor support to statics component and fix calendar theme detection
  assets/core/ts/components/calendar.ts
  assets/core/ts/components/statics.ts
Due: eslint --fix, prettier --write

Add secondary icon color tokens for success and warning
  assets/core/scss/themes/_dark.scss
  assets/core/scss/themes/_light.scss
  assets/core/scss/tokens/_icons.scss
Due: none

Add quiz attempts list functionality and update quiz attempt templates
  classes/Quiz_Attempts_List.php
  templates/shared/components/quiz/attempt-details/review-answers.php
  templates/shared/components/quiz/attempt-details/summary.php
  templates/shared/components/student-quiz-attempt-row.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Update: Quiz attempt list query to improve performance
  classes/Quiz_Attempts_List.php
  models/QuizModel.php
  templates/dashboard/my-quiz-attempts.php
  templates/dashboard/quiz-attempts.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

Theme colors updated
  assets/core/scss/themes/_dark-deuteranomaly.scss
  assets/core/scss/themes/_dark-deuteranopia.scss
  assets/core/scss/themes/_dark-high-contrast.scss
  assets/core/scss/themes/_dark-protanopia.scss
  assets/core/scss/themes/_light-deuteranomaly.scss
  assets/core/scss/themes/_light-deuteranopia.scss
  assets/core/scss/themes/_light-high-contrast.scss
  assets/core/scss/themes/_light-protanopia.scss
Due: none

svg color issue fixed
  assets/icons/archive-2.svg
  assets/icons/grab-handle.svg
  assets/icons/gradebook.svg
  assets/icons/interface.svg
  assets/icons/publish.svg
  assets/icons/wallet.svg
  assets/icons/warning-line.svg
  assets/icons/x.svg
Due: none

purge css condition updated
  rspack.config.mjs
Due: none

feat: add PuzzlePreview component for quiz question type
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
  assets/src/js/v3/entries/course-builder/components/modals/question-previews/PuzzlePreview.tsx
Due: eslint --fix, prettier --write

refactor: remove outdated comments in QuestionPreviewModal
  assets/src/js/v3/entries/course-builder/components/modals/QuestionPreviewModal.tsx
Due: eslint --fix, prettier --write

updated quiz id
  models/QuizModel.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

fix: Use current color instead of hard coded colors
  assets/icons/github.svg
  assets/icons/wallet.svg
  assets/icons/x.svg
Due: none

fix: Use icon color tokens
  assets/src/scss/frontend/dashboard/settings/_preferences.scss
  assets/src/scss/frontend/dashboard/settings/_profile.scss
  assets/src/scss/frontend/dashboard/settings/_social-accounts.scss
Due: none

feat: Add transition to nav
  components/Nav.php
  templates/dashboard/instructor/home/top-performing-course-filter.php
Due: ./vendor/bin/phpstan analyze --memory-limit=-1

feat: enhance QuestionListTable with additional quiz question types
  assets/src/js/v3/entries/course-builder/components/modals/ContentBankContentSelectModal/QuestionListTable.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,jsonc,md}
  ./vendor/bin/phpstan analyze --memory-limit=-1: any of: *.php
